{% load i18n %}
<div class="modal custom-modal fade" id="delete_approve" role="dialog" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="form-header text-center ">  
                    <i class=" fas fa-trash-alt fa-3x my-3 text-danger"></i> 
                    <h3>{% trans 'confirm_delete'%}</h3>

                </div>
                <div class="modal-btn delete-action my-3">
                    <div class="row text-center">
                        <div class="col-6"> 
                            <form action="" method="POST" id="delete-form">
                                {% csrf_token%}
                                
                                <button type="submit" id="confirmed_delete" class="btn btn-danger continue-btn w-100">{% trans 'delete' %}</a>
                            </form>
                        </div>
                        <div class="col-6">
                            <a href="javascript:void(0);" data-bs-dismiss="modal" class="btn btn-primary cancel-btn w-100">{% trans 'cancel' %}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



{% block script %}
<script>
    let  modal = document.getElementById('delete_approve')
    modal.addEventListener('show.bs.modal' , (e)=> {
        let button = e.relatedTarget
        url = button.getAttribute('data-url')
        console.log(url)
        let form = document.getElementById('delete-form')
        form.setAttribute('action' , url  )


    })
</script>
{% endblock %}