{% extends '../base.html' %}
{% block content %}
{% load static %}
<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box d-flex align-items-center justify-content-between">
            <h4 class="mb-0">صفحة المستخدم </h4>



        </div>
    </div>
</div>
<!-- end page title -->

<div class="row mb-4">
    <div class="col-xl-5">
        <div class="card h-100">
            <div class="card-body">
                <div class="text-center">
                    <div class="dropdown float-end">
                        <a class="text-body dropdown-toggle font-size-18" href="#" role="button"
                            data-bs-toggle="dropdown" aria-haspopup="true">
                            <i class="uil uil-ellipsis-v"></i>
                        </a>


                    </div>
                    <div class="clearfix"></div>
                    <div>
                        {% if user.profile_pic %}
                        <img src="{{user.profile_pic.url}}" alt="" class="avatar-lg rounded-circle img-thumbnail">
                        {% else %}
                        <img src="{% static 'images/users/avatar.jpg' %}" alt=""
                            class="avatar-lg rounded-circle img-thumbnail">
                        {% endif %}
                    </div>
                    <h5 class="mt-3 mb-1">{{user}}</h5>
                    <p class="text-muted">{{user.get_role_display}}</p>

                    <div class="mt-4">
                        {% if not  request.user  ==  user %}
                        {% if request.user.role == 1   %}
                        <button type="button" class="btn btn-dark btn"><i class="uil uil-envelope-alt me-2"></i>
                            ارسال رسالة </button>

                        <button type="button" class="btn btn-dark btn" data-bs-toggle="modal"
                            data-bs-target="#newTaskModal"> <i class="uil uil-clipboard-notes "></i>
                            تعيين مهمة </button>
                        {% endif %}
                        {% if request.user.role == 1   %}

                        <a href="{% url 'delete_user' user.username %}" class="btn btn-danger text-light btn "
                            id="confirm_delete"><i class="uil uil-trash-alt me-2"></i>
                            حذف </a>
                        {% endif %}
                        {% endif %}

                    </div>
                </div>

                <hr class="my-4">

                <div class="text-muted">
                    <div class="mt-4">
                        <div>
                            <p class="mb-1">الاسم:</p>
                            <h5 class="font-size-16">{{user.name}}</h5>
                        </div>
                        <div class="mt-4">
                            <p class="mb-1">الجوال:</p>
                            <h5 class="font-size-16">{{user.phone}}</h5>
                        </div>
                        {% if user.email %}
                        <div class="mt-4">
                            <p class="mb-1">البريد الاليكتروني :</p>
                            <h5 class="font-size-16">{{user.email}}</h5>
                        </div>
                        {% endif %}
                        <div class="mt-4">
                            <p class="mb-1">الوظيفة :</p>
                            <h5 class="font-size-16">{{user.get_role_display}}</h5>
                        </div>


                        {% if request.user.role == 1 or request.user.role == 2 or request.user.role == 3  %}
                        <div class="mt-4">
                            <p class="mb-1 d-inline ">عدد مفضلات التركيب/ الصيانة المسموح بها : </p>
                            <span class=" px-1 d-inline">{{user.favourite_qouta.max_requests}}</span>
                            <button id="qoutaEdit" class="btn btn-sm btn-rounded bg-soft-info">
                                تعديل
                                <i class="uil uil-edit-alt font-size-20 "></i>
                            </button>

                        </div>
                        <div class="mt-4">
                            <p class="mb-1 d-inline ">عدد مفضلات التركيب/ الصيانة لليوم : </p>
                            <span class=" px-1 d-inline">{{user.favourite_qouta.current_requests}}</span>

                        </div>
                        {% endif %}
                        <div class="collapse" id="collapseExample">
                            <div class="card card-body">
                                <form action="{% url 'edit_qouta' %}" method="POST">
                                    {% csrf_token %}
                                    <input type="hidden" name="user_id" value="{{user.id}}">
                                    <div class="d-flex">
                                        <input type="number" class="form-control" name="max_number">
                                        <input type="submit" class="btn btn-sm btn-success mx-1" value="تغيير ">
                                    </div>
                                </form>
                            </div>
                        </div>
                        {% if request.user.role == 1 %}
                        <div class="mt-4">
                            <p class="mb-1 d-inline "> الخدمات المتاحة للمستخدم : </p>
                            <div class="row ">
                                <form action="{% url 'edit_services_allowed' %}" method="POST"
                                    class="row text-center text-dark">
                                    {% csrf_token %}
                                    <input type="hidden" name="user_id" value="{{user.id}}">
                                    <div class="col">
                                        <input type="checkbox" name="install" value="checked" id="install_check"
                                            {% if user.install %} checked {% endif %}>
                                        التركيب
                                    </div>


                                    <div class="col">
                                        <input type="checkbox" name="repair" value="checked" id="repair_check"
                                            {% if user.repair %} checked {% endif %}>
                                        الصيانة
                                    </div>

                                    <div class="col">
                                        <input type="checkbox" name="quarter" value="checked" id="quarter_check"
                                            {% if user.quarter %} checked {% endif %}>
                                        كوارتر
                                    </div>
                                    <div class="col">
                                        <button class="btn btn-sm btn-success d-none" id="role_change" type="submit">
                                            حفظ
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="col-xl-7">
        <div class="card mb-0">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs nav-tabs-custom nav-justified" role="tablist">

                <li class="nav-item">
                    <a class="nav-link active " data-bs-toggle="tab" href="#tasks" role="tab">
                        <i class="uil uil-clipboard-notes font-size-20"></i>
                        <span class="d-none d-sm-block">المهام </span>
                    </a>
                </li>
                {% if request.user.role == 1 %}
                <li class="nav-item">
                    <a class="nav-link " data-bs-toggle="tab" href="#edit" role="tab">
                        <i class="uil uil-edit-alt font-size-20"></i>
                        <span class="d-none d-sm-block">تعديل البيانات </span>
                    </a>
                </li>
                {% endif %}
            </ul>
            <!-- Tab content -->
            <div class="tab-content p-4">
                <div class="tab-pane active" id="tasks" role="tabpanel">
                    <div>

                        <!-- <div class="mt-3  border-bottom border-primary">
                            <h4>عمليات جاري تنفيذها </h4>
                            {% if not current_tasks%}
                            <p class="text-bold text-center " style="font-size: 18px ; font-weight : 600"> لا يوجد مهام
                                حالية ..
                            </p>
                            {% else%}
                            <div class="table-responsive mb-2 border-bottom border-primary">
                                <h4 class="my-3">عمليات جاري تنفيذها </h4>
                                <table class="table table-nowrap table-centered">
                                    <tbody>
                                        {% for task in current_tasks %}
                                        <tr>

                                            <td>
                                                <a href="#" class="fw-bold text-dark">{{task}}</a>
                                            </td>

                                            <td>{{task.date}}</td>
                                            <td style="width: 160px;"><span
                                                    class="badge bg-soft-primary font-size-14 p-2">{{task.service_request.get_service_type_display}}</span>
                                            </td>

                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>

                            {% endif %}
                        </div> -->
                        <!-- <div class="mt-2 border-bottom border-primary">
                            <h4 class=" my-3">عمليات مكتملة </h4>

                            <div class="table-responsive">
                                {% if not completed_tasks%}
                                <p class="text-bold text-center " style="font-size: 18px ; font-weight : 600"> لا يوجد
                                    عمليات مكتملة بعد ..
                                </p>
                                {% else%}
                                <div class="table-responsive mb-2 ">
                                    <table class="table table-nowrap table-centered">
                                        <tbody>
                                            {% for task in completed_tasks %}
                                            <tr>

                                                <td>

                                                    <a href="#" class="fw-bold text-dark">
                                                        {% if task in other_completed %}
                                                        {{task.title}}
                                                        {% else %}
                                                        {{task}}
                                                        {% endif %}
                                                    </a>
                                                </td>

                                                <td>

                                                    {% if task in other_completed %}
                                                    {{task.due_date.date}}
                                                    {% else %}
                                                    {{task.date}}
                                                    {% endif %}

                                                </td>
                                                <td style="width: 160px;"><span
                                                        class="badge bg-soft-primary font-size-14 p-2">
                                                        {% if task in other_completed %}
                                                        مهام اخري
                                                        {% else %}
                                                        {{task.service_request.get_service_type_display}}
                                                        {% endif %}
                                                    </span>
                                                </td>

                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                                {% endif %}
                            </div>
                        </div> -->

                        <div class="mt-3">


                            <h4 class=" mb-3">طلبات تم اضافتها بواسطة {{user.username}} : </h4>
                            {% if not all_submitted %}
                            <p class="text-bold text-center " style="font-size: 18px ; font-weight : 600"> لا يوجد مهام
                                حالية </p>
                            {% else%}
                            <div class="table-responsive mb-2 border-bottom border-primary" style="max-height : 400px ">
                                <table class="table table-nowrap table-centered text-center">
                                    <thead>
                                        <tr>
                                            <th>رقم</th>
                                            <th>تاريخ الطلب</th>
                                            <th>نوع الطلب</th>
                                            <th>حالة الطلب</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        {% for req in all_submitted %}
                                        <tr>

                                            <td>
                                                <a {% if req in submitted_orders %}
                                                    href="{% url 'service_request_details' req.id  %}" {% else %}
                                                    href="{% url 'quarter_request_details' req.id  %}" {% endif %}
                                                    class="fw-bold text-dark">{{req.request_number|truncatechars:25}}</a>
                                            </td>

                                            <td> <span
                                                    class="badge bg-soft-warning font-size-14 p-2">{{req.timestamp.date}}</span>
                                            </td>
                                            <td>
                                                {% if req in submitted_orders %} {{req.get_service_type_display}}
                                                {% else %} كوارتر {% endif %}
                                            </td>
                                            <td><span
                                                    class="badge bg-soft-success p-1 ">{{req.get_status_display}}</span>
                                            </td>
                                            <td>
                                                <a {% if req in submitted_orders %}
                                                    href="{% url 'service_request_details' req.id  %}" {% else %}
                                                    href="{% url 'quarter_request_details' req.id  %}" {% endif %}
                                                    class="btn btn-rounded waves-effect waves-light bg-soft-primary ">
                                                    التفاصيل
                                                    <i class="fas fa-info-circle"></i>
                                                </a>
                                            </td>


                                        </tr>

                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            {% endif %}
                        </div>
                        <div class="mt-3  border-bottom border-primary">
                            <h4 class=" mb-3">المهام الحالية </h4>
                            {% if not other_tasks%}
                            <p class="text-bold text-center " style="font-size: 18px ; font-weight : 600">
                                لا يوجد مهام
                                حالية ..
                            </p>
                            {% else%}
                            <div class="table-responsive mb-2 border-bottom border-primary">
                                <table class="table table-nowrap table-centered">
                                    <tbody>
                                        {% for task in other_tasks %}
                                        <tr>

                                            <td>
                                                <a href="" data-bs-toggle="modal"
                                                    data-bs-target="#staticBackdrop{{task.id}}"
                                                    class="fw-bold text-dark">{{task.title|truncatechars:25}}</a>
                                            </td>

                                            <td> <i class="far fa-clock"></i> الوقت المحدد : <span
                                                    class="badge bg-soft-warning font-size-14 p-2">{{task.due_date.date}}</span>
                                            </td>

                                            <td>
                                                <button
                                                    class="btn btn-rounded waves-effect waves-light bg-soft-primary "
                                                    data-bs-toggle="modal" data-bs-target="#staticBackdrop{{task.id}}">
                                                    تفاصيل المهمة
                                                    <i class="fas fa-info-circle"></i>
                                                </button>
                                            </td>
                                            {% if request.user.role == 1  %}

                                            <td>

                                                <a class="btn btn-rounded waves-effect waves-light bg-soft-danger "
                                                    href="{% url 'delete_task' task.id %}">
                                                    حذف
                                                    <i class="fas fa-ban"></i>
                                                </a>

                                            </td>

                                            {% elif request.user == user %}
                                            <td>
                                                <form action="{% url 'update_task' %}" method="POST">
                                                    {% csrf_token %}
                                                    <input type="hidden" name="task_id" value="{{task.id}}">
                                                    <button
                                                        class="btn btn-rounded waves-effect waves-light bg-soft-success ">
                                                        اتمام
                                                        <i class="fas fa-check-circle"></i>
                                                    </button>
                                                </form>
                                            </td>
                                            {% endif %}
                                        </tr>
                                        <!-- staticBackdrop Modal -->
                                        <div class="modal fade" id="staticBackdrop{{task.id}}" data-bs-backdrop="static"
                                            data-bs-keyboard="false" tabindex="-1" role="dialog"
                                            aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header text-center">
                                                        <h5 class="modal-title ">{{task.title}}</h5>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                            aria-label="Close">
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <div class="border-bottom">

                                                            <p>تاريخ تعيين المهمة : {{task.timestamp.date}}</p>
                                                            <p>بواسطة :
                                                                {%if task.created_by.name %}
                                                                <span
                                                                    style="font-size: 18px;">{{task.created_by.name}}</span>
                                                                {% else %}
                                                                {{task.created_by.user.name}}
                                                                {% endif %}
                                                            </p>
                                                        </div>
                                                        <div class="border-bottom">
                                                            <span>تفاصيل المهمة :</span>
                                                            <p style="font-size: 18px;">{{task.details}}</p>
                                                        </div>
                                                        <div class=" border-bottom mt-2">
                                                            <span>الوقت المحدد للتنفيذ :</span>
                                                            <p>{{task.due_date.date}}</p>
                                                        </div>
                                                        {% if task.files %}
                                                        <div class="  mt-2">
                                                            <span></span>
                                                            <a class="btn btn-lg bg-soft-primary"
                                                                href="{{task.files.url}}" target="_blank">عرض الملفات
                                                            </a>
                                                        </div>
                                                        {% endif %}


                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-light"
                                                            data-bs-dismiss="modal">اغلاق</button>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="tab-pane " id="edit" role="tabpanel">
                    <div class="container">
                        <div data-simplebar style="max-height: 430px; max-width:100%">
                            <form action="{% url 'edit_user' %}" method="POST" enctype="multipart/form-data"
                                class="mb-5">
                                <input type="hidden" name="user_id" value="{{user.id}}">
                                <div class="row">
                                    <div class="mb-3">
                                        <label class="form-label" for="customername">الاسم</label>
                                        <input name="name" type="text" class="form-control" value="{{user.name}}"
                                            required>
                                    </div>
                                </div>

                                <hr>
                                <div class="row">
                                    <div class="mb-3">
                                        <label class="form-label" for="machine_type">اسم المستخدم
                                        </label>
                                        <input name="username" type="text" class="form-control"
                                            value="{{user.username}}" required />
                                    </div>
                                </div>
                                <hr>
                                <div class="row">


                                    <div class="mb-3">
                                        <label class="form-label" for="phone">الجوال</label>
                                        <input name="phone" type="text" class="form-control" value="{{user.phone}}"
                                            required>
                                    </div>
                                </div>

                                <hr>

                                <div class="row">


                                    <div class="mb-3">
                                        <label class="form-label" for="email">البريد الالكتروني</label>
                                        <input name="email" type="email" class="form-control" value="{{user.email}}">
                                    </div>
                                </div>


                                <hr>



                                <hr>
                                {% if request.user.role == 1 or request.user.role == 2%}
                                <div class="row">
                                    <div class="mb-3">
                                        <label class="form-label">الوظيفة</label>
                                        <select class="form-control select2" name="role" required>
                                            <option selected value="{{user.role}}">{{user.get_role_display}}</option>
                                            {% for k , v in roles %}
                                            <option value="{{k}}">{{v}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>

                                </div>

                                <hr>


                                {% else %}
                                <input type="hidden" name="role" value="{{user.role}}">

                                {% endif %}
                                {% csrf_token %}
                                <hr>

                                <div class="mb-3">
                                    <label class="form-label" for="file">ارفاق ملف</label>
                                    <input type="file" class="form-control" name="attach_file" />
                                </div>

                                <div class="mt-2">
                                    <button type="submit" class="btn btn-lg btn-primary">ارسال البيانات
                                    </button>
                                </div>
                            </form>
                        </div>

                        {% if request.user.role == 1 %}
                        <div class="border rounded mt-4">
                            <div class="p-3">
                                <h2>تغيير كلمة السر </h2>
                                <hr>
                                <form action="{%url 'reset_password' %}" method="POST" class="needs-validation">
                                    <input type="hidden" name="user" value="{{user.id}}">
                                    {% csrf_token %}
                                    <div>
                                        <label for="password">كلمة السر الجديدة </label>
                                        <input type="password" name="password" class="form-control password1">
                                    </div>
                                    <hr>
                                    <div class="mt-2">
                                        <label for="password2">تأكيد كلمة السر </label>
                                        <input type="password" name="password2" id="" class="form-control password2">
                                        <p class="text-danger d-none pass-msg">كلمة السر غير متطابقة </p>
                                    </div>
                                    <div class="mt-2">

                                        <button type="submit " class="btn btn-lg btn-success submit-pass "
                                            disabled>تغيير</button>
                                    </div>
                                </form>
                                <div id="pswd_info">
                                    <h4>كلمة السر لابد ان تتكون من :</h4>
                                    <ul class="list-unstyled">
                                        <li id="letter">-- 8 حروف / أرقام / رموز علي الأقل . </li>
                                        <li id="capital"> --
                                            حرف واحد علي الأقل " abcd " .
                                        </li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock %}
{% block script %}

<script>
    $("#qoutaEdit").on("click", () => {
        $('#collapseExample').toggleClass('show')

    })
</script>

<script>
    $('.password2').keyup(function (e) {
        let password1 = $(".password1").val()

        if (e.target.value == password1) {
            $(".password1 ").addClass("is-valid")
            $(".password1 ").removeClass("is-invalid")
            $(".password2").addClass("is-valid")
            $('.pass-msg').addClass('d-none')
            $('.submit-pass').removeAttr("disabled")

        } else {
            $('.password1').removeClass("is-valid")
            $('.password2').removeClass("is-valid")
            $('.password1').addClass("is-invalid")
            $('.pass-msg').removeClass('d-none')
            $('.submit-pass').prop('disabled', true);
        }
    })

    /// show save btn on checkbox change
    ///   if ($('#install_check').change || $('#repair_check').change || $('#quarter_check').change()) {
    //    console.log('changed')
    // }
    $("#install_check").change(() => {
        $("#role_change").removeClass('d-none')
    });
    $("#repair_check").change(() => {
        $("#role_change").removeClass('d-none')
    });
    $("#quarter_check").change(() => {
        $("#role_change").removeClass('d-none')
    });
</script>
{% endblock %}