{% extends 'base.html' %}
{% load i18n %}
{% block title %}الأرشيف {% endblock%}
{% block content %}
<div class="row page-titles">
    <div class="col-md-5 col-12 align-self-center">
        <h3 class="text-themecolor mb-0">الأرشيف </h3>
        <span class="text-muted mb-0">طلبات تجاوزت 30 يوم و تم تنفيذها </span>
    </div>
    <div class="col-md-7 col-12 align-self-center d-none d-md-flex justify-content-end">
        <ol class="breadcrumb mb-0 p-0 bg-transparent">
            <li class="breadcrumb-item active "><a href="">الأرشيف </a></li>
            <li class="breadcrumb-item"><a >الخدمات</a></li>
            <li class="breadcrumb-item d-flex align-items-center">{% trans 'home' %}</li>
        </ol>
    </div>
</div>

<div class="card card-body">
    <div class="table-responsive">
        <table class="table search-table " id="archiveTable">
            <thead class="header-item bg-dark text-light text-center">
                <th>#</th>
                <th>رقم الطلب </th>
                <th>اسم العميل </th>
                <th>الجوال</th>
                <th>البائع</th>
                <th>التاريخ</th>
                <th>حالة الطلب </th>
                <th>Action</th>
            </thead>
            <tbody>
                <!-- row -->
                {% for service in services %}
                <tr class="search-items text-center ">
                    <td>{{forloop.counter}} </td>
                    <td>
                        <a href="{% url 'service:service_details' service.id %}">{{service.ref_number}}</a>
                    </td>


                    <td> {{service.customer}}</td>
                    <td>{{service.phone_number}}</td>
                    <td><a href="{% url 'users:user_details' service.created_by.id %}">{{service.created_by}}</a></td>
                    <td>{{service.created_at.date}}</td>
                    <td>
                        <span class="badge 
                    {% if service.status  == 'new' %}
                       bg-warning
                    {% elif service.status == 'under_process' %}
                        bg-primary
                    {% elif  service.status == 'done' or service.status  == 'closed' %}
                        bg-success
                    {% endif %} 
                       ">
                            {{service.get_status_display}}
                        </span>

                    </td>
                    <td>
                        <div class="action-btn">
                            <a href="" class="text-info edit"><i data-feather="eye"
                                    class="feather-sm fill-white"></i></a>
                            {% if perms.sales.delete_customer %}
                            <a class="text-dark delete ms-2" id="delete_approve_btn" data-url="" data-bs-toggle="modal"
                                data-bs-target="#delete_approve"><i data-feather="trash-2"
                                    class="feather-sm fill-white"></i></a>
                            {% endif %}
                        </div>
                    </td>
                </tr>
                {% endfor %}
                <!-- /.row -->

            </tbody>
        </table>
    </div>
</div>
{% endblock %}

{% block script%}


<script>
    $(document).ready(function(){
        $('#archiveTable').DataTable({
            pageLength : 50,
            ordering: false ,
            "language": {
                "paginate": {
                    "next": "الصفحة التالية",
                    "previous": "الصفحة السابقة"
                            },
                    "emptyTable":     "لا يوجد بيانات للعرض ",
                    "info":           "عرض _START_ الي _END_ من _TOTAL_ طلبات",
                    "infoEmpty":      "Showing 0 to 0 of 0 entries",
                    "infoFiltered":   "(تم البحث في  _MAX_ طلب)",
                    "search":         "البحث:",
                    "zeroRecords":    "لا يوجد بيانات مطابقة للبحث",
                    "lengthMenu":     "عرض _MENU_ طلب في الصفحة ",
                
            },
            "pagingType": "numbers"

        })
    })
</script>
{% endblock %}