{% extends 'base.html' %}
{% load i18n %}
{% block title %}
الخدمات - الرئيسية
{% endblock %}

{% block content %}
<div class="row page-titles">
    <div class="col-md-5 col-12 align-self-center">
        <h3 class="text-themecolor mb-0">الخدمات </h3>
    </div>
    <div class="col-md-7 col-12 align-self-center d-none d-md-flex justify-content-end">
        <ol class="breadcrumb mb-0 p-0 bg-transparent">
            <li class="breadcrumb-item"><a href="">الخدمات</a></li>
            <li class="breadcrumb-item active d-flex align-items-center">{% trans 'home' %}</li>
        </ol>
    </div>
</div>

<div class="card card-body">
    <div class="table-responsive">
        <table class="table search-table " id="serviceTable">
            <thead class="header-item bg-dark text-light text-center">
                <th>#</th>
                <th>رقم الطلب </th>
                <th>نوع الطلب </th>
                <th>اسم العميل </th>
                <th>الجوال</th>
                <th>البائع</th>
                <th>حالة الطلب </th>
                <th>Action</th>
            </thead>
            <tbody>
                <!-- row -->
                {% for service in services %}
                <tr class="search-items text-center {% if service.late %} bg-light-danger {% elif service.favourite and service.late == False and service.status == 'new' %} bg-light-success {% endif %}">
                    <td>{{forloop.counter}} </td>
                    <td>
                        <a href="{% url 'service:service_details' service.id %}">{{service.ref_number}}</a>
                    </td>
    
                    <td>
                        <span class="badge 
                        {% if service.service_type == 'install' %}
                        bg-primary
                        {% elif service.service_type == 'repair' %}
                        bg-secondary
                        {% endif %}
                        ">
    
                            {{service.get_service_type_display}}
                        </span>
                    </td>
                    <td>{{service.customer}}</td>
                    <td>{{service.phone_number}}</td>
                    <td><a href="{% url 'users:user_details' service.created_by.id %}">{{service.created_by}}</a></td>
                    <td>
                        <a href="{% url 'service:service_details' service.id %}">

                        {% if service.hold %}
                        <span class="badge round-pill bg-danger">معلق</span>
                        {% else %}
                        <span class="badge 

                    {% if service.status  == 'new' %}
                       bg-warning
                    {% elif service.status == 'under_process' %}
                        bg-primary
                    {% elif  service.status == 'done' or service.status  == 'closed' %}
                        bg-success
                    {% endif %} 
   
                       ">
                           
                       {{service.get_status_display}}
                        </span>
                        {% endif %}
                        </a>
                    </td>
                    <td>
                        <div class="action-btn">
                            <a href="" class="text-info edit"><i data-feather="eye"
                                    class="feather-sm fill-white"></i></a>
                            {% if perms.sales.delete_customer %}
                            <a class="text-dark delete ms-2" id="delete_approve_btn" data-url="" data-bs-toggle="modal"
                                data-bs-target="#delete_approve"><i data-feather="trash-2"
                                    class="feather-sm fill-white"></i></a>
                            {% endif %}
                        </div>
                    </td>
                </tr>
                {% endfor %}
                <!-- /.row -->
    
            </tbody>
        </table>
    </div>
</div>
{% endblock %}

{% block script%}


<script>
    $(document).ready(function(){
        $('#serviceTable').DataTable({
            pageLength : 50,
            ordering: false ,
            scrollY: 450,
            "language": {
                "paginate": {
                    "next": "الصفحة التالية",
                    "previous": "الصفحة السابقة"
                            },
                    "emptyTable":     "لا يوجد بيانات للعرض ",
                    "info":           "عرض _START_ الي _END_ من _TOTAL_ طلبات",
                    "infoEmpty":      "Showing 0 to 0 of 0 entries",
                    "infoFiltered":   "(تم البحث في  _MAX_ طلب)",
                    "search":         "البحث:",
                    "zeroRecords":    "لا يوجد بيانات مطابقة للبحث",
                    "lengthMenu":     "عرض _MENU_ طلب في الصفحة ",
                
            },
            "pagingType": "numbers"

        })
    })
</script>
{% endblock %}