<div class="card" id="new_requests">
    <div class="card-body">
        <h4 class="card-title mb-4" dir="rtl">الطلبات الواردة</h4>

        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" data-bs-toggle="tab" href="#navtabs-all_new" role="tab">
                    <span class="d-block d-sm-none"><i class="fas fa-home"></i></span>
                    <span class="d-none d-sm-block">
                        جميع الطلبات

                    </span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#navtabs-repair_new" role="tab">
                    <span class="d-block d-sm-none"><i class="fas fa-tools"></i></span>
                    <span class="d-none d-sm-block">طلبات الصيانة
                        <i class="fas fa-tools "></i>
                    </span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#navtabs-install_new" role="tab">
                    <span class="d-block d-sm-none"><i class="fas fa-toolbox"></i></span>
                    <span class="d-none d-sm-block">طلبات التركيب

                        <i class="fas fa-toolbox "></i>
                    </span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#navtabs-quarter_new" role="tab">
                    <span class="d-block d-sm-none"><i class="fab fa-quora"></i></span>
                    <span class="d-none d-sm-block">كوارتر <i class="fab fa-quora"></i></span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#navtabs-on_hold" role="tab">
                    <span class="d-block d-sm-none"><i class="far fa-pause-circle"></i></span>
                    <span class="d-none d-sm-block">المعلقة <i class="far fa-pause-circle"></i></span>
                </a>
            </li>
        </ul>
        <div class="tab-content">

            <!-- ALL processes TAB  -->
            <div class="tab-pane active" id="navtabs-all_new" role="tabpanel">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title mb-4" dir="rtl">جميع الطلبات </h4>
                        <input type="text" class="table_search form-control" placeholder="الـبـحـث... " name="s">

                        <div class="table-responsive text-center mt-3" data-simplebar style="max-height: 430px;">
                            {% if not all_requests  %}
                            <p class="text-bold " style="font-size:16px">لا يـوجد طلبات جديدة </p>
                            {% else %}
                            <table class=" table table-centered table-striped table-nowrap mb-0 data-table" dir="rtl"
                                id="all_processes">
                                <thead class="table-dark">
                                    <tr>

                                        <th>رقم الطلب </th>
                                        <th>اسم العميل </th>
                                        <th>نوع الطلب </th>
                                        <th>تاريخ الطلب</th>
                                        <th>البائع</th>
                                        <th>حالة الطلب </th>
                                        <th class="d-none">phone</th>

                                    </tr>
                                </thead>

                                <tbody>
                                    {% for process in all_requests %}
                                    <tr>

                                        <td>
                                            {% if process in repair_requests or process in install_requests %}
                                            <a href="{% url 'service_request_details' process.id %}">
                                                {% elif process in quarter_requests %}
                                                <a href="{% url 'quarter_request_details' process.id %}">
                                                    {% endif %}
                                                    {{process.request_number}}
                                                </a>
                                        </td>
                                        <td>
                                            {% if process in repair_requests or process in install_requests %}
                                            <a href="{% url 'service_request_details' process.id %}">
                                                {% elif process in quarter_cur %}
                                                <a href="{% url 'quarter_request_details' process.id %}">
                                                    {% endif %}
                                                    {{process}}
                                                </a>
                                        </td>
                                        <td>
                                            {% if process in repair_requests %}
                                            <span class="badge bg-soft-danger p-2">
                                                صيانة
                                                <i class="fas fa-tools "></i>
                                            </span>
                                            {% elif process in install_requests %}
                                            <span class="badge bg-soft-warning p-2">
                                                تركيب
                                                <i class="fas fa-toolbox "></i>
                                            </span>
                                            {% else %}
                                            <span class="badge bg-soft-primary p-2">
                                                كوارتر
                                                <i class="fas fa-toolbox "></i>
                                            </span>
                                            {% endif %}
                                        </td>
                                        <td>
                                            {{ process.timestamp.date }}
                                        </td>
                                        <td><a href="/profile/{{prcess.created_by.username}}">{{process.created_by}}</a>
                                        </td>
                                        <td>
                                            {% if process in repair_requests or process in install_requests %}
                                            <a href="{% url 'service_request_details' process.id %}">
                                                {% elif process in quarter_requests %}
                                                <a href="{% url 'quarter_request_details' process.id %}">
                                                    {% endif %}
                                                    {{process.get_status_display}}
                                                </a>

                                        </td>


                                        <td class="d-none">{{process.phone}}</td>


                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            {% endif %}

                        </div>
                        <!-- end table-responsive -->
                    </div>
                </div>
            </div>
            <!-- REPAIR TAB  -->
            <div class="tab-pane" id="navtabs-repair_new" role="tabpanel">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex justify-content-between">
                            <h4 class="card-title mb-4" dir="rtl">طلبات الصيانة </h4>

                            <button id="" class="d-none btn btn-soft-danger serviceMultiDeleteBtn" type="submit">
                                حذف
                                المختارة
                            </button>
                        </div>
                        <input id="" type="text" class=" table_search form-control " placeholder="الـبـحـث... "
                            name="s">
                        <div class="table-responsive text-center mt-3" data-simplebar style="max-height: 430px;">
                            {% if not repair_requests%}
                            <p class="text-bold " style="font-size:16px">لا يـوجد طلبات جديدة </p>
                            {% else %}
                            <table class="table table-centered table-striped table-nowrap mb-0  data-table " dir="rtl">
                                <thead class="table-dark">
                                    <tr>
                                        <th></th>
                                        <th>رقم الطلب </th>
                                        <th>الاسم </th>
                                        <th>الجوال </th>
                                        <th>البائع </th>
                                        <th>تاريخ الطلب </th>
                                        <th>حالة الطلب </th>

                                    </tr>
                                </thead>
                                <tbody>
                                    {% for process  in repair_requests %}

                                    <tr>
                                        <td>
                                            <div class="form-check font-size-16">
                                                <input type="checkbox" class="form-check-input req_checkbox "
                                                    id="customCheck2" name="req_id[]" value="{{process.id}}">
                                                <label class="form-check-label" for="customCheck2">&nbsp;</label>
                                            </div>
                                        </td>
                                        <td><a href="{% url 'service_request_details' process.id %}">{{process.request_number}}
                                            </a>
                                        </td>
                                        <td><a href="{% url 'service_request_details' process.id %}">{{process}}</a>
                                        </td>
                                        <td>{{process.phone}}</td>
                                        <td>
                                            <a
                                                href="/profile/{{process.created_by.username}}">{{process.created_by}}</a>
                                        </td>
                                        <td>

                                            {{process.timestamp.date}}

                                        </td>
                                        <td>

                                            <a href="{% url 'service_request_details' process.id %}"
                                                class=" btn btn-soft-primary btn-rounded waves-effect waves-light">

                                                {{process.get_status_display }}
                                            </a>

                                        </td>




                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            {% endif %}
                        </div>
                        <!-- end table-responsive -->
                    </div>
                </div>
            </div>
            <!-- INSTALL TAB  -->

            <div class="tab-pane" id="navtabs-install_new" role="tabpanel">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex justify-content-between">
                            <h4 class="card-title mb-4" dir="rtl">طلبات التركيب </h4>
                            <button id="" class="d-none btn btn-soft-danger serviceMultiDeleteBtn" type="submit">
                                حذف
                                المختارة
                            </button>
                        </div>
                        <input id="" type="text" class=" table_search form-control " placeholder="الـبـحـث... "
                            name="s">
                        <div class="table-responsive text-center mt-3" data-simplebar style="max-height: 430px;">
                            {% if not install_requests %}

                            <p class="text-bold " style="font-size:16px">لا يـوجد طلبات جديدة </p>
                            {% else %}
                            <table class="table table-centered table-striped table-nowrap mb-0  data-table " dir="rtl">
                                <thead class="table-dark">
                                    <tr>
                                        <th></th>
                                        <th>رقم الطلب </th>
                                        <th>الاسم </th>
                                        <th>الجوال </th>
                                        <th>البائع </th>
                                        <th>تاريخ الطلب </th>
                                        <th>حالة الطلب </th>

                                    </tr>
                                </thead>

                                <tbody>


                                    {% for process  in install_requests %}
                                    <tr>
                                        <td>
                                            <div class="form-check font-size-16">
                                                <input type="checkbox" class="form-check-input req_checkbox "
                                                    id="customCheck2" name="req_id[]" value="{{process.id}}">
                                                <label class="form-check-label" for="customCheck2">&nbsp;</label>
                                            </div>
                                        </td>
                                        <td><a href="{% url 'service_request_details' process.id %}">{{process.request_number}}
                                            </a>
                                        </td>
                                        <td><a href="{% url 'service_request_details' process.id %}">{{process}}</a>
                                        </td>
                                        <td>{{process.phone}}</td>
                                        <td>
                                            <a
                                                href="/profile/{{process.created_by.username}}">{{process.created_by}}</a>
                                        </td>
                                        <td>

                                            {{process.timestamp.date}}

                                        </td>
                                        <td>
                                            <a href="{% url 'service_request_details' process.id %}"
                                                class=" btn btn-soft-primary btn-rounded waves-effect waves-light">

                                                {{process.get_status_display }}
                                            </a>
                                        </td>




                                    </tr>
                                    {% endfor %}
                                </tbody>

                            </table>
                            {% endif%}
                        </div>
                        <!-- end table-responsive -->
                    </div>
                </div>
            </div>
            <!-- QUARTER TAB  -->
            <div class="tab-pane" id="navtabs-quarter_new" role="tabpanel">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex justify-content-between">
                            <h4 class="card-title mb-4" dir="rtl">كوارتر </h4>
                            <button id="" class="d-none btn btn-soft-danger quarterMultiDeleteBtn" type="submit">
                                حذف
                                المختارة
                            </button>
                        </div>
                        <input id="" type="text" class=" table_search form-control " placeholder="الـبـحـث... "
                            name="s">
                        <div class="table-responsive text-center mt-3" data-simplebar style="max-height: 430px;">
                            {% if not quarter_requests  %}
                            <p class="text-bold " style="font-size:16px"> لا يـوجد طلبات جديدة </p>
                            {% else %}
                            <table class="table table-centered table-striped table-nowrap mb-0  data-table " dir="rtl">
                                <thead class="table-dark">
                                    <tr>
                                        <th></th>
                                        <th>رقم الطلب </th>
                                        <th>الاسم </th>
                                        <th>الجوال </th>
                                        <th>تاريخ الطلب </th>
                                        <th>البائع</th>
                                        <th>حالة الطلب </th>

                                    </tr>
                                </thead>

                                <tbody>
                                    {% for process  in quarter_requests %}
                                    <tr>
                                        <td>
                                            <div class="form-check font-size-16">
                                                <input type="checkbox" class="form-check-input qua_checkbox "
                                                    id="customCheck2" name="req_id[]" value="{{process.id}}">
                                                <label class="form-check-label" for="customCheck2">&nbsp;</label>
                                            </div>
                                        </td>
                                        <td><a href="{% url 'quarter_request_details' process.id %}">{{process.request_number}}
                                            </a>
                                        </td>
                                        <td><a href="{% url 'quarter_request_details' process.id %}">{{process}}</a>
                                        </td>
                                        <td>{{process.phone}}</td>
                                        <td>

                                            {{process.timestamp.date}}

                                        </td>
                                        <td><a href="/profile/{{process.created_by}}">{{process.created_by}}</a></td>
                                        <td>

                                            <a href="{% url 'quarter_request_details' process.id %}"
                                                class=" btn btn-soft-primary btn-rounded waves-effect waves-light">

                                                {{process.get_status_display }}
                                            </a>

                                        </td>




                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            {% endif %}
                        </div>
                        <!-- end table-responsive -->
                    </div>
                </div>
            </div>
            <!-- ON HOLD TAB  -->
            <div class="tab-pane" id="navtabs-on_hold" role="tabpanel">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title mb-4" dir="rtl">الطلبات المعلقة </h4>
                        <input id="" type="text" class=" table_search form-control " placeholder="الـبـحـث... "
                            name="s">
                        <div class="table-responsive text-center mt-3" data-simplebar style="max-height: 430px;">
                            {% if not all_on_hold  %}
                            <p class="text-bold " style="font-size:16px"> لا يـوجد طلبات معلقة </p>
                            {% else %}
                            <table class="table table-centered table-striped table-nowrap mb-0  data-table " dir="rtl">
                                <thead class="table-dark">
                                    <tr>
                                        <th>رقم الطلب </th>
                                        <th>الاسم </th>
                                        <th>الجوال </th>
                                        <th>نوع الطلب </th>
                                        <th>تاريخ الطلب </th>
                                        <th></th>
                                    </tr>
                                </thead>

                                <tbody>
                                    {% for process  in all_on_hold %}
                                    <tr>
                                        <td><a href="{% url 'quarter_request_details' process.id %}">{{process.request_number}}
                                            </a>
                                        </td>
                                        <td><a href="{% url 'quarter_request_details' process.id %}">{{process}}</a>
                                        </td>
                                        <td>{{process.phone}}</td>

                                        <td>

                                            {% if process in service_hold %}

                                            <span class="badge bg-soft-danger p-2">
                                                {{process.get_service_type_display}}
                                                <i class="fas fa-tools "></i>
                                            </span>


                                            {% else %}
                                            <span class="badge bg-soft-primary p-2">
                                                كوارتر
                                                <i class="fas fa-toolbox "></i>
                                            </span>
                                            {% endif %}
                                        </td>


                                        <td>

                                            {{process.timestamp.date}}

                                        </td>
                                        <td>


                                            <a href="{% url  'delete_quarter_request' process.id %}"
                                                class=" btn btn-soft-danger btn-rounded waves-effect waves-light">
                                                <i class="uil uil-trash-alt "></i> حذف
                                            </a>
                                            <a href="{% url 'quarter_request_details' process.id %}"
                                                class=" btn btn-soft-primary btn-rounded waves-effect waves-light">
                                                <i class="uil uil-pen "></i>
                                                التفاصيل
                                            </a>

                                            <button class="btn btn-soft-success btn-rounded waves-effect waves-light">
                                                {% if process in service_hold %}
                                                <a href="{% url 'hold_request' process.id %}" class="text-success">
                                                    {% elif process in quarter_hold %}
                                                    <a href="{% url 'hold_quarter_request' process.id %}"
                                                        class="text-success">
                                                        {% endif %}
                                                        <i class="far fa-pause-circle"></i> تفعيل
                                            </button>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            {% endif %}
                        </div>
                        <!-- end table-responsive -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>