<div class="card" id="current">
    <div class="card-body">
        <h4 class="card-title mb-4" dir="rtl">طلبات جاري تنفيذها </h4>

        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" data-bs-toggle="tab" href="#navtabs-all" role="tab">
                    <span class="d-block d-sm-none"><i class="fas fa-home"></i></span>
                    <span class="d-none d-sm-block">
                        جميع الطلبات

                    </span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#navtabs-repair" role="tab">
                    <span class="d-block d-sm-none"><i class="far fa-user"></i></span>
                    <span class="d-none d-sm-block">طلبات الصيانة
                        <i class="fas fa-tools "></i>
                    </span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#navtabs-install" role="tab">
                    <span class="d-block d-sm-none"><i class="far fa-envelope"></i></span>
                    <span class="d-none d-sm-block">طلبات التركيب

                        <i class="fas fa-tools "></i>
                    </span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#navtabs-quarter" role="tab">
                    <span class="d-block d-sm-none"><i class="far fa-envelope"></i></span>
                    <span class="d-none d-sm-block">كوارتر <i class="fas fa-tools "></i></span>
                </a>
            </li>
        </ul>
        <div class="tab-content">

            <!-- ALL processes TAB  -->
            <div class="tab-pane active" id="navtabs-all" role="tabpanel">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title mb-4" dir="rtl">جميع الطلبات الجاري تنفيذها </h4>

                        <div class="table-responsive text-center" data-simplebar style="max-height: 430px;">
                            {% if not all_cur %}
                            <p class="text-bold " style="font-size:16px">لا يوجد طلبات قيد التنفيذ </p>
                            {% else %}

                            <table class="table table-centered table-striped table-nowrap mb-0" dir="rtl">
                                <thead class="table-dark">
                                    <tr>

                                        <th>اسم العميل </th>
                                        <th>نوع الطلب </th>
                                        <th>حالة الطلب </th>
                                        <th>تاريخ الطلب</th>

                                        <th>تأكيد</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    {% for process in all_cur %}
                                    <tr>
                                        <td>
                                            {% if process in repair_cur or process in install_cur %}
                                            <a href="{% url 'service_request_details' process.id %}">
                                                {% elif process in quarter_cur %}
                                                <a href="{% url 'quarter_request_details' process.id %}">
                                                    {% endif %}
                                                    {{process}}</a>
                                        </td>
                                        <td>
                                            {% if process in repair_cur %}
                                            <span class="badge bg-soft-danger p-2">
                                                صيانة
                                                <i class="fas fa-tools "></i>
                                            </span>
                                            {% elif process in install_cur %}
                                            <span class="badge bg-soft-warning p-2">
                                                تركيب
                                                <i class="fas fa-toolbox "></i>
                                            </span>
                                            {% else %}
                                            <span class="badge bg-soft-primary p-2">
                                                كوارتر
                                                <i class="fas fa-toolbox "></i>
                                            </span>
                                            {% endif %}
                                        </td>
                                        <td>
                                            {{process.get_status_display}}
                                        </td>
                                        <td>
                                            {{ process.timestamp.date }}
                                        </td>



                                        <td>

                                            <button class=" btn btn-soft-primary btn-rounded waves-effect waves-light ">
                                                {% if process in repair_cur or process in install_cur %}
                                                <a href="{% url 'service_request_details' process.id %}">
                                                    {% elif process in quarter_cur %}
                                                    <a href="{% url 'quarter_request_details' process.id %}">
                                                        {% endif %}
                                                        <i class="uil uil-pen "></i> التفاصيل
                                            </button>
                                            <button class=" btn btn-soft-danger btn-rounded waves-effect waves-light">
                                                {% if process in repair_cur or process in install_cur %}
                                                <a href="{% url 'delete_request' process.id %}" class="text-danger">
                                                    {% elif process in quarter_cur %}
                                                    <a href="{% url 'delete_quarter_request' process.id %}"
                                                        class="text-danger">
                                                        {% endif %}
                                                        <i class="uil uil-trash-alt "></i> حذف
                                            </button>

                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            {% endif %}
                        </div>
                        <!-- end table-responsive -->
                    </div>
                </div>
            </div>
            <!-- REPAIR TAB  -->
            <div class="tab-pane" id="navtabs-repair" role="tabpanel">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title mb-4" dir="rtl">طلبات الصيانة </h4>

                        <div class="table-responsive text-center" data-simplebar style="max-height: 430px;">
                            {% if not repair_cur %}
                            <p class="text-bold " style="font-size:16px">لا يوجد طلبات قيد التنفيذ </p>
                            {% else %}
                            <table class="table table-centered table-striped table-nowrap mb-0 " dir="rtl">
                                <thead class="table-dark">
                                    <tr>

                                        <th>الاسم </th>

                                        <th>الجوال </th>
                                        <th>الموقع </th>
                                        <th>حالة الطلب </th>
                                        <th>تاريخ الطلب </th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for process  in repair_cur %}
                                    <tr>
                                        <td><a href="{% url 'service_request_details' process.id %}">{{process}}</a>
                                        </td>
                                        <td>{{process.phone}}</td>
                                        <td>
                                            {{process.address}}
                                        </td>
                                        <td>
                                            <span class="badge bg-soft-success p-2">

                                                {{process.get_status_display }}
                                            </span>
                                        </td>


                                        <td>

                                            {{process.timestamp.date}}

                                        </td>
                                        <td>

                                            <a href="{% url  'delete_request' process.id %}"
                                                class=" btn btn-soft-danger btn-rounded waves-effect waves-light">
                                                <i class="uil uil-trash-alt "></i> حذف
                                            </a>
                                            <a href="{% url 'service_request_details' process.id %}"
                                                class=" btn btn-soft-primary btn-rounded waves-effect waves-light">
                                                <i class="uil uil-pen "></i>
                                                التفاصيل
                                            </a>


                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            {% endif %}
                        </div>
                        <!-- end table-responsive -->
                    </div>
                </div>
            </div>
            <!-- INSTALL TAB  -->

            <div class="tab-pane" id="navtabs-install" role="tabpanel">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title mb-4" dir="rtl">طلبات الصيانة </h4>

                        <div class="table-responsive text-center" data-simplebar style="max-height: 430px;">
                            {% if not install_cur %}
                            <p class="text-bold " style="font-size:16px">لا يوجد طلبات قيد التنفيذ </p>
                            {% else %}
                            <table class="table table-centered table-striped table-nowrap mb-0 " dir="rtl">
                                <thead class="table-dark">
                                    <tr>

                                        <th>الاسم </th>

                                        <th>الجوال </th>
                                        <th>الموقع </th>
                                        <th>حالة الطلب </th>
                                        <th>تاريخ الطلب </th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for process  in install_cur %}
                                    <tr>
                                        <td><a href="{% url 'service_request_details' process.id %}">{{process}}</a>
                                        </td>
                                        <td>{{process.phone}}</td>
                                        <td>
                                            {{process.address}}
                                        </td>
                                        <td>
                                            <span class="badge bg-soft-success p-2">

                                                {{process.get_status_display }}
                                            </span>
                                        </td>


                                        <td>

                                            {{process.timestamp.date}}

                                        </td>
                                        <td>

                                            <a href="{% url  'delete_request' process.id %}"
                                                class=" btn btn-soft-danger btn-rounded waves-effect waves-light">
                                                <i class="uil uil-trash-alt "></i> حذف
                                            </a>
                                            <a href="{% url 'service_request_details' process.id %}"
                                                class=" btn btn-soft-primary btn-rounded waves-effect waves-light">
                                                <i class="uil uil-pen "></i>
                                                التفاصيل
                                            </a>


                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            {% endif %}
                        </div>
                        <!-- end table-responsive -->
                    </div>
                </div>
            </div>
            <!-- QUARTER TAB  -->
            <div class="tab-pane" id="navtabs-quarter" role="tabpanel">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title mb-4" dir="rtl">كوارتر</h4>

                        <div class="table-responsive text-center" data-simplebar style="max-height: 430px;">
                            {% if not quarter_cur %}
                            <p class="text-bold " style="font-size:16px">لا يوجد طلبات قيد التنفيذ </p>
                            {% else %}
                            <table class="table table-centered table-striped table-nowrap mb-0 " dir="rtl">
                                <thead class="table-dark">
                                    <tr>

                                        <th>الاسم </th>

                                        <th>الجوال </th>
                                        <th>الموقع </th>
                                        <th>حالة الطلب </th>
                                        <th>تاريخ الطلب </th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for process  in quarter_cur %}
                                    <tr>
                                        <td><a href="{% url 'quarter_request_details' process.id %}">{{process}}</a>
                                        </td>
                                        <td>{{process.phone}}</td>
                                        <td>
                                            {{process.location }}
                                        </td>
                                        <td>

                                            <span class="badge bg-soft-success p-2">

                                                {{process.get_status_display }}
                                            </span>
                                        </td>


                                        <td>

                                            {{process.timestamp.date}}

                                        </td>
                                        <td>


                                            <a href="{% url  'delete_quarter_request' process.id %}"
                                                class=" btn btn-soft-danger btn-rounded waves-effect waves-light">
                                                <i class="uil uil-trash-alt "></i> حذف
                                            </a>
                                            <a href="{% url 'quarter_request_details' process.id %}"
                                                class=" btn btn-soft-primary btn-rounded waves-effect waves-light">
                                                <i class="uil uil-pen "></i>
                                                التفاصيل
                                            </a>

                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>

                            {% endif %}
                        </div>
                        <!-- end table-responsive -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>