<!-- USER MODAL content -->
<div id="newUserModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title mt-0" id="myModalLabel">أضافة مستخدم جديد <i class="fas fa-user-friends"></i>
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </button>

            </div>
            <div class="modal-body">
                <p class="text-muted text-truncate mb-0">يرجي ملئ جميع البانات التالية
                </p>
                <form action="{% url 'create_user' %}" method="POST" enctype="multipart/form-data">
                    <div class="row">
                        <div class="mb-3">
                            <label class="form-label" for="customername">الاسم</label>
                            <input name="name" type="text" class="form-control" required />
                        </div>
                    </div>

                    <hr>

                    <div class="row">
                        <div class="mb-3">
                            <label class="form-label" for="phone">الجوال</label>
                            <input name="phone" type="text" class="form-control" required />
                        </div>
                    </div>

                    <hr>

                    <div class="row">
                        <div class="mb-3">
                            <label class="form-label" for="machine_type">اسم المستخدم
                            </label>
                            <p class="text-muted text-small">-يستخدم للدخول للموقع

                            </p>
                            <input name="username" type="text" class="form-control" required />
                        </div>
                    </div>

                    <hr>

                    <div class="row">

                        <div class=" col-6 mb-3">
                            <label class="form-label" for="machine_type">كلمة المرور
                            </label>
                            <input name="password1" type="password" class="form-control" required />
                        </div>

                        <div class=" col-6 mb-3">
                            <label class="form-label" for="machine_type">تأكيد كلمة
                                المرور
                            </label>
                            <input name="password2" type="password" class="form-control" required />
                        </div>
                        <p class="text-muted">تتكون كلمة المرور من 8 حروف و ارقام علي
                            الاقل

                        </p>
                        <p class="text-muted">-يجب ان تحتوي علي حرف واحد علي الاقل</p>
                    </div>

                    <hr>
                    <div class="row">
                        <div class="mb-3">
                            <label class="form-label" for="email">البريد الاليكتروني
                            </label>
                            <input name="email" type="email" class="form-control" />
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="mb-3">
                            <label class="form-label">الوظيفة</label>
                            <select class="form-control select2" name="role">
                                <option selected disabled>أختيار</option>
                                {% for k , v in roles %}
                                <option value="{{k}}">{{v}}</option>
                                {% endfor %}
                            </select>
                        </div>

                    </div>

                    <hr>



                    <div class="mb-3">
                        <label class="form-label" for="file">المفضلة </label>
                        <input type="number" class="form-control" name="favourite_count" value="1" />
                        <p class="text-muted">عدد المرات التي يمكن للمستخدم تفضيل طلب خلال اليوم </p>
                    </div>
                    {% csrf_token %}
                    <hr>

                    <div class="mb-3">
                        <label class="form-label" for="file">ارفاق ملف</label>
                        <input type="file" class="form-control" name="attach_file" />
                    </div>



                    <div class="mt-2">
                        <button type="submit" class="btn btn-lg btn-primary">انشاء حساب
                        </button>
                    </div>
                </form>

            </div>

        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<!-- REPAIR MODAL -->
<div id="newRepairRequestModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title mt-0">طلب صيانة جديد
                    <i class="fas fa-tools"></i>
                </h5>

                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
                <p class="text-muted text-truncate mb-0">يرجي ملئ جميع البانات التالية
                </p>
                <form action="{% url 'repair_request' %}" method="POST" enctype="multipart/form-data">
                    <label class="form-label" for="customername">اسم العميل </label>
                    <input id="customername" name="customername" type="text" class="form-control">

                    <div class="row mt-2">
                        <div class="col-lg-6">

                            <div class="mb-3">
                                <label class="form-label" for="phone">الجوال</label>
                                <input id="phone" name="phone" type="number" class="form-control">
                            </div>
                        </div>
                        <div class="col-lg-6">

                            <div class="mb-3">
                                <label class="form-label" for="address">الموقع</label>
                                <input id="address" name="address" type="text" class="form-control">
                            </div>
                        </div>
                        <div class="row">
                            <div class="mb-3">
                                <label class="form-label" for="machine_type">نوع الجهاز
                                </label>
                                <input id="machine_type" name="machine_type" type="text" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="row">

                        <div class="mb-3">
                            <label class="form-label">نوع العميل </label>
                            <select class="form-control select2" name="customer_type">
                                <option selected disabled>أختيار</option>
                                <option value="cash">كاش</option>
                                <option value="warranty">ضمان</option>

                            </select>
                        </div>

                        <div class="row">
                            <div class="mb-3">
                                <label class="form-label" for="invoice_number">رقم
                                    الفاتورة
                                </label>
                                <p class="text-muted text-small">يجب ادخال رقم الفاتورة
                                    لعميل
                                    الضمان
                                </p>
                                <input id="invoice_number" name="invoice_number" type="number" class="form-control">

                            </div>
                        </div>

                    </div>
                    {% csrf_token %}
                    <div class="mb-2">
                        <label class="form-label" for="file">ارفاق ملف</label>
                        <input type="file" class="form-control" id="file" name="attach_file" />
                    </div>
                    <div class="mb-0 ">
                        <label class="form-label" for="notes">معلومات اضافية </label>
                        <textarea class="form-control" id="notes" name="notes" rows="4"></textarea>
                    </div>
                    <div class="mt-2">
                        <button type="submit" class="btn btn-lg btn-primary">ارسال الطلب
                        </button>
                    </div>
                </form>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- INSTALL MODAL -->
<div id="newInstallRequestModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title mt-0">طلب تركيب جديد
                    <i class="fas fa-toolbox"></i> </h5>

                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
                <p class="text-muted text-truncate mb-0">يرجي ملئ جميع البانات التالية
                </p>
                <form action="{% url 'install_request' %}" method="POST" enctype="multipart/form-data">
                    <label class="form-label" for="customername">اسم العميل </label>
                    <input name="customername" type="text" class="form-control">

                    <div class="row mt-2">
                        <div class="col-lg-6">

                            <div class="mb-3">
                                <label class="form-label" for="phone">الجوال</label>
                                <input name="phone" type="number" class="form-control">
                            </div>
                        </div>
                        <div class="col-lg-6">

                            <div class="mb-3">
                                <label class="form-label" for="address">الموقع</label>
                                <input name="address" type="text" class="form-control">
                            </div>
                        </div>

                    </div>


                    <div class="row">
                        <div class="mb-3">
                            <label class="form-label" for="invoice_number">رقم فاتورة الشراء
                            </label>

                            <input name="invoice_number" type="number" class="form-control" required />
                        </div>
                    </div>


                    {% csrf_token %}
                    <div class="mb-2">
                        <label class="form-label" for="file">ارفاق ملف</label>
                        <input type="file" class="form-control" name="attach_file" />
                    </div>
                    <div class="mb-2">
                        <label class="form-label" for="notes">معلومات اضافية </label>
                        <textarea class="form-control" name="notes" rows="4"></textarea>
                    </div>

                    <div class="form-check ">
                        <input class="form-check-input" type="checkbox" value="checked" name="favorite"
                            id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault" style="font-weight: 800;">
                            تفضيل الطلب ***
                        </label>
                    </div>
                    <div class="mt-2">
                        <button type="submit" class="btn btn-lg btn-primary">ارسال الطلب
                        </button>
                    </div>
                </form>
            </div>

        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- QUARTER MODAL  -->

<div id="newQuarterRequestModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title mt-0">طلب خدمة جديد </h5>

                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
                <p class="text-muted text-truncate mb-3">يرجي ملئ جميع البانات التالية
                </p>
                <form action="{% url 'new_quarter_request' %}" method="POST" enctype="multipart/form-data">
                    <div class="mb-3">

                        <label class="form-label" for="customername">اسم العميل </label>
                        <input name="customername" type="text" class="form-control">
                    </div>

                    <div class="row">
                        <div class="col-lg-6">

                            <div class="mb-3">
                                <label class="form-label" for="phone">الجوال</label>
                                <input name="phone" type="number" class="form-control">
                            </div>
                        </div>
                        <div class="col-lg-6">

                            <div class="mb-3">
                                <label class="form-label" for="address">الموقع</label>
                                <input name="address" type="text" class="form-control">
                            </div>
                        </div>

                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="customername">البريد
                            الالكتروني</label>
                        <input name="email" type="email" class="form-control">
                    </div>

                    {% csrf_token %}
                    <div class="mb-3">
                        <label class="form-label" for="file">ارفاق ملف</label>
                        <input type="file" class="form-control" name="attach_file" />
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="notes">معلومات اضافية </label>
                        <textarea class="form-control" name="notes" rows="4"></textarea>
                    </div>
                    <div class="mb-3">
                        <button type="submit" class="btn btn-lg btn-primary">ارسال الطلب
                        </button>
                    </div>
                </form>
            </div>

        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->