<div id="newTaskModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title mt-0" id="myModalLabel">تعيين مهمة جديدة لموظف <i
                        class="uil uil-clipboard-notes font-size-20"></i>
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </button>

            </div>
            <div class="modal-body">
                <p class="text-muted text-truncate mb-0">يرجي ملئ جميع البانات التالية </p>
                <form action="{% url 'create_task' %}" method="POST" enctype="multipart/form-data">
                    <div class="row">
                        <div class="mb-3">
                            <label class="form-label" for="customername">عنوان المهمة</label>
                            <input name="title" type="text" class="form-control" required>
                        </div>
                    </div>

                    <hr>

                    {% if not "profile" in request.path %}
                    <div class="row">


                        <div class="mb-3">
                            <label class="form-label" for="phone">الموظف </label>
                            <select name="employee" id="" class="form-control">
                                <option value="">أختيار الموظف المحدد لتنفيذ المهمة </option>
                                {% for user in users %}
                                {% if  user != request.user %}
                                <option value="{{user.id}}">{{user.username}}</option>
                                {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <hr>
                    {% else %}
                    <input type="hidden" name="employee" value="{{user.id}}">
                    {% endif %}
                    <div class="row">
                        <div class="mb-3">
                            <label class="form-label" for="due_date"> موعد تنفيذ المهمة
                            </label>
                            <input name="due_date" type="date" class="form-control" required />
                        </div>
                    </div>

                    <hr>
                    <div class="row">
                        <div class="mb-3">
                            <label class="form-label" for="due_date"> تفاصيل المهمة
                            </label>
                            <textarea name="details" id="" cols="30" rows="5" class="form-control"></textarea>
                        </div>
                    </div>

                    {% csrf_token %}
                    <hr>

                    <div class="mb-3">
                        <label class="form-label" for="file">ارفاق ملف</label>
                        <input type="file" class="form-control" name="file" />
                    </div>



                    <div class="mt-2">
                        <button type="submit" class="btn btn-lg btn-primary">ارسال
                        </button>
                    </div>
                </form>

            </div>

        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->