<div class="card" id="users">
    <div class="card-body">
        <h4 class="card-title mb-4" dir="rtl">بيانات المستخدمين </h4>
        <div class="table-responsive text-center" data-simplebar style="max-height: 430px;">
            <table class="table table-centered table-striped table-nowrap mb-0" dir="rtl">
                <thead class="table-dark">
                    <tr>

                        <th>اسم المستخدم </th>
                        <th>الاسم </th>
                        <th>الجوال </th>
                        <th>الوظيفة</th>
                        <th>القسم </th>
                        <th>Last Login</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                    <tr>
                        <td><a href="{% url 'profile' user.username %}">

                                {{user.username}}
                            </a>
                        </td>
                        <td>{{user.name}}</td>
                        <td>
                            {{user.phone}}
                        </td>
                        <td>
                            {{ user.get_role_display}}
                        </td>


                        <td>
                            {% for sec in user.section.all %}
                            {{sec}}
                            {% endfor%}
                        </td>
                        <td>{{user.last_login}}</td>
                        <td>

                            <button class=" btn btn-soft-primary btn-rounded waves-effect waves-light ">
                                <i class="uil uil-pen "></i>
                            </button>

                            <a class=" btn btn-soft-danger btn-rounded waves-effect waves-light"
                                href="{% url 'delete_user' user.username %}">
                                <i class="uil uil-trash-alt "></i>
                            </a>

                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <a href="{% url 'all_users' %}" class=" btn btn-rounded btn-soft-success btn-lg mt-2">
                جميع المستخدمين
            </a>
        </div>
        <!-- end table-responsive -->
    </div>
</div>