{% extends 'base.html' %}
{% load i18n %}
{% block title %}
كوارتر - المشاريع 
{% endblock %}
{% block content %}
<div class="row page-titles">
    <div class="col-md-5 col-12 align-self-center">
        <h3 class="text-themecolor mb-0">كوارتر </h3>
    </div>
    <div class="col-md-7 col-12 align-self-center d-none d-md-flex justify-content-end">
        <ol class="breadcrumb mb-0 p-0 bg-transparent">
            <li class="breadcrumb-item"><a href="">كوارتر </a></li>
            <li class="breadcrumb-item active d-flex align-items-center">{% trans 'home' %}</li>
        </ol>
    </div>
</div>
<div class="row">
    <div class="col-6 pointer"
    hx-trigger="click" 
    hx-swap="innerHTML"
    hx-target="#serviceTable"
    hx-get="/quarter/data?status=all">
        <div class="card">
            <div class="card-body">

                <div class="text-center">
                    <h6 class="text-muted mt-2 mb-2">اجمالي المشاريع</h6>
                    <h2>{{projects.count}}</h2>
                </div>

            </div>
        </div>
    </div>
    <div class="col-6 pointer" hx-trigger="click" 
    hx-target="#serviceTable"
    hx-get="/quarter/data?status=current"
    hx-swap="innerHTML">
        <div class="card">
            <div class="card-body">

                <div class="text-center">
                    <h6 class="text-muted mt-2 mb-2">مشاريع جاري تنفيذها </h6>
                    <h2>{{under_process.count}}</h2>
                </div>

            </div>
        </div>
    </div>

</div>

<div class="card card-body">
    <div class="table-responsive">
        <table class="table search-table " id="serviceTable">
            <thead class="header-item bg-dark text-light text-center">
                <th>#</th>
                <th>رقم</th>
                <th>اسم العميل </th>
                <th>الجوال</th>
                <th>التاريخ</th>
                <th>حالة الطلب </th>
            </thead>
            <tbody>
                <!-- row -->
                {% for project in projects %}
                <tr class="search-items text-center ">
                    <td>{{forloop.counter}} </td>
                    <td>
                        <a href="{% url 'quarter:project_details'  project.id %}">{{project.ref_number}}</a>
                    </td>

                    <td>{{project.name}}</td>
                    <td>{{project.phone_number}}</td>
                    <td>{{project.created_at.date}}</td>
                    <td>
                        <a href="{% url 'quarter:project_details' project.id %}">

                        {% if project.hold %}
                        <span class="badge  bg-danger">معلق</span>
                        {% else %}
                        <span class="badge  

                        {% if project.status  == 'new' %}
                        bg-warning
                        {% elif  project.status == 'done' or project.status  == 'closed' %}
                        bg-success
                        {% else %}
                            bg-primary
                        {% endif %} 
   
                       ">
                           
                       {{project.get_status_display}}
                        </span>
                        {% endif %}
                        </a>
                    </td>
                   
                </tr>
                {% endfor %}
                <!-- /.row -->
    
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
{% block script %}
<script src="https://unpkg.com/htmx.org@1.8.6"></script>
<script>
$(document).ready(function(){
    $('#serviceTable').DataTable({
        pageLength : 25,
        ordering: false ,
        "language": {
            "paginate": {
                "next": "الصفحة التالية",
                "previous": "الصفحة السابقة"
                        },
                "emptyTable":     "لا يوجد بيانات للعرض ",
                "info":           "عرض _START_ الي _END_ من _TOTAL_ مشروع",
                "infoEmpty":      "Showing 0 to 0 of 0 entries",
                "infoFiltered":   "(تم البحث في  _MAX_ مشروع)",
                "search":         "البحث:",
                "zeroRecords":    "لا يوجد بيانات مطابقة للبحث",
                "lengthMenu":     "عرض _MENU_ مشروع في الصفحة ",
            
        },
        "pagingType": "numbers"

    })
})
</script>
{% endblock script %}