{% extends '../base.html' %}
{% block content %}
<div class="row " dir="rtl">
    <div class="col-12 ">
        <div class="page-title-box d-flex align-items-center justify-content-between">
            <h3 class="mb-0">تفاصيل الطلب</h3>
        </div>
    </div>
</div>
<!-- end page title -->

<div class="row" dir="rtl">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="row" dir="rtl">
                    <div class="col-xl-7">
                        <div class="mt-4 mt-xl-3 ps-xl-4">

                            <h4 class="font-size-20 mb-3">#quarter{{req.id}} </h4>

                            <div>

                            </div>
                        </div>
                    </div>
                </div>
                <!-- end row -->
            </div>

            <div class="mt-4 row" dir="rtl">
                <div class="product-desc col col-7">
                    <div class="tab-content border border-top-0 p-4">
                        <!-- Request Details -->
                        <div class="tab-pane fade show active">
                            <div class="table-responsive">
                                <h4 class="font-size-20 mb-3">

                                    <i class="far fa-user-circle"></i> بيانات العميل </h4>
                                <table class="table table-nowrap mb-3 table-striped">
                                    <tbody>
                                        <tr>
                                            <th scope="row" style="width: 20%;">اسم العميل
                                                <i class="far fa-user-circle"></i> </th>
                                            <td>{{req}}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">تاريخ الطلب
                                                <i class="far fa-calendar-alt"></i>
                                            </th>
                                            <td>{{req.timestamp.date}}</td>
                                        </tr>


                                        <tr>
                                            <th scope="row">الموقع
                                                <i class="fas fa-map-marker-alt"></i>
                                            </th>
                                            <td>{{ req.location }}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">الجوال
                                                <i class="fas fa-mobile-alt"></i>
                                            </th>
                                            <td>{{ req.phone }}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">البريد الالكتروني
                                                <i class="fas fa-at"></i>
                                            </th>
                                            <td>{{ req.email }}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">حالة لطلب
                                                <i class="fas fa-info-circle"></i>
                                            </th>
                                            <td>


                                                <span
                                                    class="badge rounded-pill bg-danger font-size-16 p-2">{{req.get_status_display}}</span>
                                            </td>

                                        </tr>

                                        {% if req.notes %}
                                        <tr>
                                            <th scope="row">ملاحظات</th>
                                            <td>{{req.notes }}</td>
                                        </tr>
                                        {%  endif %}


                                    </tbody>

                                </table>

                                {% if req.pricing %}
                                <div class="mt-3 container">
                                    <h3>
                                        <i class="fas fa-dollar-sign"></i>
                                        التسعير
                                    </h3>
                                    <div class="table-responsive bg-light p-3">
                                        <table class="table table-nowrap mb-0 " style="font-size: 18px;">
                                            <tbody>
                                                <tr>
                                                    {% if req.status == "pending price review" %}
                                                    <th scope="row" style="width: 20%;"> السعر المقترح </th>
                                                    {% else %}
                                                    <th scope="row" style="width: 20%;"> السعر </th>
                                                    {% endif %}
                                                    <td>{{req.pricing.price}}</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">ملفات التسعير </th>
                                                    <td><a href="{{req.pricing.files.url}}" target="__blank">عرض
                                                            الملفات</a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">ملاحظات</th>
                                                    <td>{{ req.pricing.notes }}</td>
                                                </tr>



                                            </tbody>

                                        </table>
                                        {% if req.status == 3 %}
                                        <div>

                                            <a href="{%url 'confirm_process' req.id %}"
                                                class="btn btn-lg btn-success btn-rounded">
                                                الموافقة علي السعر <i class="far fa-check-circle "></i>
                                            </a>

                                            <a href="" class="btn btn-lg btn-danger btn-rounded">
                                                تعديل السعر <i class="far fa-edit"></i>
                                            </a>

                                        </div>
                                        {% elif req.status == 4 %}
                                        <div>

                                            <a href="{%url 'confirm_process' req.id %}"
                                                class="btn btn-lg btn-success btn-rounded">
                                                قبول السعر
                                            </a>

                                            <a href="" class="btn btn-lg btn-warning btn-rounded">
                                                تعديل السعر
                                            </a>

                                        </div>
                                        {% endif %}

                                    </div>
                                </div>
                                {% endif %}
                                <!-- accountant confirm transfer  -->
                                {% if request.user.role == 1 or request.user.role == 6 %}
                                {% if req.money_transfer %}
                                <div class="mt-3 pt-3 container">
                                    <h4> تحويل مالي رقم 1 </h4>
                                    <div class="table-responsive">
                                        <table class="table table-nowrap mb-0 table-striped">
                                            <tbody>
                                                <tr>

                                                    <th scope="row" style="width: 20%;"> قيمة التحويل </th>

                                                    <td> {{req.money_transfer.transfer1_qty}}</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">مستند التحويل </th>
                                                    <td><a href="{{req.money_transfer.transfer1_file.url}}"
                                                            target="__blank">عرض
                                                            الملفات</a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">ملاحظات</th>
                                                    <td>{{ req.money_transfer.transfer1_notes }}</td>
                                                </tr>

                                            </tbody>

                                        </table>
                                        {% if req.status == 6 %}
                                        <div>
                                            <a href="{%url 'confirm_process' req.id %}"
                                                class="btn btn-lg btn-success btn-rounded">تأكيد
                                                التحويل </a>
                                        </div>
                                        {% endif %}

                                    </div>

                                </div>
                                {% endif %}
                                {%endif %}

                                <!-- designs  -->
                                {% if req.designs %}
                                <h4>التصميم</h4>
                                <div class="table-responsive container">
                                    <table class="table table-nowrap mb-0">
                                        <tbody>
                                            <tr>
                                                {% if req.status == 8 %}
                                                <th scope="row" style="width: 20%;"> التصميم المقترح </th>
                                                {% else %}
                                                <th scope="row" style="width: 20%;"> التصميم </th>
                                                {% endif %}


                                                <td>
                                                    <a href="{{req.designs.files.url}}" target="__blank">عرض
                                                        الملفات</a>
                                                </td>

                                            </tr>

                                            <tr>
                                                <th scope="row">ملاحظات</th>
                                                <td>{{ req.pricing.notes }}</td>
                                            </tr>



                                        </tbody>

                                    </table>
                                    {% if req.status == 8 %}
                                    <div>
                                        <a href="{%url 'confirm_process' req.id %}"
                                            class="btn btn-lg btn-success btn-rounded">الموافقة
                                            علي التصميمات
                                        </a>
                                    </div>
                                    {% endif %}
                                </div>
                                {% endif %}
                            </div>
                        </div>

                    </div>
                </div>
                {% include './partials/_request_details_accordins.html'%}
            </div>


            <!-- end row -->
        </div>
    </div>
</div>

{% endblock %}