{% extends '../base.html' %}
{% load humanize %}

{% block content %}
<div class="row " dir="rtl">
    <div class="col-12 ">
        <div class="page-title-box d-flex align-items-center justify-content-between">
            <h3 class="mb-0">تفاصيل الطلب</h3>
        </div>
    </div>
</div>
<!-- end page title -->

<div class="row" dir="rtl">

    <div class="card">
        <div class="card-body">
            <div class="row" dir="rtl">
                <div class="col">
                    <div class="mt-4 mt-xl-3 ps-xl-4">

                        <h4 class="font-size-20 mb-3">#{{req.request_number}}</h4>

                        <div>

                        </div>
                    </div>
                </div>
            </div>
            <!-- end row -->


            <div class=" row" dir="rtl">
                {% if req.hold %}
                <h2>هذا الطلب معلق ..
                    {% if request.user.role == 1 or request.user.role == 4 %}
                    <span>
                        لاعادة التفعيل
                        <a href="{% url 'hold_quarter_request' req.id %}" class="text-success ">
                            اضغط هنا
                        </a>
                    </span>
                    {% endif %}
                </h2>
                {% endif %}
                <div class="col col-lg-7">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-bs-toggle="tab" href="#navtabs-details" role="tab">

                                <span class="d-none d-sm-block">
                                    بيانات الطلب

                                </span>
                            </a>
                        </li>
                        {% if req.pricing %}
                        <li class="nav-item">
                            <a class="nav-link" data-bs-toggle="tab" href="#navtabs-pricing" role="tab">


                                <span class="d-none d-sm-block"> <i class="fas fa-dollar-sign"></i> التسعير
                                </span>
                            </a>
                        </li>
                        {% endif %}
                        {% if req.designs %}
                        <li class="nav-item">
                            <a class="nav-link" data-bs-toggle="tab" href="#navtabs-designs" role="tab">

                                <span class="d-none d-sm-block">

                                    <i class="fas fa-drafting-compass"></i>
                                    التصميمات
                                </span>
                            </a>
                        </li>
                        {% endif %}
                        {% if req.money_transfer %}
                        {% if request.user.role == 1 or request.user.role == 6 %}
                        <li class="nav-item">
                            <a class="nav-link" data-bs-toggle="tab" href="#navtabs-money_transfer" role="tab">

                                <span class="d-none d-sm-block">
                                    <i class="fas fa-comments-dollar"></i>
                                    التحويلات المالية
                                </span>
                            </a>
                        </li>
                        {% endif %}
                        {% endif %}
                        {% if req.purchase %}
                        <li class="nav-item">
                            <a class="nav-link" data-bs-toggle="tab" href="#navtabs-purchase" role="tab">

                                <span class="d-none d-sm-block">
                                    <i class="fas fa-comments-dollar"></i>
                                    المشتريات
                                </span>
                            </a>
                        </li>
                        {% endif %}
                    </ul>

                    <div class="tab-content border border-top-0 p-4 ">
                        <!-- Request Details -->
                        <div class="tab-pane active" id="navtabs-details" role="tabpanel">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title mb-4" dir="rtl">بيانات الطلب </h4>
                                    <table class="table table-nowrap mb-3 table-striped">
                                        <tbody>
                                            <tr>
                                                <th scope="row" style="width: 20%;">اسم العميل
                                                    <i class="far fa-user-circle"></i> </th>
                                                <td>{{req}}</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">تاريخ الطلب
                                                    <i class="far fa-calendar-alt"></i>
                                                </th>
                                                <td>{{req.timestamp.date}}</td>
                                            </tr>


                                            <tr>
                                                <th scope="row">الموقع
                                                    <i class="fas fa-map-marker-alt"></i>
                                                </th>
                                                <td>{{ req.location }}</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">الجوال
                                                    <i class="fas fa-mobile-alt"></i>
                                                </th>
                                                <td>{{ req.phone }}</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">البريد الالكتروني
                                                    <i class="fas fa-at"></i>
                                                </th>
                                                <td>{{ req.email }}</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">حالة لطلب
                                                    <i class="fas fa-info-circle"></i>
                                                </th>
                                                <td>


                                                    <span
                                                        class="badge rounded-pill bg-danger font-size-16 p-2">{{req.get_status_display}}</span>
                                                </td>

                                            </tr>

                                            {% if req.notes %}
                                            <tr>
                                                <th scope="row">ملاحظات</th>
                                                <td>{{req.notes }}</td>
                                            </tr>
                                            {%  endif %}


                                        </tbody>

                                    </table>
                                </div>
                            </div>
                        </div>
                        <!-- pricing tab  -->
                        {% include './partials/tabs/_pricing_tab.html'%}
                        <!-- Money transfer  -->
                        {% include './partials/tabs/_money_transfers_tab.html' %}
                        <!-- DESIGNS -->
                        {% include './partials/tabs/_design_tab.html' %}
                        <!-- PURCHASE -->
                        {% include './partials/tabs/_purchase_tab.html' %}

                    </div>
                </div>

                <div class=" col col-lg-5  ">
                    {% if req.active %}
                    {% include './partials/_request_details_accordins.html'%}
                    {% else %}
                    <div class="card">
                        <div class="card-body">
                            <h3>هذا الطلب غير مفعل </h3>
                            {% if request.user.role == 1 or request.user.role == 4 %}
                            <a href="{% url 'deactivate_quarter' req.id  %}" class="btn btn-lg btn-soft-success mt-1">
                                اعادة
                                تفعيل </a>
                            {% endif %}
                        </div>

                    </div>
                    {% endif %}

                </div>
            </div>
        </div>
    </div>
    {% if req.active %}
    {% if request.user.role == 1 or request.user.role == 2 %}
    <div class="card ">

        <a href="{% url 'deactivate_quarter' req.id %}" class="btn btn-lg btn-soft-danger">
            أغلاق الطلب
        </a>
    </div>
    {% endif %}
    {% endif %}
</div>

{% endblock %}