{% if not req.sales %}
{% if request.user.role == 1 or request.user.role == 4 %}
<div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
            aria-expanded="true" aria-controls="collapseOne">
            اختيار مندوب للتواصل مع العميل
        </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
        data-bs-parent="#accordionExample">
        <div class="accordion-body">
            <form method="POST" action="{% url 'assign_sales' %}" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="hidden" name="req_id" value="{{req.id}}">
                <div class="row mb-4">
                    <label for="horizontal-firstname-input" class="col-form-label ">اختر مندوب للتواصل
                    </label>
                    <select name="sales_id" id="" class="form-control">
                        {% for user in sales %}
                        <option value="{{user.id}}">{{user}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="text-left">
                    <button type="submit" class="btn btn-primary w-md">تحديد المندوب </button>
                </div>


            </form>
        </div>
    </div>
</div>
{% endif %}
{% endif %}