{% if request.user.role == 1 or request.user.role == 4 or request.user.role == 9%}
<div class="accordion-item">
    <h2 class="accordion-header" id="headingFive">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
            ارفاق صور التنفيذ
        </button>
    </h2>
    <div id="collapseFive" class="accordion-collapse collapse show" aria-labelledby="headingFive"
        data-bs-parent="#accordionExample">
        <div class="accordion-body">
            <form method="POST" action="{%url 'attach_excution_files' %}" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="hidden" name="request" value="{{req.id}}">

                <div class="row mb-4">
                    <label for="horizontal-email-input" class="col-sm-4 col-form-label">ارفاق ملفات
                    </label>
                    <div class="col-sm-8">
                        <input type="file" name="files" class="form-control" required multiple accept="image/*" />
                    </div>
                </div>
                <div class="row mb-4">
                    <label for="horizontal-email-input" class="col-sm-4 col-form-label">ملاحظات</label>
                    <div class="col-sm-8">
                        <textarea class="form-control" name="notes"></textarea>
                    </div>
                </div>


                <div class="row justify-content-center">
                    <div class="col-sm-9">
                        <div>
                            <button type="submit" class="btn btn-primary w-md">ارسال</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>
{% endif %}