{% load humanize %}
{% if req.status == 5 or req.status  == 10  %}
{% if request.user.role == 1 or request.user.role == 4 or  request.user.role == req.created_by %}
<div class="accordion-item">
    <h2 class="accordion-header" id="headingTwo">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo"
            aria-expanded="false" aria-controls="collapseTwo">
            ارفاق ملفات التحويل
            {% if req.status == 10 %}
            الثاني
            {% endif %}
        </button>
    </h2>

    <div id="collapseTwo" class="accordion-collapse collapse show" aria-labelledby="headingTwo"
        data-bs-parent="#accordionExample">
        <div class="accordion-body">
            {% if req.pricing %}
            <p class="text-center text-muted"><span>السعر الاجمالي :</span>
                {{req.pricing.price|intcomma}}
                ريال
            </p>
            {% endif %}
            {% if req.status == 9 %}
            <p class="text-center text-muted"><span>المبلغ المتبقي :</span>
                {{req.money_transfer.outstanding_ammount|intcomma}}
                ريال
            </p>
            {% endif %}

            <form method="POST" {% if req.status == 5 %} action="{% url 'first_transfer' %}" {% elif req.status == 10 %}
                action="{% url 'second_transfer' %}" {% endif %} enctype="multipart/form-data">
                {% csrf_token %}
                <input type="hidden" name="request" value="{{req.id}}">
                {% if not req.pricing %}
                <div class="row mb-4">
                    <label for="price" class="col-form-label col-4">
                        السعر الاجمالي
                    </label>
                    <div class="col-8">
                        <input type="number" name="total_price" class="col-8 form-control " required />
                    </div>
                </div>
                {% endif %}
                <div class="row mb-4">
                    <label for="price" class="col-form-label col-4">
                        المبلغ المحول
                    </label>
                    <div class="col-8">
                        <input type="number" name="transfered_ammount" class="col-8 form-control " required />
                    </div>
                </div>
                <div class="row mb-4">
                    <label for="horizontal-email-input" class="col-sm-4 col-form-label">ملف التحويل
                    </label>
                    <div class="col-sm-8">
                        <input type="file" name="files" class="form-control" required />
                    </div>
                </div>
                <div class="row mb-4">
                    <label for="horizontal-email-input" class="col-sm-4 col-form-label">ملاحظات</label>
                    <div class="col-sm-8">
                        <textarea class="form-control" name="notes"></textarea>
                    </div>
                </div>


                <div class="row justify-content-center">
                    <div class="col-sm-9">
                        <div>
                            <button type="submit" class="btn btn-primary w-md">ارسال</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>

    </div>

</div>
{%endif %}
{% endif %}
{% if request.user.role == 1 or request.user.role == 4 or request.user.role == 6%}
{% if  req.status == 6 or req.status == 11  %}
<div class="accordion-item">
    <h2 class="accordion-header" id="headingTwo">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo"
            aria-expanded="false" aria-controls="collapseTwo">
            تحويل مالي
        </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse active" aria-labelledby="headingTwo"
        data-bs-parent="#accordionExample">
        <div class="accordion-body">
            <table class="table table-nowrap mb-0 table-striped">
                <tbody>
                    <tr>
                        <th scope="row" style="width: 20%;"> قيمة التحويل </th>
                        {% if req.status == 6 %}
                        <td> {{req.money_transfer.transfer1_qty | intcomma}} ريال</td>
                        {% elif req.status == 11 %}
                        <td> {{req.money_transfer.transfer2_qty | intcomma}} ريال</td>
                        {% endif %}
                    </tr>
                    <tr>
                        <th>
                            مستندات التحويل
                        </th>
                        <td>
                            {% if req.status == 6 %}
                            <a href="{{req.money_transfer.transfer1_file.url}}" target="__blank">عرض
                                الملفات</a>
                            {% elif req.status == 11 %}
                            <a href="{{req.money_transfer.transfer2_file.url}}" target="__blank">عرض
                                الملفات</a>
                            {% endif %}
                        </td>

                    </tr>
                    <tr>
                        <th>ملاحظات</th>
                        <td>
                            {% if req.status == 6 %}
                            {{req.money_transfer.transfer1_notes}}
                            {% elif req.status == 11 %}
                            {{req.money_transfer.transfer2_notes}}
                            {% endif %}
                        </td>
                    </tr>
                </tbody>

            </table>
            <div class="row mt-3">
                {% if request.user.role == 6 or request.user.role == 1  %}
                <div class="col-6">
                    <a href="{%url 'confirm_process' req.id %}" class="btn btn-lg btn-success btn-rounded">تأكيد
                        التحويل </a>
                </div>
                {% endif %}
            </div>
        </div>

    </div>

</div>
{% endif %}
{% endif %}