{% extends '../base.html'%}
{% block content %}
<div class="row " dir="rtl">
    <div class="col-12 ">
        <div class="page-title-box d-flex align-items-center justify-content-between">
            <h3 class="mb-0 ">ارشيف الطلبات السابقة </h3>
            <p class="text-muted">الطلبات اللي تجاوزت 30 يوم </p>
        </div>

    </div>
</div>
<div class="card">
    <div class="card-body">
        <input type="text" class="table_search form-control" placeholder="الـبـحـث... " name="s">

        <div class="table-responsive text-center mt-3" data-simplebar style="max-height: 430px;">

            <table class=" table table-centered table-striped table-nowrap mb-0 data-table" dir="rtl"
                id="all_processes">
                <thead class="table-dark">
                    <tr>
                        <th>رقم الطلب </th>
                        <th>اسم العميل </th>
                        <th class="d-none d-lg-table-cell">نوع الطلب </th>
                        <th class="d-none d-lg-table-cell">تاريخ الطلب</th>
                        <th class="d-none d-lg-table-cell">البائع</th>
                        <th class="d-none">phone</th>

                    </tr>
                </thead>

                <tbody>
                    {% for process in page_obj %}
                    <tr>

                        <td>


                            <a href="{% url 'service_request_details' process.id %}">

                                {{process.request_number}}
                            </a>
                        </td>
                        <td>
                            {{process|truncatechars:20}}
                        </td>
                        <td class="d-none d-lg-table-cell">
                            {% if process.service_type == "repair" %}
                            <span class="badge bg-soft-danger p-2">
                                صيانة
                                <i class="fas fa-tools "></i>
                            </span>
                            {% elif process.service_type == "install" %}
                            <span class="badge bg-soft-warning p-2">
                                تركيب
                                <i class="fas fa-toolbox "></i>
                            </span>
                            {% endif %}
                        </td>
                        <td class="d-none d-lg-table-cell">
                            {{ process.timestamp.date }}
                        </td>
                        <td class="d-none d-lg-table-cell"><a
                                href="/profile/{{process.created_by.username}}">{{process.created_by}}</a>
                        </td>
                        <td class="d-none">{{process.phone}}</td>


                    </tr>
                    {% endfor %}

                </tbody>

            </table>


        </div>
        <!-- end table-responsive -->

    </div>
</div>
<nav aria-label="Page navigation mt-3">
    <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.previous_page_number }}">السابق</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">السابق</a>
        </li>
        {% endif %}
        {% for i in page_obj.paginator.page_range %}
        {% if page_obj.number == i %}
        <li class="page-item active" aria-current="page">
            <span class="page-link">
                {{ i }}
                <span class="sr-only">(current)</span>
            </span>
        </li>
        {% else %}
        <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
        {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.next_page_number }}">التالي</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">التالي</a>
        </li>
        {% endif %}
    </ul>
</nav>
{% endblock %}