{% extends '../base.html' %}
{% load static %}
{% block content %}
<!-- STATS -->
{% include './partials/_stats.html' %}
<div class="card bg-dark">
    <div class="row p-3 text-center ">
        <div class="col ">
            <a href="#new_requests" class="btn btn-small btn-light ">الطلبات </a>
        </div>

        <div class=" col">
            <a href="#users" class="btn btn-small btn-light">بيانات المستخدمين </a>
        </div>
        <div class=" col">
            <a href="#tasks" class="btn btn-small btn-light">مهام الموظفين </a>
        </div>

    </div>
</div>
<!-- NEW REQUESTS -->
{% include './partials/_all_requests.html' %}
<!-- END -->
<!-- Current processes   -->

<!-- END -->
<!-- TASKS -->
{% include './partials/_tasks.html' %}
<!-- END -->
<!-- users  -->
{% include './partials/_users_data.html'%}
<!-- END -->


{% endblock %}


{% block script %}
<script>
    $(document).ready(function () {
        let dataChart = $('#dataChart')
        $.ajax({
            url: '/chart',
            success: function (data) {
                let ctx = dataChart[0].getContext("2d");
                new Chart(ctx, {
                    type: 'bar',
                    data: {
                        labels: data.labels,
                        datasets: [{
                            label: 'جميع الطلبات المستلمة',
                            backgroundColor: data.colors,
                            data: data.data
                        }]
                    },
                    options: {
                        responsive: true,
                        legend: {
                            position: 'top',
                        },
                        title: {
                            display: true,
                            text: 'Population Bar Chart'
                        }
                    }
                })
            }
        })
    })
</script>
<script>
    $(document).ready(function () {
        let dataChart = $('#currentProcessesChart')
        $.ajax({
            url: '/current_requests',
            success: function (data) {
                let ctx = dataChart[0].getContext("2d");
                new Chart(ctx, {
                    type: 'bar',
                    data: {
                        labels: data.labels,
                        datasets: [{
                            label: 'الطلبات الجاري تنفيذها',
                            backgroundColor: data.colors,
                            data: data.data
                        }]
                    },
                    options: {
                        responsive: true,
                        legend: {
                            position: 'top',
                        },
                        title: {
                            display: true,
                            text: ''
                        }
                    }
                })
            }
        })
    })
</script>
{% endblock %}