{% extends '../base.html' %}
{% block content %}
<!-- STATS -->
<div class="row">
    <div class="col-sm-6 col-md-6 col-xl-3">
        <div class="card">
            <div class="card-body">
                <div class="float-end mt-2">
                    <div></div>
                </div>
                <div>
                    <h4 class="mb-1 mt-1"><span data-plugin="counterup">{{ all_requests|length }}</span></h4>
                    <p class="text-muted mb-0">عدد الطلبات المستلمة </p>
                </div>
                <!-- <p class="text-muted mt-3 mb-0"><span class="text-success me-1"><i
                            class="mdi mdi-arrow-up-bold me-1"></i>2.65%</span> since last week
                </p> -->
            </div>
        </div>
    </div> <!-- end col-->
    <div class="col-md-6 col-sm-6 col-xl-3">
        <div class="card">
            <div class="card-body">
                <div class="float-end mt-2">
                    <!-- <div id="orders-chart"> </div> -->
                </div>
                <div>
                    <h4 class="mb-1 mt-1"><span data-plugin="counterup">{{ all_new | length }}</span></h4>
                    <p class="text-muted mb-0">طلبات جديدة </p>
                </div>
                <!-- <p class="text-muted mt-3 mb-0"><span class="text-danger me-1"><i
                            class="mdi mdi-arrow-down-bold me-1"></i>0.82%</span> since last week
                </p> -->
            </div>
        </div>
    </div> <!-- end col-->

    <div class="col-md-6 col-sm-6 col-xl-3">
        <div class="card">
            <div class="card-body">
                <div class="float-end mt-2">
                    <!-- <div id="customers-chart"> </div> -->
                </div>
                <div>
                    <h4 class="mb-1 mt-1"><span data-plugin="counterup">{{ all_cur |length}}</span></h4>
                    <p class="text-muted mb-0">طلبات جاري تنفيذها </p>
                </div>
                <!-- <p class="text-muted mt-3 mb-0"><span class="text-danger me-1"><i
                            class="mdi mdi-arrow-down-bold me-1"></i>6.24%</span> since last week
                </p> -->
            </div>
        </div>
    </div> <!-- end col-->

    <div class="col-md-6 col-sm-6 col-xl-3">

        <div class="card">
            <div class="card-body">
                <div class="float-end mt-2">
                    <!-- <div id="growth-chart"></div> -->
                </div>
                <div>
                    <h4 class="mb-1 mt-1"><span data-plugin="counterup">{{all_users | length }}</span></h4>
                    <p class="text-muted mb-0">عدد المستخدمين</p>
                </div>
                <!-- <p class="text-muted mt-3 mb-0"><span class="text-success me-1"><i
                            class="mdi mdi-arrow-up-bold me-1"></i>10.51%</span> since last week
                </p> -->
            </div>
        </div>
    </div> <!-- end col-->
</div> <!-- end row-->
<div class="card bg-dark">
    <div class="row p-3 text-center ">
        <div class="col ">
            <a href="#new_requests" class="btn btn-small btn-light ">طلبات جديدة </a>
        </div>
        <div class="col">
            <a href="#current" class="btn btn-small btn-light">جاري تنفيذها </a>
        </div>
        <div class=" col">
            <a href="#users" class="btn btn-small btn-light">بيانات المستخدمين </a>
        </div>
        <div class=" col">
            <a href="#tasks" class="btn btn-small btn-light">مهام الموظفين </a>
        </div>

    </div>
</div>
<!-- NEW REQUESTS -->
{% include './partials/_new_requests.html' %}
<!-- END -->
<!-- Current processes   -->
{% include './partials/_current_processes.html' %}
<!-- END -->
<!-- TASKS -->
{% include './partials/_tasks.html' %}
<!-- END -->
<!-- users  -->
{% include './partials/_users_data.html'%}
<!-- END -->
{% endblock %}