{% extends 'base.html'%}
{% block content %}
{% if request.user.role == 10 %}
<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-body bg-soft-info text-center">


                <h4 class="mb-1 mt-1"><span data-plugin="counterup">{{ all_requests|length }}</span></h4>
                <p class="text-muted mb-0">عدد الطلبات </p>


            </div>
        </div>
    </div> <!-- end col-->
    <div class="col">
        <div class="card">
            <div class="card-body bg-soft-success text-center">

                <h4 class="mb-1 mt-1"><span data-plugin="counterup">{{  all_current_requests | length }}</span></h4>
                <p class="text-muted mb-0"> طلبات جاري تنفيذها </p>
            </div>
        </div>
    </div> <!-- end col-->


</div> <!-- end row-->

{% endif %}
{% if request.user.role == 5 %}
<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-body bg-soft-info text-center">


                <h4 class="mb-1 mt-1"><span data-plugin="counterup">{{ all_history|length }}</span></h4>
                <p class="text-muted mb-0">عدد الطلبات </p>


            </div>
        </div>
    </div> <!-- end col-->
    <div class="col">
        <div class="card">
            <div class="card-body bg-soft-success text-center">

                <h4 class="mb-1 mt-1"><span data-plugin="counterup">{{  all_current | length }}</span></h4>
                <p class="text-muted mb-0"> طلبات جاري تنفيذها </p>
            </div>
        </div>
    </div> <!-- end col-->


</div> <!-- end row-->

<div class="row">
    <div class="col text-center">
        <div class="card">
            <div class="card-body" style="background-color: rgba(196, 167, 167, 0.433)">

                عدد المفضلات المسموح بها :
                <span data-plugin="counterup"> {{request.user.favourite_qouta.max_requests}}</span>

            </div>
        </div>
    </div>
    <div class="col text-center">
        <div class="card">
            <div class="card-body" style="background-color: rgba(196, 167, 167, 0.433)">
                عدد الطلبات المفضلة اليوم :
                <span data-plugin="counterup">
                    {{request.user.favourite_qouta.current_requests}}
                </span>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% if request.user.role == 5 %}
<div class="card">
    <div class="card-body">
        <h4 class="card-title mb-4" dir="rtl">الطلبات</h4>

        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" data-bs-toggle="tab" href="#navtabs-all" role="tab">
                    <span class="d-block d-sm-none"><i class="fas fa-home"></i></span>
                    <span class="d-none d-sm-block">
                        جميع الطلبات

                    </span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#navtabs-curr" role="tab">
                    <span class="d-block d-sm-none"><i class="fas fa-home"></i></span>
                    <span class="d-none d-sm-block">
                        طلبات جاري تنفيذها

                    </span>
                </a>
            </li>
            {% if request.user.role == 5 %}
            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#navtabs-fav" role="tab">
                    <span class="d-block d-sm-none"><i class="fas fa-home"></i></span>
                    <span class="d-none d-sm-block">
                        المفضلات

                    </span>
                </a>
            </li>
            {% endif %}
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="navtabs-all" role="tabpanel">
                <div class="card">
                    <div class="card-body">

                        <h4 class="card-title mb-4" dir="rtl">جميع الطلبات </h4>


                        <input type="text" class="table_search form-control" placeholder="الـبـحـث... " name="s">
                    </div>
                    <div class="table-responsive" data-simplebar style="max-height: 430px;">
                        <table class="table table-centered table-nowrap mb-0 text-center data-table" dir="rtl">
                            <thead class="table-light">
                                <tr>

                                    <th>رقم الطلب </th>
                                    <th>أسم العميل</th>
                                    <th>تاريخ الطلب </th>
                                    <th>نوع الطلب </th>
                                    <th>رقم الفاتورة</th>
                                    <th>حالة الطلب</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for req in all_history %}
                                <tr {% if req.favourite %} class="bg-soft-success" {% endif %}>

                                    <td><a {% if req in service_history %}
                                            href="{% url 'service_request_details' req.id  %}" {% else %}
                                            href="{% url 'quarter_request_details' req.id  %}" {% endif %}>

                                            #{{req.request_number}}
                                        </a>

                                    </td>
                                    <td>{{req.customer.name}}</td>
                                    <td>
                                        {{req.timestamp.date}}
                                    </td>
                                    <td>
                                        {% if req in service_history %}
                                        {{req.get_service_type_display}}
                                        {% else %} كوارتر
                                        {% endif %}
                                    </td>
                                    <td>{{req.invoice_number}}</td>
                                    <td class="text-center">
                                        <a {% if req in service_history %}
                                            href="{% url 'service_request_details' req.id  %}" {% else %}
                                            href="{% url 'quarter_request_details' req.id  %}" {% endif %}>

                                            {% if req in service_history %}
                                            {% if req.hold %}
                                            <span class="badge bg-danger">
                                                معلق
                                                {% else %}
                                                <span class="
                                                {% if req.status == 'new' %}
                                                bg-info
                                                {% elif req.status == 'under_process' %}
                                                bg-warning
                                                {% elif req.status == 'done' %}
                                                bg-success 
                                                {% else %}
                                                bg-danger
                                                {% endif %} p-2 badge">

                                                    {{req.get_status_display}}
                                                    {% endif %}
                                                </span>
                                                {% else %}
                                                <span>{{req.get_status_display}}</span>
                                                {% endif %}
                                        </a>
                                    </td>


                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <!-- end table-responsive -->
                </div>
            </div>
            <div class="tab-pane" id="navtabs-curr" role="tabpanel">
                <div class="card">
                    <div class="card-body">

                        <h4 class="card-title mb-4" dir="rtl">طلبات جاري تنفيذها</h4>


                        <input type="text" class="table_search form-control" placeholder="الـبـحـث... " name="s">
                    </div>
                    <div class="table-responsive" data-simplebar style="max-height: 430px;">
                        <table class="table table-centered table-nowrap mb-0 text-center data-table" dir="rtl">
                            <thead class="table-light">
                                <tr>

                                    <th>رقم الطلب </th>
                                    <th>أسم العميل</th>
                                    <th>تاريخ الطلب </th>
                                    <th>نوع الطلب </th>
                                    <th>حالة الطلب</th>


                                </tr>
                            </thead>
                            <tbody>
                                {% for req in all_current %}
                                <tr {% if req.favourite %} class="bg-soft-success" {% endif %}>

                                    <td><a {% if req in service_history %}
                                            href="{% url 'service_request_details' req.id  %}" {% else %}
                                            href="{% url 'quarter_request_details' req.id  %}" {% endif %}>

                                            #{{req.request_number}}
                                        </a>

                                    </td>
                                    <td>{{req.customer_name}}</td>
                                    <td>
                                        {{req.timestamp.date}}
                                    </td>
                                    <td>
                                        {% if req in service_history %}
                                        {{req.get_service_type_display}}
                                        {% else %} كوارتر
                                        {% endif %}
                                    </td>
                                    <td class="text-center">
                                        <a {% if req in service_history %}
                                            href="{% url 'service_request_details' req.id  %}" {% else %}
                                            href="{% url 'quarter_request_details' req.id  %}" {% endif %}>

                                            {% if req in service_history %}
                                            {% if req.hold %}
                                            <span class="badge bg-danger">
                                                معلق
                                                {% else %}
                                                <span class="
                                                {% if req.status == 'new' %}
                                                bg-info
                                                {% elif req.status == 'under_process' %}
                                                bg-warning
                                                {% elif req.status == 'done' %}
                                                bg-success 
                                                {% else %}
                                                bg-danger
                                                {% endif %} p-2 badge">

                                                    {{req.get_status_display}}
                                                    {% endif %}
                                                </span>
                                                {% else %}
                                                <span>{{req.get_status_display}}</span>
                                                {% endif %}
                                        </a>
                                    </td>


                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <!-- end table-responsive -->
                </div>
            </div>
            <div class="tab-pane" id="navtabs-fav" role="tabpanel">
                <div class="card">
                    <div class="card-body">

                        <h4 class="card-title mb-4" dir="rtl">المفضلات </h4>


                        <input type="text" class="table_search form-control" placeholder="الـبـحـث... " name="s">
                    </div>
                    <div class="table-responsive" data-simplebar style="max-height: 430px;">
                        <table class="table table-centered table-nowrap mb-0 text-center data-table" dir="rtl">
                            <thead class="table-light">
                                <tr>

                                    <th>رقم الطلب </th>
                                    <th>أسم العميل</th>
                                    <th>تاريخ الطلب </th>
                                    <th>نوع الطلب </th>
                                    <th>حالة الطلب</th>


                                </tr>
                            </thead>
                            <tbody>
                                {% for req in favs%}
                                <tr {% if req.favourite %} class="bg-soft-success" {% endif %}>

                                    <td><a {% if req in service_history %}
                                            href="{% url 'service_request_details' req.id  %}" {% else %}
                                            href="{% url 'quarter_request_details' req.id  %}" {% endif %}>

                                            #{{req.request_number}}
                                        </a>

                                    </td>
                                    <td>{{req.customer.name}}</td>
                                    <td>
                                        {{req.timestamp.date}}
                                    </td>
                                    <td>
                                        {% if req in service_history %}
                                        {{req.get_service_type_display}}
                                        {% else %} كوارتر
                                        {% endif %}
                                    </td>
                                    <td class="text-center">
                                        <a {% if req in service_history %}
                                            href="{% url 'service_request_details' req.id  %}" {% else %}
                                            href="{% url 'quarter_request_details' req.id  %}" {% endif %}>

                                            {% if req in service_history %}
                                            {% if req.hold %}
                                            <span class="badge bg-danger">
                                                معلق
                                                {% else %}
                                                <span class="
                                                {% if req.status == 'new' %}
                                                bg-info
                                                {% elif req.status == 'under_process' %}
                                                bg-warning
                                                {% elif req.status == 'done' %}
                                                bg-success 
                                                {% else %}
                                                bg-danger
                                                {% endif %} p-2 badge">

                                                    {{req.get_status_display}}
                                                    {% endif %}
                                                </span>
                                                {% else %}
                                                <span>{{req.get_status_display}}</span>
                                                {% endif %}
                                        </a>
                                    </td>


                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <!-- end table-responsive -->
                </div>
            </div>

        </div>

    </div>
</div>
{% else %}
<div class="card">
    <div class="card-body">
        <h2 class="card-title mb-4" dir="rtl"> الطلبات الجديدة </h2>
        <div class="tab-content">
            <div class="tab-pane active" id="navtabs-all" role="tabpanel">
                <div class="card">

                    <div class="table-responsive" data-simplebar style="max-height: 430px;">
                        <table class="table table-centered table-nowrap mb-0 text-center data-table" dir="rtl">
                            <thead class="table-light">
                                <tr>

                                    <th>رقم الطلب </th>
                                    <th>أسم العميل</th>
                                    <th>رقم العميل</th>
                                    <th>اضافة بواسطة </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for req in new_requests %}
                                <tr {% if req.favourite %} class="bg-soft-success" {% endif %}>

                                    <td><a href="{% url 'quarter_request_details' req.id  %}">

                                            #{{req.request_number}}
                                        </a>

                                    </td>
                                    <td>{{req.name}}</td>
                                    <td>{{req.phone}}</td>

                                    <td class="text-center">
                                        <a href="tel:{{req.created_by.phone}}">{{req.created_by}}</a>
                                    </td>
                                    <td>
                                        <a href="{% url 'contact_customer' req.id  %}"
                                            class="btn btn-sm btn-soft-success">
                                            تواصل مع العميل
                                        </a>
                                    </td>

                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <!-- end table-responsive -->
                </div>
            </div>

        </div>

    </div>
</div>
<div class="card">
    <div class="card-body">
        <h4 class="card-title mb-4" dir="rtl">الطلبات</h4>

        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" data-bs-toggle="tab" href="#navtabs-all" role="tab">
                    <span class="d-block d-sm-none"><i class="fas fa-home"></i></span>
                    <span class="d-none d-sm-block">
                        طلبات جاري تنفيذها

                    </span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#navtabs-curr" role="tab">
                    <span class="d-block d-sm-none"><i class="fas fa-home"></i></span>
                    <span class="d-none d-sm-block">
                        طلبات سابقة
                    </span>
                </a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="navtabs-all" role="tabpanel">
                <div class="card">
                    <div class="card-body">

                        <h4 class="card-title mb-4" dir="rtl">طلبات جاري تنفيذها
                        </h4>


                        <input type="text" class="table_search form-control" placeholder="الـبـحـث... " name="s">
                    </div>
                    <div class="table-responsive" data-simplebar style="max-height: 430px;">
                        <table class="table table-centered table-nowrap mb-0 text-center data-table" dir="rtl">
                            <thead class="table-light">
                                <tr>

                                    <th>رقم الطلب </th>
                                    <th>أسم العميل</th>
                                    <th>رقم العميل</th>
                                    <th>تاريخ الطلب </th>

                                    <th>حالة الطلب</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for req in all_current_requests %}
                                <tr {% if req.favourite %} class="bg-soft-success" {% endif %}>

                                    <td><a href="{% url 'quarter_request_details' req.id  %}">

                                            #{{req.request_number}}
                                        </a>

                                    </td>
                                    <td>{{req.name}}</td>
                                    <td>{{req.phone}}</td>
                                    <td>
                                        {{req.timestamp.date}}
                                    </td>


                                    <td class="text-center">
                                        <a href="{% url 'quarter_request_details' req.id  %}">
                                            {% if req.hold %}
                                            <span class="badge bg-danger">
                                                معلق </span>
                                            {% else %}
                                            <span>{{req.get_status_display}}</span>
                                            {% endif %}
                                        </a>

                                    </td>


                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <!-- end table-responsive -->
                </div>
            </div>
            <div class="tab-pane" id="navtabs-curr" role="tabpanel">
                <div class="card">
                    <div class="card-body">

                        <h4 class="card-title mb-4" dir="rtl">طلبات سابقة</h4>


                        <input type="text" class="table_search form-control" placeholder="الـبـحـث... " name="s">
                    </div>
                    <div class="table-responsive" data-simplebar style="max-height: 430px;">
                        <table class="table table-centered table-nowrap mb-0 text-center data-table" dir="rtl">
                            <thead class="table-light">
                                <tr>

                                    <th>رقم الطلب </th>
                                    <th>أسم العميل</th>
                                    <th>رقم العميل</th>
                                    <th>تاريخ الطلب </th>

                                    <th>حالة الطلب</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for req in all_requests %}

                                <tr {% if req.favourite %} class="bg-soft-success" {% endif %}>

                                    <td><a href="{% url 'quarter_request_details' req.id  %}">

                                            #{{req.request_number}}
                                        </a>

                                    </td>
                                    <td>{{req.name}}</td>
                                    <td>{{req.phone}}</td>
                                    <td>
                                        {{req.timestamp.date}}
                                    </td>


                                    <td class="text-center">
                                        <a href="{% url 'quarter_request_details' req.id  %}">
                                            {% if req.hold %}
                                            <span class="badge bg-danger">
                                                معلق </span>
                                            {% else %}
                                            <span>{{req.get_status_display}}</span>
                                            {% endif %}
                                        </a>

                                    </td>


                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <!-- end table-responsive -->
                </div>
            </div>
            <div class="tab-pane" id="navtabs-fav" role="tabpanel">
                <div class="card">
                    <div class="card-body">

                        <h4 class="card-title mb-4" dir="rtl">المفضلات </h4>


                        <input type="text" class="table_search form-control" placeholder="الـبـحـث... " name="s">
                    </div>
                    <div class="table-responsive" data-simplebar style="max-height: 430px;">
                        <table class="table table-centered table-nowrap mb-0 text-center data-table" dir="rtl">
                            <thead class="table-light">
                                <tr>

                                    <th>رقم الطلب </th>
                                    <th>أسم العميل</th>
                                    <th>تاريخ الطلب </th>
                                    <th>نوع الطلب </th>
                                    <th>حالة الطلب</th>


                                </tr>
                            </thead>
                            <tbody>
                                {% for req in favs%}
                                <tr {% if req.favourite %} class="bg-soft-success" {% endif %}>

                                    <td><a {% if req in service_history %}
                                            href="{% url 'service_request_details' req.id  %}" {% else %}
                                            href="{% url 'quarter_request_details' req.id  %}" {% endif %}>

                                            #{{req.request_number}}
                                        </a>

                                    </td>
                                    <td>{{req.customer.name}}</td>
                                    <td>
                                        {{req.timestamp.date}}
                                    </td>
                                    <td>
                                        {% if req in service_history %}
                                        {{req.get_service_type_display}}
                                        {% else %} كوارتر
                                        {% endif %}
                                    </td>
                                    <td class="text-center">
                                        <a {% if req in service_history %}
                                            href="{% url 'service_request_details' req.id  %}" {% else %}
                                            href="{% url 'quarter_request_details' req.id  %}" {% endif %}>

                                            {% if req in service_history %}
                                            {% if req.hold %}
                                            <span class="badge bg-danger">
                                                معلق
                                                {% else %}
                                                <span class="
                                                {% if req.status == 'new' %}
                                                bg-info
                                                {% elif req.status == 'under_process' %}
                                                bg-warning
                                                {% elif req.status == 'done' %}
                                                bg-success 
                                                {% else %}
                                                bg-danger
                                                {% endif %} p-2 badge">

                                                    {{req.get_status_display}}
                                                    {% endif %}
                                                </span>
                                                {% else %}
                                                <span>{{req.get_status_display}}</span>
                                                {% endif %}
                                        </a>
                                    </td>


                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <!-- end table-responsive -->
                </div>
            </div>

        </div>

    </div>
</div>
{% endif %}

{% endblock %}