{% extends 'base.html'%}
{% block content %}
<div class="card">
    <div class="card-body">
        <h4 class="card-title mb-4" dir="rtl">تاريخ الطلبات السابقة </h4>

        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" data-bs-toggle="tab" href="#navtabs-all" role="tab">
                    <span class="d-block d-sm-none"><i class="fas fa-home"></i></span>
                    <span class="d-none d-sm-block">
                        جميع الطلبات

                    </span>
                </a>
            </li>



        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="navtabs-all" role="tabpanel">
                <div class="card">
                    <div class="card-body">

                        <h4 class="card-title mb-4" dir="rtl">جميع الطلبات </h4>


                        <input type="text" class="table_search form-control" placeholder="الـبـحـث... " name="s">
                    </div>
                    <div class="table-responsive" data-simplebar style="max-height: 430px;">
                        <table class="table table-centered table-nowrap mb-0 text-center data-table" dir="rtl">
                            <thead class="table-light">
                                <tr>

                                    <th>رقم الطلب </th>
                                    <th>أسم العميل</th>
                                    <th>تاريخ الطلب </th>
                                    <th>نوع الطلب </th>
                                    <th>حالة الطلب</th>


                                </tr>
                            </thead>
                            <tbody>
                                {% for req in all_history %}
                                <tr {% if req.favourite %} class="bg-soft-success" {% endif %}>

                                    <td><a {% if req in service_history %}
                                            href="{% url 'service_request_details' req.id  %}" {% else %}
                                            href="{% url 'quarter_request_details' req.id  %}" {% endif %}>

                                            {{req.request_number}}
                                        </a>

                                    </td>
                                    <td>{{req.customer.name}}</td>
                                    <td>
                                        {{req.timestamp.date}}
                                    </td>
                                    <td>
                                        {% if req in service_history %}
                                        {{req.get_service_type_display}}
                                        {% else %} كوارتر
                                        {% endif %}
                                    </td>
                                    <td class="text-center">
                                        <a class="btn btn-soft-primary btn-sm btn-rounded  waves-effect waves-light"
                                            {% if req in service_history %}
                                            href="{% url 'service_request_details' req.id  %}" {% else %}
                                            href="{% url 'quarter_request_details' req.id  %}"
                                            {% endif %}>{{req.get_status_display}}
                                        </a>
                                    </td>


                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <!-- end table-responsive -->
                </div>
            </div>
        </div>

    </div>
</div>
</div>
{% endblock %}