{% extends '../base.html' %}
{% block content %}
<div class="card">
    <div class="card-title text-center mt-3">
        <h6 class="card-title text-primary">
            تفاصيل المهمة :

            <span class="text-dark" style="font-size:20px">

                {{task.title}}
            </span>
        </h6>
    </div>
    <div class="card-body text-center">
        <div class="d-flex justify-content-center" style="min-height: 60vh;">
            <table class="text-center">
                <tr>
                    <td>
                        <h3>
                            BY :
                        </h3>
                    </td>
                    {% if task.created_by.name %}
                    <td> {{task.created_by.name}}</td>
                    {% else %}
                    <td>{{task.created_by}}</td>
                    {% endif %}
                </tr>

                <tr>
                    <td> تفاصيل المهمة </td>
                    <td>{{task.details}}</td>
                </tr>
                {% if task.files %}
                <tr>
                    <td> الملفات </td>
                    <td><a href="{{task.files.url}}" target="_blank">عرض الملفات </a></td>
                </tr>
                {% endif %}
                <tr>
                    <td> الوقت المدد للتنفيذ </td>
                    <td>{{task.due_date}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>
{% endblock %}