{% extends '../base.html' %}
{% block content %}

<!-- start page title -->

<div class=" card  text-center mt-3 p-3">
    <h4 class="mb-0">بيانات المستخدمين</h4>
</div>


<!-- Nav tabs -->
<ul class="nav nav-tabs" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" data-bs-toggle="tab" href="#navtabs-all" role="tab">
            <span class="d-block d-sm-none"><i class="fas fa-home"></i></span>
            <span class="d-none d-sm-block">جميع المستخدمين</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-bs-toggle="tab" href="#navtabs-sales" role="tab">
            <span class="d-block d-sm-none"><i class="far fa-user"></i></span>
            <span class="d-none d-sm-block">المبيعات </span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-bs-toggle="tab" href="#navtabs-tech" role="tab">
            <span class="d-block d-sm-none"><i class="far fa-envelope"></i></span>
            <span class="d-none d-sm-block">الفنيون </span>
        </a>
    </li>
</ul>
<div class="tab-content">

    <!-- ALL USERS TAB  -->
    <div class="tab-pane active" id="navtabs-all" role="tabpanel">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title mb-4" dir="rtl">بيانات المستخدمين </h4>

                <div class="table-responsive text-center">
                    <table class="table table-centered table-striped table-nowrap mb-0" dir="rtl">
                        <thead class="table-dark">
                            <tr>

                                <th>اسم المستخدم </th>
                                <th>الاسم </th>
                                <th>الجوال </th>
                                <th>الوظيفة</th>
                                <th>القسم </th>
                                <th>تأكيد</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for user in all_users %}
                            <tr>
                                <td><a href="{% url 'profile' user.username %}">{{user.username}}</a>
                                </td>
                                <td>{{user.name}}</td>
                                <td>
                                    {{user.phone}}
                                </td>
                                <td>
                                    {{ user.get_role_display}}
                                </td>


                                <td>

                                    {{user.section }}

                                </td>
                                <td>

                                    <button class=" btn btn-primary btn-rounded waves-effect waves-light ">
                                        <i class="uil uil-pen "></i>
                                    </button>
                                    <button class=" btn btn-danger btn-rounded waves-effect waves-light">
                                        <i class="uil uil-trash-alt "></i>
                                    </button>

                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                </div>
                <!-- end table-responsive -->
            </div>
        </div>
    </div>
    <!-- SALES TAB  -->
    <div class="tab-pane" id="navtabs-sales" role="tabpanel">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title mb-4" dir="rtl">المبيعات</h4>

                <div class="table-responsive text-center">
                    <table class="table table-centered table-striped table-nowrap mb-0 " dir="rtl">
                        <thead class="table-dark">
                            <tr>

                                <th>اسم المستخدم </th>
                                <th>الاسم </th>
                                <th>الجوال </th>
                                <th>الوظيفة</th>
                                <th>عدد الطلبات </th>
                                <th>تأكيد</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for user in sales %}
                            <tr>
                                <td><a href="{% url 'profile' user.username %}">{{user.username}}</a>
                                </td>
                                <td>{{user.name}}</td>
                                <td>
                                    {{user.phone}}
                                </td>
                                <td>
                                    {{ user.get_role_display}}
                                </td>


                                <td>

                                    {{user.submitted_orders}}

                                </td>
                                <td>

                                    <button class=" btn btn-primary btn-rounded waves-effect waves-light ">
                                        <i class="uil uil-pen "></i>
                                    </button>
                                    <button class=" btn btn-danger btn-rounded waves-effect waves-light">
                                        <i class="uil uil-trash-alt "></i>
                                    </button>

                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                </div>
                <!-- end table-responsive -->
            </div>
        </div>
    </div>
    <!-- TECHNICIANS TAB  -->
    <div class="tab-pane" id="navtabs-tech" role="tabpanel">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title mb-4" dir="rtl">الفنيون</h4>

                <div class="table-responsive text-center">
                    <table class="table table-centered table-striped table-nowrap mb-0" dir="rtl">
                        <thead class="table-dark">
                            <tr>

                                <th>اسم المستخدم </th>
                                <th>الاسم </th>
                                <th>الجوال </th>

                                <th>عدد المهام </th>
                                <th>تأكيد</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for user in tech %}
                            <tr>
                                <td><a href="{% url 'profile' user.username %}">{{user.username}}</a>
                                </td>
                                <td>{{user.name}}</td>
                                <td>
                                    {{user.phone}}
                                </td>



                                <td>

                                    {{ user.completed_tasks }}

                                </td>
                                <td>

                                    <button class=" btn btn-primary btn-rounded waves-effect waves-light ">
                                        <i class="uil uil-pen "></i>
                                    </button>
                                    <button class=" btn btn-danger btn-rounded waves-effect waves-light">
                                        <i class="uil uil-trash-alt "></i>
                                    </button>

                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                </div>
                <!-- end table-responsive -->
            </div>
        </div>
    </div>
</div>


<!-- end page title -->
{% endblock %}