<div class="card-body">
    <div>
        <h3>تفاصيل الطلب </h3>

        <ul class="list-group">
            <li class="list-group-item">رقم الطلب : <span class="text-primary">{{service.ref_number}}</span>
            <li class="list-group-item">حالة الطلب :
                {% if service.hold %}
                <span class="badge rounded-pill bg-danger">
                    معلق
                </span>
                {% else %}
                <span class="badge rounded-pill 
                {% if service.status  == 'new' %}
                   bg-warning
                {% elif service.status == 'under_process' %}
                    bg-primary
                {% elif  service.status == 'done' or service.status  == 'closed' %}
                    bg-success
                {% endif %} 
                   ">{{service.get_status_display}}</span>
                {% endif %}
            </li>
            <li class="list-group-item">العميل: <span class="text-primary">{{service.customer}}</span>
            </li>
            <li class="list-group-item">رقم الجوال: <span class="text-primary">{{service.phone_number}}</span>
            </li>
            <li class="list-group-item">العنوان: <span class="text-primary">{{service.address}} -
                    {{service.city}}</span></li>

            {% if service.service_type == 'repair' %}
            <li class="list-group-item">نوع الطلب : <span class=" badge  p-2
                 {% if service.customer_type == 'cash' %}
                 bg-success
                 {% else %}
                 bg-warning 
                 {% endif %}
                 ">{{service.get_customer_type_display}}</span></li>

            <li class="list-group-item"> نوع الجهاز : <span class="text-primary">
                    {{ service.machine_type}}</span></li>
            {% endif %}
            <li class="list-group-item"> وقت الطلب : <span class="text-primary">
                    {{service.created_at.date|date:'F j, Y'}} {{service.created_at.time|time:'g:i a'}} </span>
            </li>
            {% if service.invoice_number%}
            <li class="list-group-item">رقم الفاتورة : <span class="text-primary">
                    {{service.invoice_number}}</span></li>
            {% endif %}
            {% if service.service_type == 'install'%}

                <li class="list-group-item">
                    عدد المكيفات : <span class="text-primary">{{service.ac_count}}</span>
                </li>
            {% endif %}

            {% if request.user.role == 'install_supervisor' or request.user.role  == 'repair_supervisor' or request.user.is_superuser %}
            <li class="list-group-item">
                كود التنفيذ : <span class="text-primary">{{ service.code }}</span>
            </li>
            {% endif %}
            {% if service.notes %}
            <li class="list-group-item">
                ملاحظات - تفاصيل : <span>{{service.notes }}</span>
            </li>
            {% endif %}
            {% if service.file_set.all %}
            <li class="list-group-item">
                الملفـات :
                {% for file in service.file_set.all %} <a href="{{file.file.url}}">ملف
                    {{forloop.counter}}</a>{% endfor %}
            </li>
            {% endif %}
        </ul>
    </div>
    <div class="my-2">

        <h3>البائع </h3>
        <ul class="list-group">
            <li class="list-group-item">البائع : <a href="">{{service.created_by}}</a> </li>
            <li class="list-group-item">رقم البائع: <a href="">{{service.created_by.phone_number}}</a> </li>
        </ul>
    </div>
</div>