
{% load i18n %}
<div class="card-body">
    <div>
        <h3>{% trans 'req_details' %}</h3>

        <div >
            <div class="card shadow-sm">
                <div class="card-body">
                    <div class="row g-2 mx-4">
                        <div class="col-sm-6 p-2 border-bottom mb-4">
                            <span class="text-muted">{% trans 'req_number' %}:</span>
                            <span class="ms-2 text-primary">{{service.ref_number}}</span>
                        </div>
        
                        <div class="col-sm-6 p-2 border-bottom mb-4">
                            <span class="text-muted">{% trans 'status' %}:</span>
                            <span class="ms-2">
                                {% if service.hold %}
                                <span class="badge bg-danger">
                                    {% trans 'on_hold' %}
                                </span>
                                {% else %}
                                <span class="badge  
                                    {% if service.status == 'new' %}
                                        bg-warning
                                    {% elif service.status == 'under_process' %}
                                        bg-primary
                                    {% elif service.status == 'done' or service.status == 'closed' %}
                                        bg-success
                                    {% endif %}">
                                    {{service.get_status_display}}
                                </span>
                                {% endif %}
                            </span>
                        </div>
        
                        <div class="col-sm-6 p-2 border-bottom mb-4">
                            <span class="text-muted">{% trans 'customer_name' %}:</span>
                            <span class="ms-2 text-primary">{{service.customer}}</span>
                        </div>
        
                        <div class="col-sm-6 p-2 border-bottom mb-4">
                            <span class="text-muted">{% trans 'phone' %}:</span>
                            <span class="ms-2 text-primary">{{service.phone_number}}</span>
                        </div>
        
                        <div class="col-12 p-2 border-bottom mb-4">
                            <span class="text-muted">{% trans 'address' %}:</span>
                            <span class="ms-2 text-primary">{{service.address}} - {{service.city}}</span>
                        </div>
        
                        {% if service.service_type == 'repair' %}
                        <div class="col-sm-6 p-2 border-bottom mb-4">
                            <span class="text-muted">{% trans 'req_type' %}:</span>
                            <span class="badge p-2
                                {% if service.customer_type == 'cash' %}
                                    bg-success
                                {% else %}
                                    bg-warning
                                {% endif %}">
                                {{service.get_customer_type_display}}
                            </span>
                        </div>
        
                        <div class="col-sm-6 p-2 border-bottom mb-4">
                            <span class="text-muted">{% trans 'machine_type' %}:</span>
                            <span class="ms-2 text-primary">{{ service.machine_type }}</span>
                        </div>
                        {% endif %}
        
                        <div class="col-sm-6 p-2 border-bottom mb-4">
                            <span class="text-muted">{% trans 'created_at' %}:</span>
                            <span class="ms-2 text-primary">
                                {{service.created_at.date|date:'F j, Y'}} {{service.created_at.time|time:'g:i a'}}
                            </span>
                        </div>
        
                        {% if service.invoice_number %}
                        <div class="col-sm-6 p-2 border-bottom mb-4">
                            <span class="text-muted">{% trans 'invoice_number' %}:</span>
                            <span class="ms-2 text-primary">{{service.invoice_number}}</span>
                        </div>
                        {% endif %}
        
                        {% if service.service_type == 'install' %}
                        <div class="col-sm-6 p-2 border-bottom mb-4">
                            <span class="text-muted">{% trans 'ac_count' %}:</span>
                            <span class="ms-2 text-primary">{{service.ac_count}}</span>
                        </div>
                        {% endif %}
        
                        {% if request.user.role == 'install_supervisor' or request.user.role == 'repair_supervisor' or request.user.is_superuser %}
                        <div class="col-sm-6 p-2 border-bottom mb-4">
                            <span class="text-muted">{% trans 'exec_code' %}:</span>
                            <span class="ms-2 text-primary">{{ service.code }}</span>
                        </div>
                        {% endif %}
        
                        {% if service.notes %}
                        <div class="col-12 p-2 border-bottom mb-4">
                            <span class="text-muted">{% trans 'notes' %} / {% trans 'details' %}:</span>
                            <span class="ms-2">{{service.notes}}</span>
                        </div>
                        {% endif %}
        
                        {% if service.file_set.all %}
                        <div class="col-12 p-2 border-bottom mb-4">
                            <span class="text-muted">{% trans 'files' %}:</span>
                            {% for file in service.file_set.all %}
                            <a href="{{file.file.url}}" class="ms-2">{{ forloop.counter }}</a>
                            {% endfor %}
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>



    </div>
    <div class="my-2">

        <h3>{% trans 'seller' %} </h3>
            <div class="card shadow-sm">
                <div class="card-body">
                    <div class="row g-2 mx-4">
                        <div class="col-sm-6 p-2 border-bottom mb-4">
                            <span class="text-muted">{% trans 'seller' %}:</span>
                            <span class="ms-2"><a href="">{{service.created_by}}</a></span>
                        </div>
        
                        <div class="col-sm-6 p-2 border-bottom mb-4">
                            <span class="text-muted">{% trans 'phone' %}:</span>
                            <span class="ms-2"><a href="">{{service.created_by.phone_number}}</a></span>
                        </div>
                    </div>
                </div>
            </div>
            </div>
</div>