{% load humanize %}
<!-- pricing tab  -->

<div class="tab-pane" id="navtabs-pricing">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">
                <i class="fas fa-dollar-sign"></i>
                التسعير
            </h4>

            <table class="table table-nowrap mb-3 table-striped " style="font-size: 18px;">
                <tbody>
                    <tr>
                        {% if req.status == 3 %}
                        <th scope="row" style="width: 20%;"> السعر المقترح </th>
                        {% else %}
                        <th scope="row" style="width: 20%;"> السعر </th>
                        {% endif %}
                        <td>{{req.pricing.price| intcomma}} ريال </td>
                    </tr>
                    <tr>
                        <th scope="row">ملفات التسعير </th>
                        <td><a href="{{req.pricing.files.url}}" target="__blank">عرض
                                الملفات</a>
                        </td>
                    </tr>

                    <tr>
                        <th scope="row">ملاحظات</th>
                        <td>{{ req.pricing.notes }}</td>
                    </tr>

                    <tr>
                        <th scope="row">الحالة </th>
                        <td>
                            {% if req.pricing.status == "approved" %}
                            تم قبول السعر
                            {% elif req.pricing.status == "pending" %}
                            التفاوض
                            {% else %}
                            رفض السعر / طلب تعديل
                            {% endif %}
                        </td>
                    </tr>
                    {% if req.pricing.status == "rejected" %}
                    <tr>
                        <th scope="row">سعر مقترح </th>
                        <td>
                            {{req.pricing.proposed_price}}
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">ملاحظات / تعديلات</th>
                        <td>
                            {{req.pricing.rejection_notes}}
                        </td>
                    </tr>
                    {% endif %}

                </tbody>

            </table>
            {% if req.status == 3 %}
            <div>

                <a href="{%url 'confirm_process' req.id %}" class="btn btn-lg btn-success btn-rounded">
                    الموافقة علي السعر <i class="far fa-check-circle "></i>
                </a>

                <a href="" class="btn btn-lg btn-danger btn-rounded">
                    تعديل السعر <i class="far fa-edit"></i>
                </a>

            </div>
            <!-- negotiaion -->
            {% elif req.status == 4 %}
            <div>

                <a href="{%url 'confirm_process' req.id %}" class="btn btn-lg btn-success btn-rounded">
                    قبول السعر
                </a>

                <a href="" class="btn btn-lg btn-warning btn-rounded">
                    تعديل السعر
                </a>

            </div>
            {% endif %}

        </div>
    </div>
</div>