<div class="card">
    <div class="card-body">
        <h4 class="card-title mb-4" dir="rtl">الطلبات الواردة </h4>

        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" data-bs-toggle="tab" href="#navtabs-all" role="tab">
                    <span class="d-block d-sm-none"><i class="fas fa-home"></i></span>
                    <span class="d-none d-sm-block">
                        جميع الطلبات

                    </span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#navtabs-new" role="tab">
                    <span class="d-block d-sm-none"><i class="far fa-user"></i></span>
                    <span class="d-none d-sm-block">طلبات جديدة
                        <i class="fas fa-tools "></i>
                    </span>
                </a>
            </li>


        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="navtabs-all" role="tabpanel">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex justify-content-between">
                            <h4 class="card-title mb-4" dir="rtl">الطلبات الواردة </h4>
                            <button id="" class="d-none btn btn-soft-danger quarterMultiDeleteBtn" type="submit">
                                حذف
                                المختارة
                            </button>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-centered table-nowrap mb-0 text-center" dir="rtl">
                                <thead class="table-light">
                                    <tr>
                                        <th></th>
                                        <th>رقم الطلب </th>
                                        <th>أسم العميل</th>
                                        <th>تاريخ الطلب </th>
                                        <th>حالة الطلب</th>


                                    </tr>
                                </thead>
                                <tbody>
                                    {% for req in all_requests %}
                                    <tr>
                                        <td>
                                            <div class="form-check font-size-16">
                                                <input type="checkbox" class="form-check-input qua_checkbox "
                                                    id="customCheck2" name="req_id[]" value="{{req.id}}">
                                                <label class="form-check-label" for="customCheck2">&nbsp;</label>
                                            </div>
                                        </td>
                                        <td>{{req.request_number}}</td>
                                        <td>{{req.name}}</td>
                                        <td>
                                            {{req.timestamp.date}}
                                        </td>
                                        <td class="text-center">
                                            <a class="btn btn-soft-primary btn-sm btn-rounded  waves-effect waves-light"
                                                href="{% url 'quarter_request_details' req.id %}">{{req.get_status_display}}
                                            </a>
                                        </td>


                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <!-- end table-responsive -->
                    </div>
                </div>
            </div>
            <div class="tab-pane " id="navtabs-new" role="tabpanel">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex justify-content-between">
                            <h4 class="card-title mb-4" dir="rtl">طلبات جديدة </h4>
                            <button id="" class="d-none btn btn-soft-danger quarterMultiDeleteBtn" type="submit">
                                حذف
                                المختارة
                            </button>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-centered table-nowrap mb-0 text-center" dir="rtl">
                                <thead class="table-light">
                                    <tr>
                                        <th></th>
                                        <th>رقم الطلب </th>
                                        <th>أسم العميل</th>
                                        <th>تاريخ الطلب </th>
                                        <th>حالة الطلب</th>
                                        <th>التفاصيل</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    {% for req in new_requests %}
                                    <tr>
                                        <td>
                                            <div class="form-check font-size-16">
                                                <input type="checkbox" class="form-check-input qua_checkbox "
                                                    id="customCheck2" name="req_id[]" value="{{req.id}}">
                                                <label class="form-check-label" for="customCheck2">&nbsp;</label>
                                            </div>
                                        </td>
                                        <td>{{req.request_number}}</td>
                                        <td>{{req.name}}</td>
                                        <td>
                                            {{req.timestamp.date}}
                                        </td>
                                        <td class="text-center">
                                            <span
                                                class="badge rounded-pill bg-danger font-size-14">{{req.get_status_display}}</span>
                                        </td>
                                        <td>

                                            <a class="btn btn-primary btn-sm btn-rounded waves-effect waves-light"
                                                href="{% url 'quarter_request_details' req.id %}">
                                                التفاصيل
                                            </a>

                                        </td>

                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <!-- end table-responsive -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- design , pricing , transfers  -->
<div class="card">
    <div class="card-body">
        <h4 class="card-title mb-4" dir="rtl">اعتماد العمليات </h4>

        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" data-bs-toggle="tab" href="#navtabs-pricing" role="tab">
                    <span class="d-block d-sm-none"><i class="fas fa-home"></i></span>
                    <span class="d-none d-sm-block">
                        التسعير

                    </span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link " data-bs-toggle="tab" href="#navtabs-design" role="tab">
                    <span class="d-block d-sm-none"><i class="fas fa-home"></i></span>
                    <span class="d-none d-sm-block">
                        التصميمات
                    </span>
                </a>
            </li>



        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="navtabs-pricing" role="tabpanel">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title mb-4" dir="rtl">مراجعة عمليات التسعير </h4>
                        <div class="table-responsive">
                            <table class="table table-centered table-nowrap mb-0 text-center" dir="rtl">
                                <thead class="table-light">
                                    <tr>

                                        <th>رقم الطلب </th>
                                        <th>أسم العميل</th>
                                        <th>تاريخ الطلب </th>
                                        <th>حالة الطلب</th>
                                        <th>التفاصيل</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    {% for req in pricing  %}
                                    <tr>
                                        <td>{{req.id}}</td>
                                        <td>{{req.name}}</td>
                                        <td>
                                            {{req.timestamp.date}}
                                        </td>
                                        <td class="text-center">
                                            <span
                                                class="badge rounded-pill bg-soft-danger font-size-14">{{req.get_status_display}}</span>
                                        </td>
                                        <td>

                                            <a class="btn btn-soft-primary btn-sm btn-rounded  waves-effect waves-light"
                                                href="{% url 'quarter_request_details' req.id %}">
                                                التفاصيل
                                            </a>

                                        </td>

                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <!-- end table-responsive -->
                    </div>
                </div>
            </div>

            <div class="tab-pane " id="navtabs-design" role="tabpanel">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title mb-4" dir="rtl">مراجعة التصميمات الجديدة </h4>
                        <div class="table-responsive">
                            <table class="table table-centered table-nowrap mb-0 text-center" dir="rtl">
                                <thead class="table-light">
                                    <tr>

                                        <th>رقم الطلب </th>
                                        <th>أسم العميل</th>
                                        <th>تاريخ الطلب </th>
                                        <th>حالة الطلب</th>
                                        <th>التفاصيل</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    {% for req in design   %}
                                    <tr>
                                        <td>{{req.id}}</td>
                                        <td>{{req.name}}</td>
                                        <td>
                                            {{req.timestamp.date}}
                                        </td>
                                        <td class="text-center">
                                            <span
                                                class="badge rounded-pill bg-soft-danger font-size-14">{{req.get_status_display}}</span>
                                        </td>
                                        <td>

                                            <a class="btn btn-soft-primary btn-sm btn-rounded  waves-effect waves-light"
                                                href="{% url 'quarter_request_details' req.id %}">
                                                التفاصيل
                                            </a>

                                        </td>

                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <!-- end table-responsive -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- التحويلات المالية  -->
<div class="card">
    <div class="card-body">
        <h4 class="card-title mb-4" dir="rtl">التحويلات المالية </h4>

        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" data-bs-toggle="tab" href="#navtabs-pricing" role="tab">
                    <span class="d-block d-sm-none"><i class="fas fa-home"></i></span>
                    <span class="d-none d-sm-block">
                        جميع التحويلات

                    </span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link " data-bs-toggle="tab" href="#navtabs-design" role="tab">
                    <span class="d-block d-sm-none"><i class="fas fa-home"></i></span>
                    <span class="d-none d-sm-block">
                        تحويلات قيد المراجعة
                    </span>
                </a>
            </li>



        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="navtabs-pricing" role="tabpanel">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title mb-4" dir="rtl">مراجعة عمليات التسعير </h4>
                        <div class="table-responsive">
                            <table class="table table-centered table-nowrap mb-0 text-center" dir="rtl">
                                <thead class="table-light">
                                    <tr>

                                        <th>رقم الطلب </th>
                                        <th>أسم العميل</th>
                                        <th>تاريخ الطلب </th>
                                        <th>حالة الطلب</th>
                                        <th>التفاصيل</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    {% for req in pricing  %}
                                    <tr>
                                        <td>{{req.id}}</td>
                                        <td>{{req.name}}</td>
                                        <td>
                                            {{req.timestamp.date}}
                                        </td>
                                        <td class="text-center">
                                            <span
                                                class="badge rounded-pill bg-soft-danger font-size-14">{{req.get_status_display}}</span>
                                        </td>
                                        <td>

                                            <a class="btn btn-soft-primary btn-sm btn-rounded  waves-effect waves-light"
                                                href="{% url 'quarter_request_details' req.id %}">
                                                التفاصيل
                                            </a>

                                        </td>

                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <!-- end table-responsive -->
                    </div>
                </div>
            </div>

            <div class="tab-pane " id="navtabs-design" role="tabpanel">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title mb-4" dir="rtl">مراجعة التصميمات الجديدة </h4>
                        <div class="table-responsive">
                            <table class="table table-centered table-nowrap mb-0 text-center" dir="rtl">
                                <thead class="table-light">
                                    <tr>

                                        <th>رقم الطلب </th>
                                        <th>أسم العميل</th>
                                        <th>تاريخ الطلب </th>
                                        <th>حالة الطلب</th>
                                        <th>التفاصيل</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    {% for req in design   %}
                                    <tr>
                                        <td>{{req.id}}</td>
                                        <td>{{req.name}}</td>
                                        <td>
                                            {{req.timestamp.date}}
                                        </td>
                                        <td class="text-center">
                                            <span
                                                class="badge rounded-pill bg-soft-danger font-size-14">{{req.get_status_display}}</span>
                                        </td>
                                        <td>

                                            <a class="btn btn-soft-primary btn-sm btn-rounded  waves-effect waves-light"
                                                href="{% url 'quarter_request_details' req.id %}">
                                                التفاصيل
                                            </a>

                                        </td>

                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <!-- end table-responsive -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- التصميمات  -->