{% load humanize %}
<div class="card">

    <div class="card-body">

        <div class="accordion" id="accordionExample">

            <!-- PRICING  -->
            {% include './accordins/_pricing.html'%}
            <!-- attach  transfer files  -->
            {% include './accordins/_transfers.html' %}
            <!-- ATTACH DESIGNS  -->
            {% include './accordins/_designs.html' %}

            <!-- ATTACH PURCHASE FILES  -->
            {% include './accordins/_purchase.html' %}

            <!-- ACTIONS -->
            {% if request.user.role == 1  %}
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseActions" aria-expanded="false" aria-controls="collapseOne">
                        تعديل حالة الطلب
                    </button>
                </h2>
                <div id="collapseActions" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <div class="row">
                            <div class="col">
                                {% if req.hold %}
                                <a href="{% url 'hold_quarter_request' req.id %}"
                                    class="btn btn-lg btn-soft-success btn-rounded btn-waves">تفعيل
                                    الطلب <i class="far fa-check-circle"></i>
                                </a>
                                {% else %}
                                <a href="{% url 'hold_quarter_request' req.id %}"
                                    class="btn btn-lg btn-soft-warning btn-rounded btn-waves">تعليق
                                    الطلب <i class="far fa-pause-circle"></i>
                                </a>
                                {% endif %}
                            </div>
                            {% if not req.hold %}
                            <div class="col">
                                <a data-bs-toggle="collapse" href="#changestatus" aria-expanded="false"
                                    class="btn btn-lg btn-soft-primary btn-rounded btn-waves">
                                    تغيير الحالة <i class="far fa-edit"></i>
                                </a>
                            </div>
                            {% endif %}
                            <div class="col">
                                {% if request.user.role == 1 or request.user.role == 2 %}

                                <a href="{% url 'delete_quarter_request' req.id %}"
                                    class="btn btn-lg btn-soft-danger btn-rounded btn-waves">حذف
                                    الطلب <i class="far fa-trash-alt"></i>
                                </a>

                                {% elif request.user == req.created_by and req.status == "new" %}

                                <a href="{% url 'delete_quarter_request' req.id %}"
                                    class="btn btn-lg btn-soft-danger btn-rounded btn-waves">حذف
                                    الطلب <i class="far fa-trash-alt"></i>
                                </a>

                                {% endif %}
                            </div>

                        </div>
                        <div class="collapse" id="changestatus">
                            <div class="card card-body mb-0">
                                <form method="POST" action="{% url 'change_quarter_status' %}">
                                    {% csrf_token %}
                                    <input type="hidden" name="request" value="{{req.id}}">

                                    <div class="row mb-4">
                                        <label for="horizontal-firstname-input" class="col-sm-2 col-form-label">اختار
                                            الحالة
                                        </label>
                                        <div class="col-sm-10">
                                            <select name="new_status" id="" class="form-control">
                                                <option value="">
                                                </option>
                                                {% for v , k in status_choices %}
                                                <option value="{{v}}">
                                                    {{k}}
                                                </option>
                                                {% endfor %}
                                            </select>

                                        </div>
                                    </div>
                                    <div class="row ">
                                        <div class="col">

                                            <div>
                                                <button type="submit" class="btn btn-primary w-md">تحديث
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            {% endif %}
            {% if req.status == 12 %}
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        اتمام العملية
                    </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse show" aria-labelledby="headingTwo"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <a href="{% url 'end_request' req.id %}" class="btn btn-lg btn-soft-success btn-rounded "
                            style="width: 100%;"> اتمام العملية
                        </a>
                    </div>

                </div>

            </div>
            {% endif %}

        </div>


    </div>
</div>
</div>