{% extends 'base.html' %}
{% load i18n%}
{% block title %}مستخدم جديد {% endblock %}
{% block content %} {% load static %}
{% load widget_tweaks %}
<style>
    label {
        color: #11427e
    }
</style>
<div class="row page-titles">
    <div class="col-md-5 col-12 align-self-center">
        <h3 class="text-themecolor mb-0">{% trans 'add_new_user' %}</h3>
    </div>
    <div class="col-md-7 col-12 align-self-center d-none d-md-flex justify-content-end">
        <ol class="breadcrumb mb-0 p-0 bg-transparent">
            <li class="breadcrumb-item"><a href="{% url 'users:user_list' %}">{% trans 'users' %}</a></li>
            <li class="breadcrumb-item active d-flex align-items-center">{% trans 'home' %}</li>
        </ol>
    </div>
</div>

<div class="card card-body">
    <p id="validation"></p>
    <form action="" method="post" class="needs_validation" id="userForm">
        {% csrf_token %}
        <div class="row ">
            <div class="col-6 my-2 ">
                <!-- <label for="" class="text-primary">الاسم </label> -->
                {{form.name.label_tag}}
                {{form.name|attr:'class:form-control'}}
                <div class="invalid-feedback">
                    
                </div>
            </div>
            <div class="col-6 my-2 ">

                {{form.phone_number.label_tag}}
                {{form.phone_number|attr:'class:form-control'}}
                <div class="invalid-feedback">
                    
                </div>
            </div>
            <hr class="my-1 ">
            <div class="col-12 my-2 ">

                {{form.username.label_tag}}
                {{form.username|attr:'class:form-control'}}
                <div class="invalid-feedback" id="username-validation">
                
                </div>
            </div>

            <div class="col-6 my-2 ">
                <label for="">{% trans 'password'%} </label>
                {{form.password1|attr:'class:form-control'}}
                <div class="invalid-feedback" id="password1-validation">
                    
                </div>
            </div>
            <div class="col-6  my-2 ">

                <label for="">{% trans 'confirm_password'%} </label>
                {{form.password2|attr:'class:form-control'}}
                <div class="invalid-feedback">
                    
                </div>
            </div>
            <hr class="my-1">
            <div class="col-6 my-2">
                {{form.role.label_tag}}
                {{form.role|attr:'class:form-control'}}
            </div>
            <div class="col-6 my-2">
                {{form.favourite_qouta.label_tag}}
                {{form.favourite_qouta|attr:'class:form-control'}}
            </div>


        </div>
        <div class="form-group my-3">
            {% trans 'allowed_services' %}: 
            <div class="form-check ">
                <input class="form-check-input" name="install" type="checkbox" >
                <label class="form-check-label fw-bold text-primary mx-1" for="flexCheckDefault">
                    {% trans 'install' %}
                </label>

            </div>
            <div class="form-check ">
                <input class="form-check-input" name="repair" type="checkbox" >
                <label class="form-check-label fw-bold text-primary mx-1" for="flexCheckDefault">
                    {% trans 'repair' %}
                </label>

            </div>
            <div class="form-check ">
                <input class="form-check-input" name="quarter" type="checkbox" >
                <label class="form-check-label fw-bold text-primary mx-1" for="flexCheckDefault">
                    {% trans 'projects' %}
                </label>

            </div>
        </div>
        <button type="submit" class="btn btn-lg btn-success w-100 waves-effect " id="userCreateBtn">
            {% trans 'save'%}
        </button>
    </form>
</div>
{% endblock %}

{% block script %}
<script src="{% static 'js/pages/validate_user_creation.js' %}"></script>

{% endblock %}