<!DOCTYPE html>
<html>
{% load static %}

<head>

    <meta charset="UTF-8">
    <title>Quarter CRM </title>
    <meta name="keywords" content="" />
    <meta name="description" content="">
    <meta name="author" content="okler.net">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link href="https://fonts.googleapis.com/css2?family=El+Messiri:wght@400;500;600;700&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800%7COpen+Sans:400,700,800"
        rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v2.1.5/css/unicons.css">


    <!-- Bootstrap Css -->
    <link href="{% static 'css/bootstrap-rtl.min.css' %}" rel="stylesheet" type="text/css" />
    <!-- Icons Css -->
    <link href="{% static 'css/icons.min.css' %}" rel="stylesheet" type="text/css" />
    <!-- App Css-->
    <link href="{% static 'css/app-rtl.min.css' %}" rel="stylesheet" type="text/css" />
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/5.9.55/css/materialdesignicons.css"
        integrity="sha512-cQpRsNnonGHFzzAZzZdR05ndKsRXZ5MVcuq+RMKiEbRYmQlLevgdtPjvSI1uGYjqEgio3uQurahmcUde6mMUJQ=="
        crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
        crossorigin="anonymous" />

</head>
<style>
    * {
        font-family: 'El Messiri', sans-serif
    }
</style>

<body data-sidebar="dark" dir="rtl">
    <div id="layout-wrapper">
        <header id="page-topbar">
            <div class="navbar-header">
                <div class="d-flex">
                    <!-- LOGO -->
                    <div class="navbar-brand-box">
                        <a href="" class="logo logo-dark">
                            <span class="logo-sm">
                                QUARTER
                            </span>
                            <span class="logo-lg">
                                QUARTER
                            </span>
                        </a>

                        <a href="" class="logo logo-light">
                            <span class="logo-sm">
                                QUARTER
                            </span>
                            <span class="logo-lg">
                                QUARTER
                            </span>
                        </a>
                    </div>

                    <button type="button"
                        class="btn btn-sm px-3 font-size-16 header-item waves-effect vertical-menu-btn">
                        <i class="fa fa-fw fa-bars"></i>
                    </button>

                    <!-- App Search-->
                    <form class="app-search d-none d-lg-block">
                        <div class="position-relative">
                            <input type="text" class="form-control" placeholder="Search...">
                            <span class="uil-search"></span>
                        </div>
                    </form>
                </div>

                <div class="d-flex">

                    <div class="dropdown d-inline-block d-lg-none ms-2">
                        <button type="button" class="btn header-item noti-icon waves-effect"
                            id="page-header-search-dropdown" data-bs-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                            <i class="uil-search"></i>
                        </button>
                        <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right p-0"
                            aria-labelledby="page-header-search-dropdown">

                            <form class="p-3">
                                <div class="form-group m-0">
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="Search ..."
                                            aria-label="Recipient's username">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="submit"><i
                                                    class="mdi mdi-magnify"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>





                    <div class="dropdown d-none d-lg-inline-block ms-1">
                        <button type="button" class="btn header-item noti-icon waves-effect"
                            data-bs-toggle="fullscreen">
                            <i class="uil-minus-path"></i>
                        </button>
                    </div>

                    <div class="dropdown d-inline-block">
                        <button type="button" class="btn header-item noti-icon waves-effect"
                            id="page-header-notifications-dropdown" data-bs-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                            <i class="uil-bell"></i>
                            <span class="badge bg-danger rounded-pill">3</span>
                        </button>
                        <div class="dropdown-menu dropdown-menu-lg dropdown-menu-end p-0"
                            aria-labelledby="page-header-notifications-dropdown">
                            <div class="p-3">
                                <div class="row align-items-center">
                                    <div class="col">
                                        <h5 class="m-0 font-size-16"> Notifications </h5>
                                    </div>
                                    <div class="col-auto">
                                        <a href="#!" class="small"> Mark all as read</a>
                                    </div>
                                </div>
                            </div>
                            <div data-simplebar style="max-height: 230px;">
                                <a href="#" class="text-reset notification-item">
                                    <div class="d-flex align-items-start">
                                        <div class="avatar-xs me-3">
                                            <span class="avatar-title bg-primary rounded-circle font-size-16">
                                                <i class="uil-shopping-basket"></i>
                                            </span>
                                        </div>
                                        <div class="flex-1">
                                            <h6 class="mt-0 mb-1">Your order is placed</h6>
                                            <div class="font-size-12 text-muted">
                                                <p class="mb-1">If several languages coalesce the grammar</p>
                                                <p class="mb-0"><i class="mdi mdi-clock-outline"></i> 3 min ago</p>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                                <a href="#" class="text-reset notification-item">
                                    <div class="d-flex align-items-start">
                                        <img src="assets/images/users/avatar-3.jpg"
                                            class="me-3 rounded-circle avatar-xs" alt="user-pic">
                                        <div class="flex-1">
                                            <h6 class="mt-0 mb-1">James Lemire</h6>
                                            <div class="font-size-12 text-muted">
                                                <p class="mb-1">It will seem like simplified English.</p>
                                                <p class="mb-0"><i class="mdi mdi-clock-outline"></i> 1 hours ago</p>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                                <a href="#" class="text-reset notification-item">
                                    <div class="d-flex align-items-start">
                                        <div class="avatar-xs me-3">
                                            <span class="avatar-title bg-success rounded-circle font-size-16">
                                                <i class="uil-truck"></i>
                                            </span>
                                        </div>
                                        <div class="flex-1">
                                            <h6 class="mt-0 mb-1">Your item is shipped</h6>
                                            <div class="font-size-12 text-muted">
                                                <p class="mb-1">If several languages coalesce the grammar</p>
                                                <p class="mb-0"><i class="mdi mdi-clock-outline"></i> 3 min ago</p>
                                            </div>
                                        </div>
                                    </div>
                                </a>

                                <a href="#" class="text-reset notification-item">
                                    <div class="d-flex align-items-start">
                                        <img src="assets/images/users/avatar-4.jpg"
                                            class="me-3 rounded-circle avatar-xs" alt="user-pic">
                                        <div class="flex-1">
                                            <h6 class="mt-0 mb-1">Salena Layfield</h6>
                                            <div class="font-size-12 text-muted">
                                                <p class="mb-1">As a skeptical Cambridge friend of mine occidental.</p>
                                                <p class="mb-0"><i class="mdi mdi-clock-outline"></i> 1 hours ago</p>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="p-2 border-top d-grid">
                                <a class="btn btn-sm btn-link font-size-14 text-center" href="javascript:void(0)">
                                    <i class="uil-arrow-circle-right me-1"></i> View More..
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="dropdown d-inline-block">
                        <button type="button" class="btn header-item waves-effect" id="page-header-user-dropdown"
                            data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img class="rounded-circle header-profile-user"
                                src="{% static 'images/users/avatar-4.jpg' %}" alt="Header Avatar">
                            <span class="d-none d-xl-inline-block ms-1 fw-medium font-size-15">{{request.user}}</span>
                            <i class="uil-angle-down d-none d-xl-inline-block font-size-15"></i>
                        </button>
                        <div class="dropdown-menu dropdown-menu-end">
                            <!-- item-->
                            <a class="dropdown-item" href="{% url 'profile' request.user.username %}">
                                الملف الشخصي</a>
                            <a class="dropdown-item" href="{% url 'logout' %}"><i
                                    class="uil uil-sign-out-alt font-size-18 align-middle me-1 text-muted"></i> <span
                                    class="align-middle">تسجيل الخروج </span></a>
                        </div>
                    </div>


                </div>
            </div>
        </header>

        <div class="vertical-menu">
            <div class="navbar-brand-box">
                <a href="{% url 'index' %}" class="logo logo-dark">
                    Quarter CRM
                </a>

                <a href="{% url 'index' %}" class="logo logo-dark">

                    Quarter CRM
                </a>
            </div>
            <!-- <button type="button" class="btn btn-sm px-3 font-size-16 header-item waves-effect vertical-menu-btn">
                <i class="fa fa-fw fa-bars"></i>
            </button> -->
            <div data-simplebar class="sidebar-menu-scroll">

                <!-- LOGO -->

                <div class="navbar-brand-box">
                    <a href="{% url 'index' %}" class="logo logo-dark">
                        Quarter CRM
                    </a>

                    <a href="{% url 'index' %}" class="logo logo-lg">

                        Quarter CRM
                    </a>
                </div>
                <button type="button" class="btn btn-sm px-3 font-size-16 header-item waves-effect vertical-menu-btn">
                    <i class="fa fa-fw fa-bars"></i>
                </button>

                <div data-simplebar class="sidebar-menu-scroll">

                    <!--- Sidemenu -->
                    <div id="sidebar-menu">
                        <!-- Left Menu Start -->
                        <ul class="metismenu list-unstyled" id="side-menu">
                            <li>
                                <a href="{% url 'dashboard' %}">
                                    <i class="uil-home-alt"></i>
                                    Dashboard
                                </a>
                            </li>

                            <li>
                                <a href="{% url 'repair_index' %}">
                                    <i class="fas fa-tools fa-3x"></i>الصيانة
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'install_index' %}">
                                    <i class="fas fa-tools fa-3x"></i> التركيب
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'quarter_index' %}">
                                    <i class="fas fa-tools fa-3x"></i>كوارتر
                                </a>
                            </li>

                        </ul>
                    </div>
                    <!-- Sidebar -->
                </div>
            </div>
            <!-- Left Sidebar End -->



        </div>

        <div class="main-content">

            <div class="page-content">
                <div class="container-fluid">
                    {% if messages %}
                    {% for  message in messages %}
                    <div class="alert text-center 
                    {% if "success" in  message.tags %}
                    alert-success
                    {% elif "error" in message.tags %}
                    alert-danger
                    {% endif %}
                    alert-dismissible fade show" role="alert">
                        {{message}}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">

                        </button>
                    </div>
                    {% endfor %}
                    {% endif%}
                    {% if request.user.role == 1 or request.user.role == 2 %}
                    <div class="row mb-3" dir="rtl">
                        <div class=" col col-sm-6 col-lg-3 text-center ">
                            <button class="btn btn-lg btn-primary btn-rounded waves-effect waves-light "
                                data-bs-toggle="modal" data-bs-target="#newUserModal">أضافة مستخدم
                                جديد
                                <i class="fas fa-user-friends"></i></button>
                            <!-- sample modal content -->
                            <div id="newUserModal" class="modal fade" tabindex="-1" role="dialog"
                                aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title mt-0" id="myModalLabel">أضافة مستخدم جديد <i
                                                    class="fas fa-user-friends"></i></h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close">
                                            </button>

                                        </div>
                                        <div class="modal-body">
                                            <p class="text-muted text-truncate mb-0">يرجي ملئ جميع البانات التالية </p>
                                            <form action="{% url 'create_user' %}" method="POST"
                                                enctype="multipart/form-data">
                                                <div class="row">
                                                    <div class="mb-3">
                                                        <label class="form-label" for="customername">الاسم</label>
                                                        <input name="name" type="text" class="form-control" required>
                                                    </div>
                                                </div>

                                                <hr>

                                                <div class="row">


                                                    <div class="mb-3">
                                                        <label class="form-label" for="phone">الجوال</label>
                                                        <input name="phone" type="text" class="form-control" required>
                                                    </div>
                                                </div>

                                                <hr>

                                                <div class="row">
                                                    <div class="mb-3">
                                                        <label class="form-label" for="machine_type">اسم المستخدم
                                                        </label>
                                                        <input name="username" type="text" class="form-control"
                                                            required />
                                                    </div>
                                                </div>

                                                <hr>

                                                <div class="row">

                                                    <div class=" col-6 mb-3">
                                                        <label class="form-label" for="machine_type">كلمة السر
                                                        </label>
                                                        <input name="password1" type="password" class="form-control"
                                                            required />
                                                    </div>

                                                    <div class=" col-6 mb-3">
                                                        <label class="form-label" for="machine_type">تأكيد كلمة السر
                                                        </label>
                                                        <input name="password2" type="password" class="form-control"
                                                            required />
                                                    </div>

                                                </div>

                                                <hr>

                                                <div class="row">
                                                    <div class="mb-3">
                                                        <label class="form-label">الوظيفة</label>
                                                        <select class="form-control select2" name="role">
                                                            <option selected disabled>أختيار</option>
                                                            {% for k , v in roles %}
                                                            <!-- <option value="1">مدير الموقع</option>
                                                            <option value="2">مشرف</option>
                                                            <option value="3">فني</option>
                                                            <option value="4">منفذ بيع </option> -->
                                                            <option value="{{k}}">{{v}}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>

                                                </div>

                                                <hr>

                                                <div class="row">
                                                    <div class="mb-3">
                                                        <label for="">القسم</label>
                                                        <p class="text-muted">يرجي اختيار الاقسام المتاحة
                                                            للمستخدم
                                                            <br>
                                                            اضغط CTR مع تحديد الاقسام المطلوبة
                                                        </p>
                                                        <select class="form-select" name="section" multiple>
                                                            {% for section in sections %}
                                                            <option value="{{section.id}}">{{section}}</option>
                                                            {% endfor %}
                                                        </select>

                                                    </div>



                                                </div>
                                                {% csrf_token %}
                                                <hr>

                                                <div class="mb-3">
                                                    <label class="form-label" for="file">ارفاق ملف</label>
                                                    <input type="file" class="form-control" name="attach_file" />
                                                </div>

                                                <div class="mt-2">
                                                    <button type="submit" class="btn btn-lg btn-primary">انشاء حساب
                                                    </button>
                                                </div>
                                            </form>

                                        </div>

                                    </div><!-- /.modal-content -->
                                </div><!-- /.modal-dialog -->
                            </div><!-- /.modal -->
                        </div>
                        <div class="col col-sm-6 col-lg-3 text-center">
                            <button class="btn btn-lg btn-primary btn-rounded waves-effect waves-light"
                                data-bs-toggle="modal" data-bs-target="#newRepairRequestModal">أضافة طلب صيانة
                                <i class="fas fa-tools"></i>
                            </button>
                            <!-- sample modal content -->
                            <div id="newRepairRequestModal" class="modal fade" tabindex="-1" role="dialog"
                                aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title mt-0">طلب صيانة جديد
                                                <i class="fas fa-tools"></i>
                                            </h5>

                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close">
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <p class="text-muted text-truncate mb-0">يرجي ملئ جميع البانات التالية </p>
                                            <form action="{% url 'repair_request' %}" method="POST"
                                                enctype="multipart/form-data">
                                                <label class="form-label" for="customername">اسم العميل </label>
                                                <input id="customername" name="customername" type="text"
                                                    class="form-control">

                                                <div class="row">
                                                    <div class="col-lg-6">

                                                        <div class="mb-3">
                                                            <label class="form-label" for="phone">الجوال</label>
                                                            <input id="phone" name="phone" type="text"
                                                                class="form-control">
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6">

                                                        <div class="mb-3">
                                                            <label class="form-label" for="address">الموقع</label>
                                                            <input id="address" name="address" type="text"
                                                                class="form-control">
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="mb-3">
                                                            <label class="form-label" for="machine_type">نوع الجهاز
                                                            </label>
                                                            <input id="machine_type" name="machine_type" type="text"
                                                                class="form-control">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">

                                                    <div class="mb-3">
                                                        <label class="form-label">نوع العميل </label>
                                                        <select class="form-control select2" name="customer_type">
                                                            <option selected disabled>أختيار</option>
                                                            <option value="cash">كاش</option>
                                                            <option value="warranty">ضمان</option>

                                                        </select>
                                                    </div>

                                                    <div class="row">
                                                        <div class="mb-3">
                                                            <label class="form-label" for="invoice_number">رقم الفاتورة
                                                            </label>
                                                            <input id="invoice_number" name="invoice_number" type="text"
                                                                class="form-control">
                                                        </div>
                                                    </div>

                                                </div>
                                                {% csrf_token %}
                                                <div class="mb-0">
                                                    <label class="form-label" for="file">ارفاق ملف</label>
                                                    <input type="file" class="form-control" id="file"
                                                        name="attach_file" />
                                                </div>
                                                <div class="mb-0">
                                                    <label class="form-label" for="notes">معلومات اضافية </label>
                                                    <textarea class="form-control" id="notes" name="notes"
                                                        rows="4"></textarea>
                                                </div>
                                                <div class="mt-2">
                                                    <button type="submit" class="btn btn-lg btn-primary">ارسال الطلب
                                                    </button>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-light waves-effect"
                                                data-bs-dismiss="modal">Close</button>
                                            <button type="button" class="btn btn-primary waves-effect waves-light">Save
                                                changes</button>
                                        </div>
                                    </div><!-- /.modal-content -->
                                </div><!-- /.modal-dialog -->
                            </div><!-- /.modal -->
                        </div>
                        <div class="col col-sm-6 col-lg-3 text-center">
                            <button class="btn btn-lg btn-primary btn-rounded waves-effect waves-light"
                                data-bs-toggle="modal" data-bs-target="#newInstallRequestModal">أضافة طلب تركيب
                                <i class="fas fa-toolbox"></i>
                            </button>
                            <!-- sample modal content -->
                            <div id="newInstallRequestModal" class="modal fade" tabindex="-1" role="dialog"
                                aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title mt-0">طلب تركيب جديد
                                                <i class="fas fa-toolbox"></i> </h5>

                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close">
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <p class="text-muted text-truncate mb-0">يرجي ملئ جميع البانات التالية </p>
                                            <form action="{% url 'install_request' %}" method="POST"
                                                enctype="multipart/form-data">
                                                <label class="form-label" for="customername">اسم العميل </label>
                                                <input name="customername" type="text" class="form-control">

                                                <div class="row">
                                                    <div class="col-lg-6">

                                                        <div class="mb-3">
                                                            <label class="form-label" for="phone">الجوال</label>
                                                            <input name="phone" type="text" class="form-control">
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6">

                                                        <div class="mb-3">
                                                            <label class="form-label" for="address">الموقع</label>
                                                            <input name="address" type="text" class="form-control">
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="mb-3">
                                                            <label class="form-label" for="machine_type">نوع الجهاز
                                                            </label>
                                                            <input name="machine_type" type="text" class="form-control">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">

                                                    <div class="mb-3">
                                                        <label class="form-label">نوع العميل </label>
                                                        <select class="form-control select2" name="customer_type">
                                                            <option selected disabled>أختيار</option>
                                                            <option value="cash">كاش</option>
                                                            <option value="warranty">ضمان</option>

                                                        </select>
                                                    </div>

                                                    <div class="row">
                                                        <div class="mb-3">
                                                            <label class="form-label" for="invoice_number">رقم الفاتورة
                                                            </label>
                                                            <input name="invoice_number" type="text"
                                                                class="form-control">
                                                        </div>
                                                    </div>

                                                </div>
                                                {% csrf_token %}
                                                <div class="mb-0">
                                                    <label class="form-label" for="file">ارفاق ملف</label>
                                                    <input type="file" class="form-control" name="attach_file" />
                                                </div>
                                                <div class="mb-0">
                                                    <label class="form-label" for="notes">معلومات اضافية </label>
                                                    <textarea class="form-control" name="notes" rows="4"></textarea>
                                                </div>
                                                <div class="mt-2">
                                                    <button type="submit" class="btn btn-lg btn-primary">ارسال الطلب
                                                    </button>
                                                </div>
                                            </form>
                                        </div>

                                    </div><!-- /.modal-content -->
                                </div><!-- /.modal-dialog -->
                            </div><!-- /.modal -->
                        </div>
                        <div class="col col-sm-6 col-lg-3 text-center">
                            <button class="btn btn-lg btn-primary btn-rounded waves-effect waves-light"
                                data-bs-toggle="modal" data-bs-target="#newQuarterRequestModal">أضافة طلب خدمة</button>
                            <!-- sample modal content -->
                            <div id="newQuarterRequestModal" class="modal fade" tabindex="-1" role="dialog"
                                aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title mt-0">طلب خدمة جديد </h5>

                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close">
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <p class="text-muted text-truncate mb-3">يرجي ملئ جميع البانات التالية </p>
                                            <form action="{% url 'new_quarter_request' %}" method="POST"
                                                enctype="multipart/form-data">
                                                <div class="mb-3">

                                                    <label class="form-label" for="customername">اسم العميل </label>
                                                    <input name="customername" type="text" class="form-control">
                                                </div>

                                                <div class="row">
                                                    <div class="col-lg-6">

                                                        <div class="mb-3">
                                                            <label class="form-label" for="phone">الجوال</label>
                                                            <input name="phone" type="text" class="form-control">
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6">

                                                        <div class="mb-3">
                                                            <label class="form-label" for="address">الموقع</label>
                                                            <input name="address" type="text" class="form-control">
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="mb-3">
                                                    <label class="form-label" for="customername">البريد
                                                        الالكتروني</label>
                                                    <input name="email" type="email" class="form-control">
                                                </div>

                                                {% csrf_token %}
                                                <div class="mb-3">
                                                    <label class="form-label" for="file">ارفاق ملف</label>
                                                    <input type="file" class="form-control" name="attach_file" />
                                                </div>
                                                <div class="mb-3">
                                                    <label class="form-label" for="notes">معلومات اضافية </label>
                                                    <textarea class="form-control" name="notes" rows="4"></textarea>
                                                </div>
                                                <div class="mb-3">
                                                    <button type="submit" class="btn btn-lg btn-primary">ارسال الطلب
                                                    </button>
                                                </div>
                                            </form>
                                        </div>

                                    </div><!-- /.modal-content -->
                                </div><!-- /.modal-dialog -->
                            </div><!-- /.modal -->
                        </div>
                    </div>
                    {% endif %}
                    {% block content %}

                    {% endblock %}
                </div>
            </div>
        </div>

    </div>


    <!-- JAVASCRIPT -->
    <script src="{% static 'libs/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'libs/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'libs/metismenu/metisMenu.min.js' %}"></script>
    <script src="{% static 'libs/simplebar/simplebar.min.js' %}"></script>
    <script src="{% static 'libs/node-waves/waves.min.js' %}"></script>
    <script src="{% static 'libs/waypoints/lib/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'libs/jquery.counterup/jquery.counterup.min.js' %}"></script>
    <!-- apexcharts -->
    <script src="{% static 'libs/apexcharts/apexcharts.min.js' %}"></script>

    <script src="{% static 'js/pages/dashboard.init.js' %}"></script>

    <script src="{% static 'js/app-rtl.js' %}"></script>

</body>

</html>