<!DOCTYPE html>
<html>
{% load static %}

<head>

    <meta charset="UTF-8">
    <title>Quarter CRM </title>
    <!-- <meta name="keywords" content="" /> -->
    <meta name="description" content="QUARTER AC _ CRM SYSTEM ">
    <!-- <meta name="author" content=""> -->
    <link rel="shortcut icon " href="{% static 'images/favicon.png'%}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link href="https://fonts.googleapis.com/css2?family=El+Messiri:wght@400;500;600;700&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800%7COpen+Sans:400,700,800"
        rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v2.1.5/css/unicons.css">


    <!-- Bootstrap Css -->
    <link href="{% static 'css/bootstrap-rtl.min.css' %}" rel="stylesheet" type="text/css" />
    <!-- Icons Css -->
    <link href="{% static 'css/icons.min.css' %}" rel="stylesheet" type="text/css" />
    <!-- App Css-->
    <link href="{% static 'css/app-rtl.min.css' %}" rel="stylesheet" type="text/css" />
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/5.9.55/css/materialdesignicons.css"
        integrity="sha512-cQpRsNnonGHFzzAZzZdR05ndKsRXZ5MVcuq+RMKiEbRYmQlLevgdtPjvSI1uGYjqEgio3uQurahmcUde6mMUJQ=="
        crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
        crossorigin="anonymous" />

</head>
<style>
    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    /* Firefox */
    input[type=number] {
        -moz-appearance: textfield;
    }

    * {
        font-family: 'El Messiri', sans-serif
    }

    .adminActions {
        position: fixed;
        bottom: 50px;
        left: 35px;
        z-index: 10
    }


    .adminButton {
        height: 60px;
        width: 60px;
        background-color: rgba(67, 83, 143, .8);
        border-radius: 50%;
        display: block;
        color: #fff;
        text-align: center;
        position: relative;

    }

    .adminButton i {
        font-size: 22px;
    }

    .adminButtons {
        position: absolute;
        width: 100%;
        bottom: 120%;
        text-align: center;
    }

    .adminButtons a {
        display: block;
        width: 45px;
        height: 45px;
        border-radius: 50%;
        text-decoration: none;
        margin: 10px auto 0;
        line-height: 1.15;
        color: #fff;
        opacity: 0;
        visibility: hidden;
        position: relative;
        box-shadow: 0 0 5px 1px rgba(51, 51, 51, .3);
    }

    .adminButtons a:hover {
        transform: scale(1.05);
    }

    .adminButtons a:nth-child(1) {
        background-color: #ff5722;
        transition: opacity .2s ease-in-out .3s, transform .15s ease-in-out;
    }

    .adminButtons a:nth-child(2) {
        background-color: #4CAF50;
        transition: opacity .2s ease-in-out .25s, transform .15s ease-in-out;
    }

    .adminButtons a:nth-child(3) {
        background-color: #f44336;
        transition: opacity .2s ease-in-out .2s, transform .15s ease-in-out;
    }

    .adminButtons a:nth-child(4) {
        background-color: #4CAF50;
        transition: opacity .2s ease-in-out .15s, transform .15s ease-in-out;
    }

    .adminActions a i {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .adminToggle {
        -webkit-appearance: none;
        position: absolute;
        border-radius: 50%;
        top: 0;
        left: 0;
        margin: 0;
        width: 100%;
        height: 100%;
        cursor: pointer;
        background-color: transparent;
        border: none;
        outline: none;
        z-index: 2;
        transition: box-shadow .2s ease-in-out;
        box-shadow: 0 3px 5px 1px rgba(51, 51, 51, .3);
    }

    .adminToggle:hover {
        box-shadow: 0 3px 6px 2px rgba(51, 51, 51, .3);
    }

    .adminToggle:checked~.adminButtons a {
        opacity: 1;
        visibility: visible;
    }

    .required-field {
        color: red;
        font-weight: 600
    }

    #loading {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #fff url("{% static 'images/preloader.gif' %}") no-repeat center;
        z-index: 99999999;
    }
</style>



<body data-sidebar="dark" dir="rtl" onload="loadfun()">
    <div id="loading"></div>
    <div id="layout-wrapper" dir="rtl">
        <header id="page-topbar">
            <div class="navbar-header">
                <div class="d-flex">
                    <!-- LOGO -->
                    <div class="navbar-brand-box">
                        <a href="{% url 'index' %}" class="logo logo-dark">
                            <span class="logo-sm">
                                <img src="{% static 'images/favicon.png'%}" width="60" height="60" alt="">
                            </span>
                            <span class="logo-lg">
                                <img src="{% static 'images/favicon.png'%}" width="60" height="60" alt="">
                            </span>
                        </a>

                        <a href="{% url 'index' %}" class="logo logo-light">
                            <span class="logo-sm">
                                <img src="{% static 'images/favicon.png'%}" width="40" height="40" alt="">
                            </span>
                            <span class="logo-lg">
                                <img src="{% static 'images/favicon.png'%}" width="40" height="40" alt="">
                            </span>
                        </a>
                    </div>

                    <!-- <button type="button"
                        class="btn btn-sm px-3 font-size-16 header-item waves-effect vertical-menu-btn">
                        <i class="fa fa-fw fa-bars"></i>
                    </button> -->

                    <!-- App Search-->
                    <form action="{% url 'search' %}" class="app-search d-none d-lg-block">
                        <div class="position-relative">
                            <input type="text" class="form-control" placeholder="الـبـحـث... " name="s">
                            <span class="uil-search"></span>
                        </div>
                    </form>
                </div>

                <div class="d-flex">

                    <div class="dropdown d-inline-block d-lg-none ms-2">
                        <button type="button" class="btn header-item noti-icon waves-effect"
                            id="page-header-search-dropdown" data-bs-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                            <i class="uil-search"></i>
                        </button>
                        <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right p-0"
                            aria-labelledby="page-header-search-dropdown">

                            <form class="p-3" action="{% url 'search' %}">
                                <div class="form-group m-0">
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="الـبـحـث... " name="s">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="submit"><i
                                                    class="mdi mdi-magnify"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>





                    <div class="dropdown d-none d-lg-inline-block ms-1">
                        <button type="button" class="btn header-item noti-icon waves-effect"
                            data-bs-toggle="fullscreen">
                            <i class="uil-minus-path"></i>
                        </button>
                    </div>


                    <div class="dropdown d-inline-block">
                        <button type="button" class="btn header-item waves-effect" id="page-header-user-dropdown"
                            data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img class="rounded-circle header-profile-user" {% if request.user.profile_pic %}
                                src="{{request.user.profile_pic.url}}" {% else %}
                                src="{% static 'images/users/avatar.jpg' %}" {% endif %} alt="Header Avatar">
                            <span class="d-none d-xl-inline-block ms-1 fw-medium font-size-15">{{request.user}}</span>
                            <i class="uil-angle-down d-none d-xl-inline-block font-size-15"></i>
                        </button>
                        <div class="dropdown-menu dropdown-menu-end">
                            <!-- item-->
                            <a class="dropdown-item" href="{% url 'profile' request.user.username %}">
                                الملف الشخصي</a>
                            <a class="dropdown-item" href="{% url 'change_password' %}">
                                تغيير كلمة السر </a>

                            <a class="dropdown-item" href="{% url 'logout' %}"><i
                                    class="uil uil-sign-out-alt font-size-18 align-middle me-1 text-muted"></i> <span
                                    class="align-middle">تسجيل الخروج </span></a>
                        </div>
                    </div>


                </div>
            </div>
        </header>

        <!-- ========== Left Sidebar Start ========== -->
        <div class="vertical-menu">

            <!-- LOGO -->
            <div class="navbar-brand-box">
                <a href="{% url 'index' %}" class="logo logo-dark text-center">
                    <span style="font-size: 22px ; color : #fff" class="text-center">
                        <img src="{% static 'images/favicon.png'%}" width="60" height="60" alt="">

                        كوارتر
                    </span>
                </a>

                <a href="{% url 'index' %}" class="logo logo-light text-center ">

                    <span style="font-size: 22px ; color : #fff " class="text-center">
                        <img src="{% static 'images/favicon.png'%}" width="60" height="60" alt="">

                        كوارتر
                    </span>
                </a>
            </div>

            <!-- <button type="button" class="btn btn-sm px-3 font-size-16 header-item waves-effect vertical-menu-btn">
                <i class="fa fa-fw fa-bars"></i>
            </button> -->

            <div data-simplebar class="sidebar-menu-scroll">

                <!--- Sidemenu -->
                <div id="sidebar-menu">
                    <!-- Left Menu Start -->
                    <ul class="metismenu list-unstyled" id="side-menu">
                        <li class="menu-title">Menu</li>
                        {% if request.user.role == 1 %}
                        <li>
                            <a href="javascript: void(0);" class="has-arrow waves-effect">
                                <i class="uil-home-alt"></i>
                                <span>Dashboard</span>
                            </a>


                            <ul class="sub-menu" aria-expanded="false">
                                <li><a href="{% url 'dashboard' %}">الرئيسية </a></li>
                                <li><a href="{% url 'all_users' %}">بيانات المستخدمين</a></li>
                                <li><a href="{% url 'customers_data' %}">العملاء</a></li>

                            </ul>
                        </li>

                        <li>
                            <a href="/repair" class="waves-effect">
                                <i class="fas fa-tools"></i>
                                <span>الصيانة </span>
                            </a>
                        </li>

                        <li>
                            <a href="/install" class=" waves-effect">
                                <i class="fas fa-toolbox"></i>

                                <span>التركيب</span>
                            </a>
                        </li>

                        <li>
                            <a href="/quarter" class=" waves-effect">
                                <i class="fab fa-quora"></i>
                                <span>كوارتر </span>
                            </a>

                        </li>

                        <li>
                            <a href="javascript: void(0);" class="has-arrow waves-effect">
                                <i class="far fa-file-excel"></i>
                                <span>تقارير </span>
                            </a>


                            <ul class="sub-menu" aria-expanded="true">
                                <li class="menu-title">الافراد</li>
                                <li><a href="{% url 'export_users' %}">مستخدمي الموقع </a></li>
                                <li><a href="{% url 'export_customers_data' %}">العملاء</a></li>
                                <li class="menu-title">الطلبات الحالية </li>
                                <li><a href="{% url 'export_current_service' %}">طلبات الصيانة و التركيب الحالية </a>
                                </li>
                                <li><a href="{% url 'export_current_quarter_services' %}">طلبات كوارتر الحالية </a></li>

                                <li class="menu-title">جميع الطلبات </li>
                                <li><a href="{% url 'export_all_services' %}"> جميع طلبات الصيانة و التركيب </a>
                                </li>
                                <li><a href="{% url 'export_all_quarter_services' %}">طلبات كوارتر </a></li>

                            </ul>
                        </li>

                        {% elif request.user.role == 3 %}
                        <li>
                            <a href="/repair" class="waves-effect">
                                <i class="fas fa-tools"></i>
                                <span>الصيانة </span>
                            </a>
                        </li>


                        {% elif request.user.role == 2 %}
                        <li>
                            <a href="/install" class=" waves-effect">
                                <i class="fas fa-toolbox"></i>

                                <span>التركيب</span>
                            </a>
                        </li>


                        {% elif request.user.role == 4 %}
                        <li>
                            <a href="/quarter" class=" waves-effect">
                                <i class="fab fa-quora"></i>
                                <span>كوارتر </span>
                            </a>

                        </li>
                        {% else %}

                        <li>
                            <a href="{% url 'index' %}" class=" waves-effect">
                                <i class="uil-home-alt"></i>
                                <span></span>الصفحة الرئيسة
                            </a>

                        </li>
                        {% endif %}



                    </ul>
                </div>
                <!-- Sidebar -->
            </div>
        </div>
        <!-- Left Sidebar End -->
        <div class="main-content">

            <div class="page-content">
                <div class="container-fluid">
                    <div class="alert text-center alert-success d-none">
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">

                        </button>
                    </div>
                    {% if messages %}
                    {% for  message in messages %}
                    <div class="alert text-center 
                    {% if "success" in  message.tags %}
                    alert-success
                    {% elif "error" in message.tags %}
                    alert-danger
                    {% endif %}
                    alert-dismissible fade show" role="alert">
                        {{message}}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">

                        </button>
                    </div>
                    {% endfor %}
                    {% endif%}
                    {% if not request.user.role == 8 %}
                    <div class="d-none d-lg-block d-md-none ">
                        <div class="row mb-3 " dir="rtl">
                            {% if request.user.role == 1 or request.user.role == 2 %}
                            <div class=" col  mb-1 text-center ">

                                <button class="btn btn-lg btn-primary btn-rounded waves-effect waves-light "
                                    data-bs-toggle="modal" data-bs-target="#newUserModal"
                                    style="background: linear-gradient(right, #00dbde, #fc00ff, #00dbde, #fc00ff)">
                                    مستخدم
                                    جديد
                                    <i class="fas fa-user-friends"></i></button>

                            </div>
                            {% endif %}
                            {% if not request.user.role == 5 %}
                            <div class="col  mb-1 text-center">
                                <button class="btn btn-lg btn-primary btn-rounded waves-effect waves-light"
                                    data-bs-toggle="modal" data-bs-target="#newRepairRequestModal"> طلب صيانة
                                    <i class="fas fa-tools"></i>
                                </button>

                            </div>
                            {% endif %}
                            <div class="col  mb-1 text-center">
                                <button class="btn btn-lg btn-primary btn-rounded waves-effect waves-light"
                                    data-bs-toggle="modal" data-bs-target="#newInstallRequestModal"> طلب تركيب
                                    <i class="fas fa-toolbox"></i>
                                </button>
                                <!-- sample modal content -->

                            </div>
                            <div class="col  mb-1 text-center">
                                <button class="btn btn-lg btn-primary btn-rounded waves-effect waves-light"
                                    data-bs-toggle="modal" data-bs-target="#newQuarterRequestModal"> طلب خدمة
                                    <i class="fab fa-quora "></i></button>
                                <!-- sample modal content -->

                            </div>
                        </div>

                    </div>
                    {% endif %}
                    {% block content %}

                    {% endblock %}
                    {% include './core/partials/_task_modal.html'%}
                    {% include './core/partials/_new_requests_modals.html' %}

                    {% include './core/partials/_action_btn.html' %}
                </div>
            </div>
        </div>

    </div>


    <!-- JAVASCRIPT -->
    <script src="{% static 'libs/jquery/jquery.min.js' %}"></script>
    <script>
        $(function () {
            $('.btn-group-fab').on('click', '.btn', function () {
                $('.btn-group-fab').toggleClass('active');
            });
            $('has-tooltip').tooltip();
        });
    </script>
    <script>
        $(document).ready(function () {
            $(".table_search").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $('.data-table tr').filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>
    <!-- 
    <script>
        $("#install-form-submit").on("click", function (e) {
            if ($("#favInstall").prop("checked") == true) {
                e.preventDefault()
                $.ajax({
                    url: "{% url 'check_favorite' %}",
                    success: function (data) {
                        if (data.remaining > 0) {
                            $("#install-form").submit()

                        } else {
                            $(".fav-info").removeClass("d-none")
                            console.log("can't submit ")
                        }
                    }
                })
            } else {
                console.log("not checked")
            }

        })
        $("#repair-form-submit").on("click", function (e) {
            if ($("#favRepair").prop("checked") == true) {
                e.preventDefault()
                $.ajax({
                    url: "{% url 'check_favorite' %}",
                    success: function (data) {
                        if (data.remaining > 0) {
                            console.log(data.remaining)
                            $("#repair-form").submit()
                        } else {
                            $(".fav-info").removeClass("d-none")
                            console.log("can't submit ")
                        }
                    }
                })
            } else {
                console.log("not checked")
            }
        })
    </script> -->
    <script>
        let load = document.getElementById("loading")

        function loadfun() {
            load.style.display = 'none'
        }
    </script>
    <!-- validate phone number  -->

    <script>
        function validatePhone(event) {
            let txt = event.target.value
            console.log(txt.length)
            if (txt.length == 10) {
                console.log('10 digits')
                event.target.classList.remove('is-invalid')
                document.querySelectorAll("input[type=submit]").disabled = false;
                return true
            } else {
                console.log('invalid phone number ')
                event.target.classList.add('is-invalid')
                return false;
            }
        }
        // let input = document.getElementsByClassName("phone_number")[0];
        // input.addEventListener("keyUp", validatePhone(input.value))
    </script>
    <!-- <script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js"></script> -->
    <script src="{% static 'js/multipleDelete.js' %}"></script>
    <script src="{% static 'libs/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'libs/metismenu/metisMenu.min.js' %}"></script>
    <script src="{% static 'libs/simplebar/simplebar.min.js' %}"></script>
    <script src="{% static 'libs/node-waves/waves.min.js' %}"></script>
    <script src="{% static 'libs/waypoints/lib/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'libs/jquery.counterup/jquery.counterup.min.js' %}"></script>

    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.2.1/dist/chart.min.js"></script>


    <script src="{% static 'js/pages/dashboard.init.js' %}"></script>

    <script src="{% static 'js/app-rtl.js' %}"></script>
    {% block script %} {% endblock %}

</body>

</html>