<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>

    <meta charset="UTF-8">
    <title>Quarter CRM </title>
    <meta name="keywords" content="" />
    <meta name="description" content="">
    <meta name="author" content="okler.net">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=El+Messiri:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800%7COpen+Sans:400,700,800"
        rel="stylesheet" type="text/css">

    <!-- Bootstrap Css -->
    <link href="{% static 'css/bootstrap-rtl.min.css' %}" rel="stylesheet" type="text/css" />
    <!-- Icons Css -->
    <link href="{% static 'css/icons.min.css' %}" rel="stylesheet" type="text/css" />
    <!-- App Css-->
    <link href="{% static 'css/app-rtl.min.css' %}" rel="stylesheet" type="text/css" />
</head>
<style>
    * {
        font-family: 'El Messiri', sans-serif;
        direction: rtl;
        box-sizing: border-box;
    }

    body {
        background: #f1eeee
    }

    .container {
        width: 80%;
        padding-top: 100px;

    }
</style>

<body>
    <div class="container">


        <div class="row nav-btns ">
            <div class="col-lg-4">
                <a href="/repair">
                    <div class="card bg-primary text-white-50">
                        <div class="card-body text-white text-center">
                            <i class="fas fa-tools fa-3x"></i>
                            <h3 class="mt-3 mb-4 text-white text-center">
                                الصيانة</h3>

                        </div>
                    </div>
                </a>

            </div>
            <div class="col-lg-4">
                <a href="/install">
                    <div class="card bg-success text-white-50">
                        <div class="card-body text-white text-center">
                            <i class="fas fa-tools fa-3x"></i>
                            <h3 class="mt-3 mb-4 text-white text-center">
                                التركيب</h3>

                        </div>
                    </div>
                </a>

            </div>

            <div class="col-lg-4">
                <a href="">
                    <div class="card bg-primary text-white-50">
                        <div class="card-body text-white text-center">
                            <i class="fas fa-tools fa-3x"></i>
                            <h3 class="mt-3 mb-4 text-white text-center">
                                كوارتر </h3>

                        </div>
                    </div>
                </a>

            </div>
        </div>

        <!-- end row -->

    </div>

    <!-- JAVASCRIPT -->
    <script src="{% static 'libs/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'libs/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'libs/metismenu/metisMenu.min.js' %}"></script>
    <script src="{% static 'libs/simplebar/simplebar.min.js' %}"></script>
    <script src="{% static 'libs/node-waves/waves.min.js' %}"></script>
    <script src="{% static 'libs/waypoints/lib/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'libs/jquery.counterup/jquery.counterup.min.js' %}"></script>

    <!-- apexcharts -->
    <script src="{% static 'libs/apexcharts/apexcharts.min.js' %}"></script>

    <script src="{% static 'js/pages/dashboard.init.js' %}"></script>

    <script src="{% static 'js/app-rtl.js' %}"></script>
</body>

</html>