<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>

    <meta charset="UTF-8">
    <title>Quarter CRM </title>
    <meta name="keywords" content="" />
    <meta name="description" content="">
    <meta name="author" content="okler.net">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=El+Messiri:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800%7COpen+Sans:400,700,800"
        rel="stylesheet" type="text/css">

    <!-- Bootstrap Css -->
    <link href="{% static 'css/bootstrap-rtl.min.css' %}" rel="stylesheet" type="text/css" />
    <!-- Icons Css -->
    <link href="{% static 'css/icons.min.css' %}" rel="stylesheet" type="text/css" />
    <!-- App Css-->
    <link href="{% static 'css/app-rtl.min.css' %}" rel="stylesheet" type="text/css" />
</head>
<style>
    * {
        font-family: 'El Messiri', sans-serif;
        direction: rtl;
        box-sizing: border-box;
    }

    body {
        background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
    }

    .container {
        width: 80%;
        padding-top: 100px;

    }
</style>

<body>
    <div class="container d-flex flex-column justify-content-between " style="min-height: 90vh">
        <div class="header text-center ">
            <h2 style="font-size:30px; color:#fff">Quarter</h2>
        </div>
        {% if request.user.is_authenticated %}

        <div class="row nav-btns ">
            <div class="col-lg-3">
                <a href="{% url 'dashboard' %}">
                    <div class="card bg-soft-warning text-white-50">
                        <div class="card-body text-white text-center">
                            <i class="fas fa-columns fa-3x"></i>
                            <h3 class="mt-3 mb-4 text-white text-center">
                                Dashboard </h3>

                        </div>
                    </div>
                </a>

            </div>
            <div class="col-lg-3">
                <a href="/repair">
                    <div class="card bg-soft-primary text-white-50">
                        <div class="card-body text-white text-center">
                            <i class="fas fa-tools fa-3x"></i>
                            <h3 class="mt-3 mb-4 text-white text-center">
                                الصيانة</h3>

                        </div>
                    </div>
                </a>

            </div>
            <div class="col-lg-3">
                <a href="/install">
                    <div class="card bg-soft-success text-white-50">
                        <div class="card-body text-white text-center">
                            <i class="fas fa-toolbox fa-3x"></i>
                            <h3 class="mt-3 mb-4 text-white text-center">
                                التركيب</h3>

                        </div>
                    </div>
                </a>

            </div>

            <div class="col-lg-3">
                <a href="/quarter">
                    <div class="card bg-soft-info text-white-50">
                        <div class="card-body text-white text-center">
                            <i class="fab fa-quora fa-3x"></i>
                            <h3 class="mt-3 mb-4 text-white text-center">
                                كوارتر </h3>

                        </div>
                    </div>
                </a>

            </div>

        </div>

        {% else %}
        <div class="account-pages my-5 pt-sm-5">
            <div class="row align-items-center justify-content-center">
                <div class="col-md-8 col-lg-6 col-xl-5">
                    <div class="card">
                        {% if form.non_field_errors%}

                        <div class="alert text-center 
                                    
                                    alert-danger
                                    
                                    alert-dismissible fade show" role="alert">
                            اسم المرور وكلمة السر غير متطابقين
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">

                            </button>
                        </div>

                        {% endif%}
                        <div class="card-body p-4">
                            <div class="text-center mt-2">
                                <h5 class="text-primary">اهلا بك مرة أخري !</h5>
                                <p class="text-muted">برجاء تسجيل الدخول لحسابك </p>
                            </div>
                            <div class="p-2 mt-4">
                                <form action="{% url 'user_login' %}" method="POST">
                                    {% csrf_token %}

                                    <div class="mb-3">
                                        <label class="form-label" for="username">اسم المستخدم </label>
                                        <input type="text" class="form-control" name="username" id="username"
                                            placeholder="ادخال اسم المستخدم ">
                                    </div>

                                    <div class="mb-3">

                                        <label class="form-label" for="userpassword">كلمة السر </label>
                                        <input type="password" class="form-control" name="password" id="userpassword"
                                            placeholder="كلمة السر ">
                                    </div>



                                    <div class="mt-3 text-end">
                                        <button class="btn btn-primary w-sm waves-effect waves-light" type="submit">دخول
                                        </button>
                                    </div>

                                </form>
                            </div>

                        </div>
                    </div>



                </div>
            </div>
            <!-- end row -->

        </div>

        {% endif %}
        <!-- end row -->
        <div class="text-center">
            <a href="" style="color: #fff;">للمساعدة <i class="far fa-question-circle"></i></a>
        </div>
    </div>

    <!-- JAVASCRIPT -->
    <script src="{% static 'libs/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'libs/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'libs/metismenu/metisMenu.min.js' %}"></script>
    <script src="{% static 'libs/simplebar/simplebar.min.js' %}"></script>
    <script src="{% static 'libs/node-waves/waves.min.js' %}"></script>
    <script src="{% static 'libs/waypoints/lib/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'libs/jquery.counterup/jquery.counterup.min.js' %}"></script>

    <!-- apexcharts -->
    <script src="{% static 'libs/apexcharts/apexcharts.min.js' %}"></script>

    <script src="{% static 'js/pages/dashboard.init.js' %}"></script>

    <script src="{% static 'js/app-rtl.js' %}"></script>
</body>

</html>