{% load i18n %}
{% load static %}
{% load widget_tweaks %}
<div class="modal fade" tabindex="-1" id="install_request">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="mb-3 text-primary text-center">{% trans "new_install_request" %}</h4>
            </div>

        <div class="modal-body">
            <form action="{% url 'service:add_service' %}" method="post" id="install_form" class="needs-validation"
            enctype="multipart/form-data"  />
            {% csrf_token %}
            <input type="hidden" name="service_type" value="install">
            <input type="hidden" name="customer_type" value="cash">
            <div class="row">
    
                <div class="form-check col-12 mx-2">
                    {% if request.user.remaining_qouta  or request.user.is_superuser or request.user.role == 'install_supervisor' %}
                    <input class="form-check-input" name="favourite" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label fw-bold text-success mx-1" for="flexCheckDefault">
                        {% trans "add_to_favs" %}
                    </label>
                    {% endif %}
                </div>
                <div class="col-12 my-2">
                    <label for="" class="text-primary">{% trans 'customer_name' %}</label>
                    <input type="text" name="customer" id="" required class="form-control" />
    
                    <div class="invalid-feedback">
                        <p>{% trans "field_required" %}</p>
                    </div>
                </div>
                <div class="col-12 my-2">
                    <label class="text-primary" for="">{%trans 'address' %}</label>
                    <input type="text" name="address" class="form-control" id="cust_address" required>
                    <div class="invalid-feedback">
                        <p>{% trans "field_required" %}</p>
                    </div>
                </div>
    
                <div class="col-12 my-2">
                    <label class="text-primary" for="">{% trans "phone" %}</label>
                    <input type="text" name="phone_number" class="form-control" id="cust_phone" required>
                    <div class="invalid-feedback">
                        <p>{% trans "field_required" %}</p>
                    </div>
                </div>
    
                <div class="col-12 my-2">
                    <label class="text-primary" for="">{% trans "invoice_number" %}</label>
                    <input type="text" name="invoice_number" id="" class="form-control">
    
                    <div class="invalid-feedback">
                        <p> </p>
                    </div>
                </div>
    
                <div class="col-12 my-2">
                    <label class="text-primary" for="">{% trans "ac_count" %}</label>
                    <input type="number" name="ac_count" id="" class="form-control">
    
                    <div class="invalid-feedback">
                        <p> </p>
                    </div>
                </div>
    
                <hr class="m-2">
                <div class="col-12">
                    <label class="text-primary" for="">{%trans "notes" %}/{% trans "details" %}</label>
                    <textarea name="notes" id="" cols="3" rows="3" class="form-control"></textarea>
                </div>
                <hr class="m-2">
                <div class="col-12">
                    <label class="text-primary" for="">{% trans "attache_file" %}</label>
                    <input type="file" name="file" id="" multiple>
                </div>
            </div>
            
            <div class="modal-footer">
                <button type="submit" class="btn btn-info " > {%trans 'save' %}</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% trans "cancel" %}</button>
            </div>
        </form>
        </div>
    </div>
    </div>

   
</div>


{% block script %}


{% endblock %}