{% load i18n %}
<!-- Hold service  -->

<div class="modal custom-modal fade" id="hold_service" role="dialog" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="form-header text-center ">
                    <h3>{% trans 'hold_request'%}</h3>
                </div>
                <div class="modal-btn delete-action mt-3">
                    <div class="">

                        <form action="{% url 'service:hold_service' %}" method="POST" enctype="multipart/form-data"
                            class="needs-validation" novalidate>
                            {% csrf_token%}
                            <input type="hidden" name="service" value="{{service.id}}">
                            {% if service.service_type == 'repair'%}
                            <div class="form-group">
                                <label for="">{% trans 'hold_reason' %}</label>
                                <select name="reason" id="hold_reason_select" class="form-control" onchange="reasonSelect()">
                                    <option value="" disabled selected>{% trans 'choose' %} {%trans 'hold_reason'%} </option>
                                    <option value="spare_parts">{%trans  'sp_request' %}</option>
                                    <option value="other">{% trans 'other' %}</option>
                                </select>
                            </div>
                            {% else %}

                            <div class="form-group">
                                <label for="">{% trans 'choose' %} {%trans 'hold_reason'%} </label>
                                <input type="text" name="reason" class="form-control" id="">  
                            </div>

                            {% endif %}

                            
                            <div class="form-group hide" id="spare_parts_input_group">
                                <label for="">{% trans 'requested_parts' %}</label>
                                <input type="text" name="spare_parts" id="sp_input" class="form-control">
                                <p class="invalid-feedback"> {% trans 'requested_parts_required' %}</p>
                            </div>
                            <div class="form-group">
                                <label for="">{% trans 'details' %}</label>
                                <textarea name="hold_reason" id="" cols="30" rows="3" required
                                    class="form-control"></textarea>
                                <p class="invalid-feedback">{%trans  'reason_required' %} !! </p>
                            </div>
                            <div class="form-group my-3">
                                <label for="">{% trans 'attache_file'%}</label>
                                <input type="file" name="file" class="form-control" multiple id="">
                            </div>

                            <div class="d-flex mt-3 gap-3">
                                <button type="submit" class="btn btn-info continue-btn  w-100">{% trans 'save' %}</button>

                                <a href="javascript:void(0);" data-bs-dismiss="modal"
                                    class="btn btn-secondary cancel-btn w-100">{% trans 'cancel' %}</a>
                            </div>

                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- confirm delete  -->
<div class="modal custom-modal fade" id="delete_approve" role="dialog" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="form-header text-center ">
                    <i class=" fas fa-trash-alt fa-3x my-3 text-danger"></i>
                    <h3>{%trans  'confirm_delete_request' %} {{service.ref_number}}</h3>
                </div>
                <div class="modal-btn delete-action my-3">
                    <div class="row text-center">
                        <div class="col-6">
                            <form action="{% url 'service:delete_service' service.id %}" method="POST" id="delete-form">
                                {% csrf_token%}

                                <button type="submit" id="confirmed_delete"
                                    class="btn btn-danger continue-btn w-100">{% trans 'delete' %}</a>
                            </form>
                        </div>
                        <div class="col-6">
                            <a href="javascript:void(0);" data-bs-dismiss="modal"
                                class="btn btn-secondary cancel-btn w-100">{% trans 'cancel' %}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Change service status  -->
<div class="modal custom-modal fade" id="change_status" role="dialog" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="form-header text-center ">

                    <h3>{% trans 'change_status' %} {{service.ref_number}}</h3>
                    <h5>{% trans 'current_status' %}:
                        <span class="badge pill-rounded 
                        
                    {% if service.status  == 'new' %}
                       bg-warning
                    {% elif service.status == 'under_process' %}
                        bg-primary
                    {% elif  service.status == 'done' or service.status  == 'closed' %}
                        bg-success
                    {% endif %} ">{{service.get_status_display}}</span>
                    </h5>
                </div>
                <div class="modal-btn delete-action">
                    <div class="row ">
                        <form action="{% url 'service:update_service_status' %}" method="POST">
                            <input type="hidden" name="service" value="{{service.id}}">
                            {% csrf_token%}
                            <label for="">{% trans 'status' %} : </label>
                            <select name="status" id="" class="form-control">
                                {% for k ,v in status_choices  %}

                                <option value="{{k}}" {% if service.status == k %} selected {% endif %}>{{v}}</option>
                                {% endfor %}
                            </select>
                            <div class="d-flex mt-3 gap-3">
                                <button type="submit" class="btn btn-info continue-btn  w-100">{% trans 'save' %}</button>

                                <a href="javascript:void(0);" data-bs-dismiss="modal"
                                    class="btn btn-secondary cancel-btn w-100">{% trans 'cancel'%}</a>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Edit appointments  -->
<div id="chnage-appointment" role="dialoge" tabindex="-1" class="modal custom-modal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">{% trans 'change_appointment' %}</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="{% url 'service:set_appointment' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="service" value="{{service.id}}">
                    <div class="form-group">
                        <label for="">{% trans 'technician' %}</label>
                        <select name="technician" id="" class="form-control" required>
                            <option value="" selected disabled>{%trans 'choose_from_list' %} </option>
                            {% for tech in technician %}
                            <option value="{{tech.id}}" {% if tech.id == appointment.technician.id %} selected {% endif %} >{{tech.name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group my-2">
                        <label for="">{% trans 'notes' %}</label>
                        <textarea name="notes" class="form-control" id="" cols="30" rows="2"></textarea>
                    </div>
                    <input type="submit" value="{% trans 'save' %}" class="btn btn-info w-100">
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Confirm excution -->
<div id="confirm_excution" role="dialoge" tabindex="-1" class="modal custom-modal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <div class="modal-header">
                
                <h2 class="modal-title" id="">{% trans 'confirm_exc' %}</h2>
                <button type="button" class="close btn btn-secondary" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">x</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="{% url 'service:confirm_excution' %}" method="post" novalidate class="need-validation" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="hidden" name="service" value="{{service.id}}">
                    <div class="form-group my-2">
                        <label for="" class="text-primary">{% trans 'exec_code' %}</label>
                        <input type="text" name="code" id="" class="form-control">
                        <p class="invalid-feedback">{% trans 'exec_code_required' %}</p>
                        <p class="text-muted text-start">{% trans 'code_sent_message' %} </p>
                    </div>
                    <div class="form-group my-2">
                        <label for="" class="text-primary"> {% trans 'attach_exec_files'%}</label>
                        <input type="file" name="file" multiple id="" class="form-control" required />
                    </div>
                    <div class="form-group my-2">
                        <label for="" class="text-primary">{% trans 'notes' %}</label>
                        <textarea name="notes" class="form-control" id="" cols="30" rows="2"></textarea>
                    </div>
                    <input type="submit" value="{% trans 'save' %}" class="btn btn-info w-100">
                </form>
            </div>
        </div>
    </div>
</div>

<!-- spare parts request  -->
<div id="spare_parts_request" role="dialoge" tabindex="-1" class="modal custom-modal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <div class="modal-header">
                <h2 class="modal-title" id="">{%trans 'sp_request' %} </h2>
                <button type="button" class="close btn btn-secondary" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">x</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="{% url 'service:spare_part_request' %}" method="post"  enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="hidden" name="service" value="{{service.id}}">
                    <div class="form-group my-2">
                        <label for="">{% trans 'requested_parts'%}</label>
                        <input type="text" name="requested_parts" id="" class="form-control" required />
                        <p class="invalid-feedback">{% trans 'requested_parts_required' %} </p>
                    </div>
                    <div class="form-group my-2">
                        <label for="" class="text-primary">{% trans 'details' %}</label>
                        <textarea name="details" class="form-control" id="" cols="30" rows="2"></textarea>
                    </div>
                    <div class="form-group my-2">
                        <label for="" class="text-primary"> {% trans 'files' %}</label>
                        <input type="file" name="file" multiple id="" class="form-control">
                    </div>
                    <input type="submit" value="{% trans 'save' %}" class="btn btn-info w-100">
                </form>
            </div>
        </div>
    </div>
</div>