
<!-- Hold service  -->

<div class="modal custom-modal fade" id="hold_service" role="dialog" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="form-header text-center ">
                    <h3>تعليق الطلب </h3>
                </div>
                <div class="modal-btn delete-action my-3">
                    <div class="">

                        <form action="{% url 'service:hold_service' %}" method="POST" enctype="multipart/form-data"
                            class="needs-validation" novalidate>
                            {% csrf_token%}
                            <input type="hidden" name="service" value="{{service.id}}">
                            {% if service.service_type == 'repair'%}
                            <div class="form-group">
                                <label for="">سبب التعليق</label>
                                <select name="reason" id="hold_reason_select" class="form-control" onchange="reasonSelect()">
                                    <option value="" disabled selected>اختر سبب التعليق </option>
                                    <option value="spare_parts">قطع غيار مطلوبة</option>
                                    <option value="other">سبب أخر </option>
                                </select>
                            </div>
                            {% else %}

                            <div class="form-group">
                                <label for="">سبب التعليق</label>
                                <input type="text" name="reason" class="form-control" id="">  
                            </div>

                            {% endif %}

                            
                            <div class="form-group hide" id="spare_parts_input_group">
                                <label for="">قطع الغيار المطلوبة </label>
                                <input type="text" name="spare_parts" id="sp_input" class="form-control">
                                <p class="invalid-feedback">قطع الغيار مطلوبة !!</p>
                            </div>
                            <div class="form-group">
                                <label for="">التفاصيل</label>
                                <textarea name="hold_reason" id="" cols="30" rows="3" required
                                    class="form-control"></textarea>
                                <p class="invalid-feedback">سبب التعليق مطلوب !! </p>
                            </div>
                            <div class="form-group my-3">
                                <label for="">ارفاق ملفات </label>
                                <input type="file" name="file" class="form-control" multiple id="">
                            </div>

                            <div class="d-flex my-3">
                                <button type="submit" class="btn btn-success continue-btn  w-100">حفظ</button>

                                <a href="javascript:void(0);" data-bs-dismiss="modal"
                                    class="btn btn-primary cancel-btn w-100">الغاء</a>
                            </div>

                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- confirm delete  -->
<div class="modal custom-modal fade" id="delete_approve" role="dialog" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="form-header text-center ">
                    <i class=" fas fa-trash-alt fa-3x my-3 text-danger"></i>
                    <h3>تأكيد الحذف الطلب رقم {{service.ref_number}}</h3>
                </div>
                <div class="modal-btn delete-action my-3">
                    <div class="row text-center">
                        <div class="col-6">
                            <form action="{% url 'service:delete_service' service.id %}" method="POST" id="delete-form">
                                {% csrf_token%}

                                <button type="submit" id="confirmed_delete"
                                    class="btn btn-danger continue-btn w-100">حذف</a>
                            </form>
                        </div>
                        <div class="col-6">
                            <a href="javascript:void(0);" data-bs-dismiss="modal"
                                class="btn btn-primary cancel-btn w-100">الغاء</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Change service status  -->
<div class="modal custom-modal fade" id="change_status" role="dialog" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="form-header text-center ">

                    <h3>تعديل حالة الطلب {{service.ref_number}}</h3>
                    <h5>حالة الطلب الحالية :
                        <span class="badge pill-rounded 
                        
                    {% if service.status  == 'new' %}
                       bg-warning
                    {% elif service.status == 'under_process' %}
                        bg-primary
                    {% elif  service.status == 'done' or service.status  == 'closed' %}
                        bg-success
                    {% endif %} ">{{service.get_status_display}}</span>
                    </h5>
                </div>
                <div class="modal-btn delete-action my-3">
                    <div class="row ">
                        <form action="{% url 'service:update_service_status' %}" method="POST">
                            <input type="hidden" name="service" value="{{service.id}}">
                            {% csrf_token%}
                            <label for="">حالة الطلب : </label>
                            <select name="status" id="" class="form-control">
                                {% for k ,v in status_choices  %}

                                <option value="{{k}}" {% if service.status == k %} selected {% endif %}>{{v}}</option>
                                {% endfor %}
                            </select>
                            <div class="d-flex my-3">
                                <button type="submit" class="btn btn-success continue-btn  w-100">حفظ</button>

                                <a href="javascript:void(0);" data-bs-dismiss="modal"
                                    class="btn btn-primary cancel-btn w-100">الغاء</a>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Edit appointments  -->
<div id="chnage-appointment" role="dialoge" tabindex="-1" class="modal custom-modal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">تعديل موعد التنفيذ</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="{% url 'service:set_appointment' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="service" value="{{service.id}}">
                    <div class="form-group">
                        <label for="">اختر الفني </label>
                        <select name="technician" id="" class="form-control" required>
                            <option value="" selected disabled>اختر من القائمة </option>
                            {% for tech in technician %}
                            <option value="{{tech.id}}" {% if tech.id == appointment.technician.id %} selected {% endif %} >{{tech.name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group my-2">
                        <label for="">ملاحظات</label>
                        <textarea name="notes" class="form-control" id="" cols="30" rows="2"></textarea>
                    </div>
                    <input type="submit" value="حفظ" class="btn btn-success w-100">
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Confirm excution -->
<div id="confirm_excution" role="dialoge" tabindex="-1" class="modal custom-modal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <div class="modal-header">
                
                <h2 class="modal-title" id="">تأكيد التنفيذ </h2>
                <button type="button" class="close btn btn-secondary" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">x</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="{% url 'service:confirm_excution' %}" method="post" novalidate class="need-validation" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="hidden" name="service" value="{{service.id}}">
                    <div class="form-group my-2">
                        <label for="" class="text-primary">كود التنفيذ</label>
                        <input type="text" name="code" id="" class="form-control">
                        <p class="invalid-feedback">كود التنفيذ مطلوب</p>
                        <p class="text-muted text-start">تم ارسال الكود للعميل عبر الجوال </p>
                    </div>
                    <div class="form-group my-2">
                        <label for="" class="text-primary"> ارفاق ملفات التنفيذ </label>
                        <input type="file" name="file" multiple id="" class="form-control" required />
                    </div>
                    <div class="form-group my-2">
                        <label for="" class="text-primary">ملاحظات</label>
                        <textarea name="notes" class="form-control" id="" cols="30" rows="2"></textarea>
                    </div>
                    <input type="submit" value="حفظ" class="btn btn-success w-100">
                </form>
            </div>
        </div>
    </div>
</div>

<!-- spare parts request  -->
<div id="spare_parts_request" role="dialoge" tabindex="-1" class="modal custom-modal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <div class="modal-header">
                <h2 class="modal-title" id="">طلب قطع غيار </h2>
                <button type="button" class="close btn btn-secondary" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">x</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="{% url 'service:spare_part_request' %}" method="post"  enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="hidden" name="service" value="{{service.id}}">
                    <div class="form-group my-2">
                        <label for="">القطع المطلوبة</label>
                        <input type="text" name="requested_parts" id="" class="form-control" required />
                        <p class="invalid-feedback">يجب ادخال اسم القطعة المطلوبة </p>
                    </div>
                    <div class="form-group my-2">
                        <label for="" class="text-primary">تفاصيل</label>
                        <textarea name="details" class="form-control" id="" cols="30" rows="2"></textarea>
                    </div>
                    <div class="form-group my-2">
                        <label for="" class="text-primary"> ملفات </label>
                        <input type="file" name="file" multiple id="" class="form-control">
                    </div>
                    <input type="submit" value="حفظ" class="btn btn-success w-100">
                </form>
            </div>
        </div>
    </div>
</div>